force-app/main/default/flows/Activate_Budgets_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Active_Budget</name>
        <label>Assign Active Budget</label>
        <locationX>138</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>ActivateBudget.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActivateBudget.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Budget_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Budget_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Active_Status</name>
        <label>Assign Active Status</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>ActivateBudget.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActivateBudget.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Budget1.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Budget</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Budget_Collection</name>
        <label>Assign Inactive Budget Collection</label>
        <locationX>402</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>COL_InactiveBudget</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Inactive_Budget</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Budget_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Count</name>
        <label>Assign Count</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Budget_Count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Budget_Collection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Multiple_Budgets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Inactive_Budget</name>
        <label>Assign Inactive Budget</label>
        <locationX>402</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Inactive_Budget.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Inactive_Budget.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Budget_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Budget_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Budget_Collection_Creator</name>
        <label>Budget Collection Creator</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Budget_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Budgets</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Active_Budget_Variable</name>
        <label>Set Active Budget Variable</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>ActivateBudget.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Which_Budget_is_Active</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Budget_Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Active_Budget_Decision</name>
        <label>Active Budget Decision</label>
        <locationX>270</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Assign_Inactive_Budget</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Desired_Budget</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Budget_Loop.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ActivateBudget.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Active_Budget</targetReference>
            </connector>
            <label>Desired Budget</label>
        </rules>
    </decisions>
    <decisions>
        <name>Multiple_Budgets</name>
        <label>Multiple Budgets</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Get_Budget1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>One Budget</defaultConnectorLabel>
        <rules>
            <name>Multiple_Budgets_Screen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Budget_Count</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Custom_Screen</targetReference>
            </connector>
            <label>Multiple Budgets Screen</label>
        </rules>
    </decisions>
    <description>2/3/25 SB - Update active budget on contract &amp; fix single budget handling &amp; handle not setting inactive on budget revisions
4/24/24 NN - Fixed recordId input to allow for input of data</description>
    <dynamicChoiceSets>
        <name>Budget_Records_Choice</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>(1 AND 2 AND 5) OR (1 AND 3 AND 4 AND 5)</filterLogic>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Budget_Revision</stringValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Budget_Revision</stringValue>
            </value>
        </filters>
        <filters>
            <field>Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Archived</stringValue>
            </value>
        </filters>
        <object>Budget</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Activate Budgets Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Activate Budgets Subflow</label>
    <loops>
        <name>Budget_Loop</name>
        <label>Budget Loop</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <collectionReference>Get_Budgets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Active_Budget_Decision</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_New_Budgets</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Budget1</name>
        <label>Get Budget</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Active_Status</targetReference>
        </connector>
        <filterLogic>(1 AND 2 AND 5) OR (1 AND 3 AND 4 AND 5)</filterLogic>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Budget_Revision</stringValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Budget_Revision</stringValue>
            </value>
        </filters>
        <filters>
            <field>Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Archived</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Budget</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Budgets</name>
        <label>Get Budgets</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Budget_Collection_Creator</targetReference>
        </connector>
        <filterLogic>(1 AND 2 AND 5) OR (1 AND 3 AND 4 AND 5)</filterLogic>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Budget_Revision</stringValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Budget_Revision</stringValue>
            </value>
        </filters>
        <filters>
            <field>Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Archived</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Budget</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Budget</name>
        <label>Update Budget</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Update_Contract</targetReference>
        </connector>
        <inputReference>ActivateBudget</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contract</name>
        <label>Update Contract</label>
        <locationX>182</locationX>
        <locationY>1682</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Active_Budget__c</field>
            <value>
                <elementReference>ActivateBudget.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Inactive_Budgets</name>
        <label>Update Inactive Budgets</label>
        <locationX>50</locationX>
        <locationY>1490</locationY>
        <connector>
            <targetReference>Update_Contract</targetReference>
        </connector>
        <inputReference>COL_InactiveBudget</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_New_Budgets</name>
        <label>Update Active Budgets</label>
        <locationX>50</locationX>
        <locationY>1382</locationY>
        <connector>
            <targetReference>Update_Inactive_Budgets</targetReference>
        </connector>
        <inputReference>ActivateBudget</inputReference>
    </recordUpdates>
    <screens>
        <name>Custom_Screen</name>
        <label>Custom Screen</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Active_Budget_Variable</targetReference>
        </connector>
        <fields>
            <name>Which_Budget_is_Active</name>
            <choiceReferences>Budget_Records_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Which Budget is Active</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Budgets</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ActivateBudget</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Budget</objectType>
    </variables>
    <variables>
        <name>Budget_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Budget</objectType>
    </variables>
    <variables>
        <name>Budget_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>COL_InactiveBudget</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Budget</objectType>
    </variables>
    <variables>
        <name>CurrentBudget</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Budget</objectType>
    </variables>
    <variables>
        <name>Inactive_Budget</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Budget</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
