force-app/main/default/flows/Active_Funding_Award_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Active_Status</name>
        <label>Assign Active Status</label>
        <locationX>308</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>Get_Budgets.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Budget</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Active_value_to_Funding_Award</name>
        <label>Assign Active value to Funding Award</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>Get_Funding_Award.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Funding_Award_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Budget_Collection</name>
        <label>Assign Budget Collection</label>
        <locationX>176</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>BudgetCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Budget_Collection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Budget_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Budget_Count</name>
        <label>Budget Count</label>
        <locationX>176</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Budget_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Budgets</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Budget_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Budget_Decision</name>
        <label>Budget Decision</label>
        <locationX>176</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Assign_Active_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Single Budget</defaultConnectorLabel>
        <rules>
            <name>Multiple_Budgets</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BudgetCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <label>Multiple Budgets</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Active Funding Award Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Active Funding Award Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Budgets</name>
        <label>Get Budgets</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Budget_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Budget</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Funding_Award</name>
        <label>Get Funding Award</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Active_value_to_Funding_Award</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContractId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FundingAward</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Budget</name>
        <label>Update Budget</label>
        <locationX>308</locationX>
        <locationY>1187</locationY>
        <inputReference>Get_Budgets</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Funding_Award_Status</name>
        <label>Update Funding Award Status</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Get_Budgets</targetReference>
        </connector>
        <inputReference>Get_Funding_Award</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Funding_Award</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <object>Contract</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>Budget_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Budget</objectType>
    </variables>
    <variables>
        <name>BudgetCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
