force-app/main/default/flows/Activate_Contracts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Active_Budget</name>
        <label>Assign Active Budget</label>
        <locationX>138</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>ActivateBudget.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActivateBudget.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Budget_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Budget_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Budget_Collection</name>
        <label>Assign Inactive Budget Collection</label>
        <locationX>402</locationX>
        <locationY>1946</locationY>
        <assignmentItems>
            <assignToReference>COL_InactiveBudget</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Inactive_Budget</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Budget_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Funding_Award</name>
        <label>Assign Funding Award</label>
        <locationX>138</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>Loop_Funding_Awards.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recs_FundingAwardUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Funding_Awards</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Funding_Awards</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Inactive_Budget</name>
        <label>Assign Inactive Budget</label>
        <locationX>402</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>Inactive_Budget.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Inactive_Budget.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Budget_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Budget_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contract_Activator</name>
        <label>Contract Activator</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>AssignContract.ActivatedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdateDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignContract.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignContract.ActivatedById</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignContract.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contract.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignContract.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contract_Start_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignContract.ContractExecutedDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contract_Executed_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignContract.ContractTerm</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contract_Term_in_months</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Active_Budget_Variable</name>
        <label>Set Active Budget Variable</label>
        <locationX>50</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>ActivateBudget.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Which_budget_do_you_want_to_set_to_active</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Budget_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Project_Status</name>
        <label>Set Project Status</label>
        <locationX>138</locationX>
        <locationY>2762</locationY>
        <assignmentItems>
            <assignToReference>Loop_Projects.Project_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Projects</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Active_Budget_Decision</name>
        <label>Active Budget Decision</label>
        <locationX>270</locationX>
        <locationY>1730</locationY>
        <defaultConnector>
            <targetReference>Assign_Inactive_Budget</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Desired_Budget</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Budget_Loop.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ActivateBudget.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Active_Budget</targetReference>
            </connector>
            <label>Desired Budget</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Any_Related_Budgets</name>
        <label>Check for Any Related Budgets</label>
        <locationX>380</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>No_Related_Budgets_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Related Budgets</defaultConnectorLabel>
        <rules>
            <name>Yes_Related_Budgets</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Related_Budgets</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Funding_Awards</targetReference>
            </connector>
            <label>Yes Related Budgets</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Funding</name>
        <label>Check for Funding</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>No_Funding_Award</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Funding</defaultConnectorLabel>
        <rules>
            <name>Funding_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Funding_Awards</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contract_Info_screen</targetReference>
            </connector>
            <label>Funding exists</label>
        </rules>
    </decisions>
    <description>CC 2/7/25 - updated settings to System Without Sharing - Access All Data (attempt to resolve activation error)
SB 2/6/25 - Mapp contract term in Months
CC 5/8/24 - added some handling / updated decision on if budget is active or not
NN 5/2/2024 - added logic to exit the flow without an unhandled fault
CC 4/26/24 - updated funding awards to be rec collection (all records) and setting status of each to Active
CC 4/25/24 - populating active budget l/u on contract
NN-4/25/24 Updated t fix issue with single contract</description>
    <dynamicChoiceSets>
        <name>Budget_Records_Choice</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Budget</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ccs_AllRelatedBudgets</name>
        <collectionReference>Get_All_Related_Budgets</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Budget</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>UpdateDate</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Activate Contracts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Activate Contracts</label>
    <loops>
        <name>Budget_Loop</name>
        <label>Budget Loop</label>
        <locationX>50</locationX>
        <locationY>1622</locationY>
        <collectionReference>Get_All_Related_Budgets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Active_Budget_Decision</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_New_Budgets</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Funding_Awards</name>
        <label>Loop Funding Awards</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <collectionReference>Get_Related_Funding_Awards</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Funding_Award</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Funding_Awards</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Projects</name>
        <label>Loop Projects</label>
        <locationX>50</locationX>
        <locationY>2654</locationY>
        <collectionReference>Get_All_Projects_Related_to_Contract</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Project_Status</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_All_Projects_Related_to_Contract</name>
        <label>Get All Projects Related to Contract</label>
        <locationX>50</locationX>
        <locationY>2546</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Projects</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contract.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Project__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Related_Budgets</name>
        <label>Get All Related Budgets</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Any_Related_Budgets</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Budget</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contract</name>
        <label>Get Contract</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Related_Budgets</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Funding_Awards</name>
        <label>Get Related Funding Awards</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Funding</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContractId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FundingAward</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Populate_Active_Budget_Lookup_on_Contract</name>
        <label>Populate Active Budget Lookup on Contract</label>
        <locationX>50</locationX>
        <locationY>2438</locationY>
        <connector>
            <targetReference>Get_All_Projects_Related_to_Contract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contract.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Active_Budget__c</field>
            <value>
                <elementReference>ActivateBudget.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contract</name>
        <label>Update Contract</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Loop_Funding_Awards</targetReference>
        </connector>
        <inputReference>AssignContract</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Funding_Awards</name>
        <label>Update Funding Awards</label>
        <locationX>50</locationX>
        <locationY>1298</locationY>
        <connector>
            <targetReference>Budget_Selection_to_Make_Active_screen</targetReference>
        </connector>
        <inputReference>recs_FundingAwardUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Inactive_Budgets</name>
        <label>Update Inactive Budgets</label>
        <locationX>50</locationX>
        <locationY>2330</locationY>
        <connector>
            <targetReference>Populate_Active_Budget_Lookup_on_Contract</targetReference>
        </connector>
        <inputReference>COL_InactiveBudget</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_New_Budgets</name>
        <label>Update Active Budgets</label>
        <locationX>50</locationX>
        <locationY>2222</locationY>
        <connector>
            <targetReference>Update_Inactive_Budgets</targetReference>
        </connector>
        <inputReference>ActivateBudget</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Projects</name>
        <label>Update Projects</label>
        <locationX>138</locationX>
        <locationY>2870</locationY>
        <connector>
            <targetReference>Loop_Projects</targetReference>
        </connector>
        <inputReference>Loop_Projects</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Budget_Selection_to_Make_Active_screen</name>
        <label>Budget Selection to Make Active</label>
        <locationX>50</locationX>
        <locationY>1406</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Active_Budget_Variable</targetReference>
        </connector>
        <fields>
            <name>Which_budget_do_you_want_to_set_to_active</name>
            <choiceReferences>ccs_AllRelatedBudgets</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Which budget do you want to set to active?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Contract_Info_screen</name>
        <label>Contract Info</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Contract_Activator</targetReference>
        </connector>
        <fields>
            <name>dt_contract_info_screen</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Confirm or enter the information about the contract below.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Contract_Info_screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Contract_Info_screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Contract_Start_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Get_Contract.StartDate</elementReference>
                    </defaultValue>
                    <fieldText>Contract Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Contract_Executed_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Get_Contract.ContractExecutedDate__c</elementReference>
                    </defaultValue>
                    <fieldText>Contract Executed Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Contract_Info_screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Contract_Term_in_months</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Contract.ContractTerm</elementReference>
                    </defaultValue>
                    <fieldText>Contract Term (in months)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;The contract term cannot exceed a length of 4 characters&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN(TEXT({!Contract_Term_in_months})) &lt; 4</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Funding_Award</name>
        <label>No Funding Award</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Redirect_to_Funding_Award_Flow</targetReference>
        </connector>
        <fields>
            <name>No_related_funding_awards</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;There are no related funding awards to this contract. If you&apos;d like to create a funding award, please do so through the button below.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Create Funding Award</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Related_Budgets_screen</name>
        <label>No Related Budgets</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Redirect_to_Budget_Creator_Flow</targetReference>
        </connector>
        <fields>
            <name>No_related_budgets</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;There are no related budgets to this contract. If you&apos;d like to create a budget, please do so through the button below.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Create Budget</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contract</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Redirect_to_Budget_Creator_Flow</name>
        <label>Redirect to Budget Creator Flow</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <flowName>Budget_Creator</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Contract.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Redirect_to_Funding_Award_Flow</name>
        <label>Redirect to Funding Award Flow</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <flowName>Funding_Award_and_Transaction_Record_Create</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Contract.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>ActivateBudget</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Budget</objectType>
    </variables>
    <variables>
        <name>AssignContract</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>Budget_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Budget</objectType>
    </variables>
    <variables>
        <name>Budget_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>COL_InactiveBudget</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Budget</objectType>
    </variables>
    <variables>
        <name>CurrentBudget</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Inactive_Budget</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Budget</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recs_FundingAwardUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FundingAward</objectType>
    </variables>
</Flow>
