force-app/main/default/flows/Application_Submitted_Updates_Record_Triggered_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Application_Detail_Multi_Object_Flattener</name>
        <label>Application Detail Multi Object Flattener</label>
        <locationX>182</locationX>
        <locationY>1884</locationY>
        <actionName>MultiObjectAppDetailFlattener</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>CDA_Program_App_Submission</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>application</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MultiObjectAppDetailFlattener</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>CDA_Program_App_Submission</name>
        <label>CDA - Program App Submission</label>
        <locationX>182</locationX>
        <locationY>1992</locationY>
        <actionName>Application__c.CDA_For_Sale_Housing_Program_App_Submission</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Application__c.CDA_For_Sale_Housing_Program_App_Submission</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>358</locationX>
        <locationY>1416</locationY>
        <assignmentItems>
            <assignToReference>colContentDocumentLinksNew</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Project_Account</name>
        <label>Assign Project Account</label>
        <locationX>490</locationX>
        <locationY>1008</locationY>
        <assignmentItems>
            <assignToReference>rec_Project.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Project</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Project_Name</name>
        <label>Assign Project Name</label>
        <locationX>490</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>rec_Project.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frm_ProjectName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Project_Rec</name>
        <label>Assign Project Rec</label>
        <locationX>622</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>rec_Project</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Project</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Project_Name_Flattened</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Linked_Var</name>
        <label>Set Linked Var</label>
        <locationX>578</locationX>
        <locationY>924</locationY>
        <assignmentItems>
            <assignToReference>var_Linked</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Linked_Var_to_False</name>
        <label>Set Linked Var to False</label>
        <locationX>622</locationX>
        <locationY>1308</locationY>
        <assignmentItems>
            <assignToReference>var_Linked</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Target_Link_Clear_Record_Id</name>
        <label>Set Target Link &amp; Clear Record Id</label>
        <locationX>358</locationX>
        <locationY>1308</locationY>
        <assignmentItems>
            <assignToReference>Loop_1.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Project__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_1.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_Exists</name>
        <label>Account Exists</label>
        <locationX>622</locationX>
        <locationY>900</locationY>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>Yes_AccExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Project_Account</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_there_files</name>
        <label>Are there files?</label>
        <locationX>182</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>Application_Detail_Multi_Object_Flattener</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Application_Content_Document_Links</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Project_Content_Document_Links</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Existing_Links</name>
        <label>Check Existing Links</label>
        <locationX>710</locationX>
        <locationY>816</locationY>
        <defaultConnector>
            <targetReference>Loop_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Needs to be Linked</defaultConnectorLabel>
        <rules>
            <name>Document_Already_Linked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_1.ContentDocumentId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_2.ContentDocumentId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Linked_Var</targetReference>
            </connector>
            <label>Document Already Linked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Linked_Var</name>
        <label>Check Linked Var</label>
        <locationX>490</locationX>
        <locationY>1200</locationY>
        <defaultConnector>
            <targetReference>Set_Linked_Var_to_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>True</defaultConnectorLabel>
        <rules>
            <name>False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Linked</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Target_Link_Clear_Record_Id</targetReference>
            </connector>
            <label>False</label>
        </rules>
    </decisions>
    <decisions>
        <name>Project_Exists</name>
        <label>Project Exists?</label>
        <locationX>776</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Project.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Project_Rec</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Project_Name_Flattened</name>
        <label>Project Name Flattened?</label>
        <locationX>622</locationX>
        <locationY>600</locationY>
        <defaultConnector>
            <targetReference>Account_Exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Flattened</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Project.Name</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a0r82</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Project_Name</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>frm_ProjectName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Account__r.Name} + &quot;: &quot; + {!$Record.Reference_Application__r.Display_Name__c}</expression>
    </formulas>
    <interviewLabel>Application Submitted Updates [Record-Triggered (After Save)] {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Application Submitted Updates [Record-Triggered (After Save)]</label>
    <loops>
        <name>Loop_1</name>
        <label>Loop 1</label>
        <locationX>50</locationX>
        <locationY>600</locationY>
        <collectionReference>Get_Application_Content_Document_Links</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Share_Document</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_2</name>
        <label>Loop 2</label>
        <locationX>490</locationX>
        <locationY>708</locationY>
        <collectionReference>Get_Project_Content_Document_Links</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Existing_Links</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Linked_Var</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Share_Document</name>
        <label>Share Document</label>
        <locationX>50</locationX>
        <locationY>1692</locationY>
        <connector>
            <targetReference>Application_Detail_Multi_Object_Flattener</targetReference>
        </connector>
        <inputReference>colContentDocumentLinksNew</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Application_Content_Document_Links</name>
        <label>Get Application Content Document Links</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_there_files</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Project</name>
        <label>Get Project</label>
        <locationX>776</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Project_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Project__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Project_Content_Document_Links</name>
        <label>Get Project Content Document Links</label>
        <locationX>50</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Project__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Project</name>
        <label>Update Project</label>
        <locationX>490</locationX>
        <locationY>1116</locationY>
        <inputReference>rec_Project</inputReference>
    </recordUpdates>
    <start>
        <locationX>353</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Application_Content_Document_Links</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </filters>
        <object>Application__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_Project</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>colContentDocumentLinksNew</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>rec_Project</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project__c</objectType>
    </variables>
    <variables>
        <name>var_Linked</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
