force-app/main/default/flows/Application_Budget_Display.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_AllSameAmount_False</name>
        <label>Assign AllSameAmount False</label>
        <locationX>798</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>allSameAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isComplete</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Budget_Match_Flag</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_AllSameAmount_True</name>
        <label>Assign AllSameAmount True</label>
        <locationX>1062</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>allSameAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isComplete</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>applicationForUpdate.Budget_Match__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X1Loop_Budgets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Application_Id</name>
        <label>Assign Application Id</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>applicationForUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Budgets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Budget_Total_Activity_Amount</name>
        <label>Assign Budget Total Activity Amount</label>
        <locationX>534</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>firstBudgetTotalActivityAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>X1Loop_Budgets.Total_Activity_Budget_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>firstBudgetTotalProposedCDBGAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>X1Loop_Budgets.Total_Planned_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>firstBudgetTotalOtherFunding</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>X1Loop_Budgets.Total_Other_Funding__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X1Loop_Budgets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Clears the First Budget Amount variable for reassignment</description>
        <name>Clear_First_Budget_Amount</name>
        <label>Clear First Budget Amount</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>firstBudgetTotalActivityAmount</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>firstBudgetTotalProposedCDBGAmount</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>firstBudgetTotalOtherFunding</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>X1Loop_Budgets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Variables</name>
        <label>Clear Variables</label>
        <locationX>182</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>firstBudgetTotalActivityAmount</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Budgets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Budget_Match_Flag</name>
        <label>Update Budget Match Flag</label>
        <locationX>798</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>applicationForUpdate.Budget_Match__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>applicationForUpdate.Block_Submit_Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MatchingBudgetBlockMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X1Loop_Budgets</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <description>Checks if the Total Budget Amount, Total Proposed CDBG Amount and Total Other Funding amount for the current loop iteration is the same as the First Budget Amount. If not, the budgets are not equal and isComplete is set to false.</description>
        <name>Does_Current_Loop_Iteration_equal_the_Prior_Loop_Iteration</name>
        <label>Does Current Loop Iteration equal the Prior Loop Iteration?</label>
        <locationX>666</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Assign_AllSameAmount_True</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Equal</defaultConnectorLabel>
        <rules>
            <name>Is_Amount_Zero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>X1Loop_Budgets.Total_Activity_Budget_Amount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>X1Loop_Budgets.Total_Planned_Amount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>X1Loop_Budgets.Total_Other_Funding__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Assign_AllSameAmount_False</targetReference>
            </connector>
            <label>Is Amount Zero?</label>
        </rules>
        <rules>
            <name>First_Iteration</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>firstBudgetTotalActivityAmount</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>firstBudgetTotalProposedCDBGAmount</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>firstBudgetTotalOtherFunding</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Assign_Budget_Total_Activity_Amount</targetReference>
            </connector>
            <label>First Iteration?</label>
        </rules>
        <rules>
            <name>Not_Equal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>X1Loop_Budgets.Total_Activity_Budget_Amount__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>firstBudgetTotalActivityAmount</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>X1Loop_Budgets.Total_Planned_Amount__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>firstBudgetTotalProposedCDBGAmount</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>X1Loop_Budgets.Total_Other_Funding__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>firstBudgetTotalOtherFunding</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_AllSameAmount_False</targetReference>
            </connector>
            <label>Not Equal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Check</name>
        <label>Status Check</label>
        <locationX>182</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <targetReference>Budget_Table_Read_Only</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Read Only</defaultConnectorLabel>
        <rules>
            <name>Open_for_Edits</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Application.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Budget_Table</targetReference>
            </connector>
            <label>Open for Edits</label>
        </rules>
    </decisions>
    <description>03/18/26  - &apos;Total Proposed CDBG Amount&apos; &amp; &apos;Total Other Funding&apos; included in the validation (Loop)
03/09/26  - &apos;Select Budget for Edit&apos; Screen component is updated- Budget table column name &apos;Total Proposed CDBG Amount&apos;(roll-up of Proposed CDBG amount) &amp; &apos;Total Other Funding&apos;(roll-up of Other Funding amount) columns were included.
1/15/25 SB - Reroute flow to check application status
07/31/2025 - &apos;Select Budget for Edit&apos; Screen component is updated- Budget table column name &apos;Total Active Budget&apos;(roll-up of Proposed CDBG amount)  is updated to &quot;Total Activity Budget Amount&quot; (roll-up of the total activity budget field in the Budget Category object)</description>
    <environments>Default</environments>
    <formulas>
        <description>Total Activity Budget amount on Expense and Revenue should match the Project coat on the application</description>
        <name>fmTotalActivityBudgetAmountMatchesProjectCost</name>
        <dataType>Boolean</dataType>
        <expression>{!X1Loop_Budgets.Total_Activity_Budget_Amount__c}={!Get_Application.Project_Cost__c}</expression>
    </formulas>
    <interviewLabel>Application - Budget Display {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Application - Budget Display</label>
    <loops>
        <description>Loops through the budgets to validate that the amounts are the same across all budgets. If not, the isComplete variable is set to false.</description>
        <name>X1Loop_Budgets</name>
        <label>1Loop Budgets</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <collectionReference>Get_Budgets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Does_Current_Loop_Iteration_equal_the_Prior_Loop_Iteration</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Application</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Application</name>
        <label>Get Application</label>
        <locationX>182</locationX>
        <locationY>1382</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Status_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Budgets</name>
        <label>Get Budgets</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Clear_First_Budget_Amount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Property__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Budget</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Temporarily_Block_Application_Submit</name>
        <label>Temporarily Block Application Submit</label>
        <locationX>182</locationX>
        <locationY>1274</locationY>
        <connector>
            <targetReference>Get_Application</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Block_Submit_Message__c</field>
            <value>
                <elementReference>BlockUnsavedSubmissionMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Budget_Match__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Application</name>
        <label>Update Application</label>
        <locationX>182</locationX>
        <locationY>1058</locationY>
        <connector>
            <targetReference>Select_Budget_for_Edit_Screen</targetReference>
        </connector>
        <inputReference>applicationForUpdate</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Select_Budget_for_Edit_Screen</name>
        <label>Select Budget for Edit Screen</label>
        <locationX>182</locationX>
        <locationY>1166</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Temporarily_Block_Application_Submit</targetReference>
        </connector>
        <fields>
            <name>Instruction_For_Filling_out_Budget_Display_Text</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Please select one of the budgets below to start filling out your budget. Any budgets that are not filled out upon application submission may result in increased processing time and delay funding awarding for your project. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Budget_Selection_Data_Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Budget</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Chose one of your budget to modify</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Budgets</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-e72e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Budget Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Total_Activity_Budget_Amount__c&quot;,&quot;guid&quot;:&quot;column-73a8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Total Activity Budget Amount&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Total_Planned_Amount__c&quot;,&quot;guid&quot;:&quot;column-4e59&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;sortable&quot;:false,&quot;label&quot;:&quot;Total Proposed CDBG  Amount&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Total_Other_Funding__c&quot;,&quot;guid&quot;:&quot;column-1b0d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;sortable&quot;:false,&quot;label&quot;:&quot;Total Other Funding&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dsp_BudgetAmountError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Warning - The Total Activity Budget Amount, Total Proposed CDBG Amount and Total Other funding Amount must match across all budgets and cannot be $0.00.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>allSameAmount</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Application_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Budget_Table</name>
        <label>Budget Table</label>
        <locationX>50</locationX>
        <locationY>1598</locationY>
        <connector>
            <targetReference>Clear_Variables</targetReference>
        </connector>
        <flowName>Screen_Flow_Budget_Table</flowName>
        <inputAssignments>
            <name>inputVar_BudgetId</name>
            <value>
                <elementReference>Budget_Selection_Data_Table.firstSelectedRow.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Budget_Table_Read_Only</name>
        <label>Budget Table - Read Only</label>
        <locationX>314</locationX>
        <locationY>1598</locationY>
        <connector>
            <targetReference>Clear_Variables</targetReference>
        </connector>
        <flowName>Screen_Flow_Budget_Table_Read_Only</flowName>
        <inputAssignments>
            <name>inputVar_BudgetId</name>
            <value>
                <elementReference>Budget_Selection_Data_Table.firstSelectedRow.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>BlockUnsavedSubmissionMessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Please use the Save button to save your changes before submitting</text>
    </textTemplates>
    <textTemplates>
        <name>MatchingBudgetBlockMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Your Revenue and Expense budget amounts must match. Please update and try again.</text>
    </textTemplates>
    <variables>
        <name>allSameAmount</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>applicationForUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Application__c</objectType>
    </variables>
    <variables>
        <name>applicationSectionForUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Application_Section__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Budget</objectType>
    </variables>
    <variables>
        <name>firstBudgetTotalActivityAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>firstBudgetTotalOtherFunding</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>firstBudgetTotalProposedCDBGAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>isComplete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
