force-app/main/default/flows/Application_Create_Content_Document_Link_Share.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>138</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>colContentDocumentLinksNew</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Target_Link_Clear_Record_Id</name>
        <label>Set Target Link &amp; Clear Record Id</label>
        <locationX>138</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Loop_1.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Project__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_1.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_there_files</name>
        <label>Are there files?</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Content_Document_Link</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>5/15/24 SB - Add Fault path for duplicate content document share links</description>
    <environments>Default</environments>
    <interviewLabel>Application - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Application - Create Content Document Link Share</label>
    <loops>
        <name>Loop_1</name>
        <label>Loop 1</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_Content_Document_Link</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Target_Link_Clear_Record_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Share_Document</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Share_Document</name>
        <label>Share Document</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <inputReference>colContentDocumentLinksNew</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Content_Document_Link</name>
        <label>Get Content Document Link</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_there_files</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Content_Document_Link</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </filters>
        <object>Application__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>colContentDocumentLinksNew</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
</Flow>
