force-app/main/default/flows/BCV_Get_All_Prior_Disbursed_Amounts_Record_Triggered.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Disbursement_Amount</name>
        <label>Add Disbursement Amount</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_TotalDisbursementAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Prior_BCV.Actual_Disbursed__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Prior_BCV</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Prior_BCV_Id_Var</name>
        <label>Assign Prior BCV Id Var</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_PriorBCVId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Prior_BCV.Prior_Budget_Category_Value__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Prior_BCV</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Prior_BCV</name>
        <label>Check Prior BCV</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Total_Prior_Disbursed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Last BCV</defaultConnectorLabel>
        <rules>
            <name>Get_Next_BCV</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Prior_BCV.Prior_Budget_Category_Value__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Prior_BCV_Id_Var</targetReference>
            </connector>
            <label>Get Next BCV</label>
        </rules>
    </decisions>
    <decisions>
        <name>From_a_revised_budget</name>
        <label>From a revised budget?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_revised</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Prior_Budget_Category_Value__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Prior_BCV</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>BCV - Get All Prior Disbursed Amounts [Record-Triggered] {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BCV - Get All Prior Disbursed Amounts [Record-Triggered]</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Prior_BCV</name>
        <label>Get Prior BCV</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Disbursement_Amount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_PriorBCVId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BudgetCategoryValue</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Total_Prior_Disbursed</name>
        <label>Update Total Prior Disbursed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Total_Prior_Disbursed__c</field>
            <value>
                <elementReference>var_TotalDisbursementAmount</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>From_a_revised_budget</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Prior_Budget_Category_Value__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>BudgetCategoryValue</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>var_PriorBCVId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Prior_Budget_Category_Value__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>var_TotalDisbursementAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
