force-app/main/default/flows/BUdget_Category_Value_Rollup_Trigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>BCD_Approved_Disbursement</name>
        <label>BCD - Approved Disbursement</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <actionName>dlrs__RollupActionCalculate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>BCD_Pending_Disbursement</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ParentId</name>
            <value>
                <elementReference>$Record.Budget_Category_Detail__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RollupSummaryUniqueName</name>
            <value>
                <stringValue>BCD_ApprovedDisbursement</stringValue>
            </value>
        </inputParameters>
        <nameSegment>dlrs__RollupActionCalculate</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>BCD_Pending_Disbursement</name>
        <label>BCD - Pending Disbursement</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <actionName>dlrs__RollupActionCalculate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>BCD_Reallocated_Amount</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ParentId</name>
            <value>
                <elementReference>$Record.Budget_Category_Detail__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RollupSummaryUniqueName</name>
            <value>
                <stringValue>BCD_PendingDisbursement</stringValue>
            </value>
        </inputParameters>
        <nameSegment>dlrs__RollupActionCalculate</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>BCD_Reallocated_Amount</name>
        <label>BCD Reallocated Amount</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <actionName>dlrs__RollupActionCalculate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>BCD_Reallocation_Amount</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ParentId</name>
            <value>
                <elementReference>$Record.Budget_Category_Detail__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RollupSummaryUniqueName</name>
            <value>
                <stringValue>BCD_ReallocatedAmount</stringValue>
            </value>
        </inputParameters>
        <nameSegment>dlrs__RollupActionCalculate</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>BCD_Reallocation_Amount</name>
        <label>BCD Reallocation Amount</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <actionName>dlrs__RollupActionCalculate</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ParentId</name>
            <value>
                <elementReference>$Record.Budget_Category_Detail__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RollupSummaryUniqueName</name>
            <value>
                <stringValue>BCD_ReallocationAmount</stringValue>
            </value>
        </inputParameters>
        <nameSegment>dlrs__RollupActionCalculate</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Used to trigger dlrs rollup

3/4/2026 SB - Remove &apos;Actual Amount&apos; DLRS rollup</description>
    <environments>Default</environments>
    <interviewLabel>BUdget Category Value - Rollup Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Budget Category Value - Rollup Trigger</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>BCD_Approved_Disbursement</targetReference>
        </connector>
        <object>CostCategoryDetail__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
