force-app/main/default/flows/Budget_Creator.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Name</name>
        <label>Assign Name</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>NewBudget.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Budget_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBudget.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contract_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Budget</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Name_no_template</name>
        <label>Assign Name no template</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>NewBudget.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Budget_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBudget.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contract_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Budget_no_Template</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Budget_Category_Assigner</name>
        <label>Budget Category Assigner</label>
        <locationX>226</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>SOV_BudgetCategory.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BudgetCategory_Loop1.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_BudgetCategory.BudgetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewBudget.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_BudgetCategory.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BudgetCategory_Loop1.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_BudgetCategory.SequenceNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BudgetCategory_Loop1.SequenceNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_BudgetCategory.Reason</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BudgetCategory_Loop1.Reason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_BudgetCategory.Can_Add_More_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BudgetCategory_Loop1.Can_Add_More_Details__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_BudgetCategory.Account_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BudgetCategory_Loop1.Account_No__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Budget_Category</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Budget_Line_Item_Assigner</name>
        <label>Budget Line Item Assigner</label>
        <locationX>314</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>SOV_Budget_LineItem.Discription__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Budget_Line_Item_Loop_1.Discription__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_Budget_LineItem.Sort_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Budget_Line_Item_Loop_1.Sort_Order__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_Budget_LineItem.Budget_Detail_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Budget_Line_Item_Loop_1.Budget_Detail_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_Budget_LineItem.BudgetCategoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SOV_BudgetCategory.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_Budget_LineItem.Account_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Budget_Line_Item_Loop_1.Account_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Budget_Line_Item_Collector</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Budget_Line_Item_Collector</name>
        <label>Budget Line Item Collector</label>
        <locationX>314</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>COL_Budget_LineItem</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SOV_Budget_LineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Budget_Line_Item_Loop_1</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <description>Build a Budget based on template</description>
        <name>Template_Used</name>
        <label>Template Used</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Assign_Name_no_template</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Template</defaultConnectorLabel>
        <rules>
            <name>Template</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Template_Question</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Name</targetReference>
            </connector>
            <label>Template</label>
        </rules>
    </decisions>
    <description>11/19/25 SB - Add Account # mapping to Budget Line Items
1/14/25 SB - mapped &apos;Can Add More Details&apos; field
6/5//24 CC - made Budget Name required on screen input - updated variable assignments
4/19/2024 - NN - Fixed incorrect Assignment when not using template</description>
    <dynamicChoiceSets>
        <name>Record_Picklist</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Template__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Budget</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Budget Creator {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Budget Creator</label>
    <loops>
        <name>Budget_Line_Item_Loop_1</name>
        <label>Budget Line Item Loop 1</label>
        <locationX>226</locationX>
        <locationY>1214</locationY>
        <collectionReference>Get_Budget_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Budget_Line_Item_Assigner</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>BudgetCategory_Loop1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>BudgetCategory_Loop1</name>
        <label>BudgetCategory Loop1</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <collectionReference>Get_Budget_Categories</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Budget_Category_Assigner</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Budget_Line_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Budget_Category</name>
        <label>Create Budget Category</label>
        <locationX>226</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Get_Budget_Line_Items</targetReference>
        </connector>
        <inputReference>SOV_BudgetCategory</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Budget_Line_Items</name>
        <label>Create Budget Line Items</label>
        <locationX>50</locationX>
        <locationY>1706</locationY>
        <inputReference>COL_Budget_LineItem</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Budget_no_Template</name>
        <label>Create Budget no Template</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <inputReference>NewBudget</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Budget</name>
        <label>Create New Budget</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Get_Budget_Categories</targetReference>
        </connector>
        <inputReference>NewBudget</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Budget_Categories</name>
        <label>Get Budget Categories</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BudgetCategory_Loop1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BudgetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Template_Picklist</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BudgetCategory</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Budget_Line_Items</name>
        <label>Get Budget Line Items</label>
        <locationX>226</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Budget_Line_Item_Loop_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BudgetCategoryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BudgetCategory_Loop1.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BudgetCategoryValue</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contract_Record</name>
        <label>Get Contract Record</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Budget_Creation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Budget_Creation</name>
        <label>Budget Creation</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Template_Used</targetReference>
        </connector>
        <fields>
            <name>Budget_Name</name>
            <dataType>String</dataType>
            <fieldText>Budget Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Template_Question</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Would you like to use a Template?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Template_Picklist</name>
            <choiceReferences>Record_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Template</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Template_Question</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contract_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>BudgetCategoryCapturedID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BudgetCategoryValue</objectType>
    </variables>
    <variables>
        <name>ChosenTemplate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>COL_Budget_Category</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BudgetCategory</objectType>
    </variables>
    <variables>
        <name>COL_Budget_Category_ID</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BudgetCategory</objectType>
    </variables>
    <variables>
        <name>COL_Budget_LineItem</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BudgetCategoryValue</objectType>
    </variables>
    <variables>
        <name>NewBudget</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Budget</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SOV_Budget_LineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BudgetCategoryValue</objectType>
    </variables>
    <variables>
        <name>SOV_BudgetCategory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BudgetCategory</objectType>
    </variables>
    <variables>
        <name>SOV_BudgetID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Budget</objectType>
    </variables>
    <variables>
        <name>TemplateCollection</name>
        <dataType>Picklist</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
