force-app/main/default/flows/Budget_Budget_Display.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Status_Check</name>
        <label>Status Check</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Budget_Table_Read_Only</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Read Only</defaultConnectorLabel>
        <rules>
            <name>Open_for_Edits</name>
            <conditionLogic>(1 OR 2)  AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>Get_Budget.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Budget.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Planned</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Budget.Approval_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Budget.Approval_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Budget_Table</targetReference>
            </connector>
            <label>Open for Edits</label>
        </rules>
    </decisions>
    <description>2/10/25 SB - Update Status check criteria</description>
    <environments>Default</environments>
    <interviewLabel>Budget - Budget Display {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Budget - Budget Display</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Budget</name>
        <label>Get Budget</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Status_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Budget</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Budget</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Budget_Table</name>
        <label>Budget Table</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Budget</targetReference>
        </connector>
        <flowName>Screen_Flow_Budget_Table</flowName>
        <inputAssignments>
            <name>inputVar_BudgetId</name>
            <value>
                <elementReference>Get_Budget.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Budget_Table_Read_Only</name>
        <label>Budget Table - Read Only</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Budget</targetReference>
        </connector>
        <flowName>Screen_Flow_Budget_Table_Read_Only</flowName>
        <inputAssignments>
            <name>inputVar_BudgetId</name>
            <value>
                <elementReference>Get_Budget.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
