force-app/main/default/flows/CDA_Budget_Information_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Budget_Info</name>
        <label>Assign Budget Info</label>
        <locationX>226</locationX>
        <locationY>1664</locationY>
        <assignmentItems>
            <assignToReference>rec_Budget.City_of_St_Louis_CDBG__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>City_of_St_Louis_CDBG</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Budget.Other__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Other_Revenue1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Budget.Other_Federal_Grants__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Other_Federal_Grants</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Budget.State_Grants__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>State_Grant</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Budget.Corporate_Contributions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Corporate_Contributions</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Budget.Endowments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Endowments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Budget.FundraisersSpecial_Events__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fundraiser_Special_Events</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Budget.Investment_Income__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Investment_Income</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Budget.Interest_Income__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Interest_Income</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Budget.Fee_Revenue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fee_Revenue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Budget.In_Kind_Income__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>In_Kind_Income</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Budget.Total_Revenue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frm_TotalRevenue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Budget.Personel_Salaries_and_Wages__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Personnel_Salaries</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Budget.Payroll_Taxes_and_Fringe_Benefits__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Payroll_Taxes_and_Fringe_Benefits</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Budget.RentLeaseMortgage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rent_Lease_Mortgage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Budget.Utilities__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Utilities</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Budget.Telephone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Telephone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Budget.Office_Supplies__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Office_Supplies</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Budget.Postage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Postage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Budget.Printing_and_Copying__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Printing_and_Copying</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Budget.Travel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Travel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Budget.Insurance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Insurance</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Budget.Consultant_and_Contract_Services__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Consultant_and_Contract_Service</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Budget.Legal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Legal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Budget.Accounting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Accounting</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Budget.in_Kind_Expenses__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>In_Kind_Expenses</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Budget.Other_Expenses__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Other_Expenses1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Budget.EXCESS_REVENUE_LOSS_OVER_EXPENSES__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frm_ExcessRevenue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Budget.Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Budget.Fiscal_Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fiscal_Year</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Budget.Explain_In_Kind_amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Please_explain_in_kind_income_and_expenses_and_how_calculated</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Budget.Total_Expenses__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frm_TotalExpenses</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isComplete</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Budget.Budget_Name__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Budget.Other_Outside_Computer_Services__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Other_Outside_Computer_Services_Revenue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Budget.Other_Apprentices_Wages_Taxes_Benefits__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Other_Apprentices_Wages_Taxes_Benefits_Revenue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Budget.Other_Outside_Computer_Services_Expense__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Other_Outside_Computer_Services_Expense</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Budget.Other_Apprentice_Wages_Expense__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Other_Apprentices_Wages_Taxes_Benefits_Expense</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Budget_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Selected</name>
        <label>Assign Selected</label>
        <locationX>138</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>rec_Budget</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Budget_Table.outputSelectedRow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Budget_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the Selected Budget for the ReadOnly path of the flow. This will be displayed in the following screen in a readonly format.</description>
        <name>Assign_Selected_ReadOnly</name>
        <label>Assign Selected ReadOnly</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>rec_Budget</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Budget_Table_ReadOnly.outputSelectedRow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Budget_Screen_ReadOnly</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Budget_Info</name>
        <label>Copy 1 of Assign Budget Info</label>
        <locationX>138</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>rec_Budget.City_of_St_Louis_CDBG__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_City_of_St_Louis_CDBG</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Budget.Other__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Other_Revenue1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Budget.Other_Federal_Grants__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Other_Federal_Grants</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Budget.State_Grants__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_State_Grant</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Budget.Corporate_Contributions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Corporate_Contributions</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Budget.Endowments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Endowments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Budget.FundraisersSpecial_Events__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Fundraiser_Special_Events</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Budget.Investment_Income__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Investment_Income</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Budget.Interest_Income__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Interest_Income</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Budget.Fee_Revenue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Fee_Revenue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Budget.In_Kind_Income__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_In_Kind_Income</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Budget.Total_Revenue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frm_TotalRevenue_edit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Budget.Personel_Salaries_and_Wages__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Personnel_Salaries</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Budget.Payroll_Taxes_and_Fringe_Benefits__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Payroll_Taxes_and_Fringe_Benefits</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Budget.RentLeaseMortgage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Rent_Lease_Mortgage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Budget.Utilities__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Utilities</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Budget.Telephone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Telephone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Budget.Office_Supplies__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Office_Supplies</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Budget.Postage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Postage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Budget.Printing_and_Copying__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Printing_and_Copying</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Budget.Travel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Travel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Budget.Insurance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Insurance</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Budget.Consultant_and_Contract_Services__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Consultant_and_Contract_Service</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Budget.Legal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Legal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Budget.Accounting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Accounting</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Budget.in_Kind_Expenses__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_In_Kind_Expenses</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Budget.Other_Expenses__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Other_Expenses1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Budget.EXCESS_REVENUE_LOSS_OVER_EXPENSES__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frm_ExcessRevenue_edit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Budget.Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Budget.Fiscal_Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Fiscal_Year</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Budget.Explain_In_Kind_amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Please_explain_in_kind_income_and_expenses_and_how_calculated</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Budget.Total_Expenses__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frm_TotalExpenses_edit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isComplete</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Budget.Budget_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frm_BudgetName_edit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Budget.Other_Apprentice_Wages_Expense__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy1_Other_Apprentice_Wages_Taxes_and_Benefits_Expense</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Budget.Other_Outside_Computer_Services_Expense__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy1_Other_Outside_Computer_Services_Expense</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Budget.Other_Apprentices_Wages_Taxes_Benefits__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy1_Other_Apprentice_Wages_Taxes_and_Benefits_Revenue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Budget.Other_Outside_Computer_Services__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy1_Other_Outside_Computer_Services_Revenue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Budget_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Vars</name>
        <label>Reset Vars</label>
        <locationX>402</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>var_EditBudget</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CreateBudget</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Budget</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Budget_Table.outputSelectedRow</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Budget_Table_ReadOnly.outputSelectedRow</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Get_Related_Budget_Records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Budget_Decision</name>
        <label>Budget Decision</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Assign_Selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Edit</defaultConnectorLabel>
        <rules>
            <name>Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_CreateBudget</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Budget_Screen</targetReference>
            </connector>
            <label>Create</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks the status of the Application to display a ReadOnly version when application is ReadOnly</description>
        <name>Check_Application_Status</name>
        <label>Check Application Status</label>
        <locationX>402</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Budget_Table_Screen_ReadOnly</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ReadOnly</defaultConnectorLabel>
        <rules>
            <name>Editable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Application.Read_Only__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Empty_Get</targetReference>
            </connector>
            <label>Editable</label>
        </rules>
    </decisions>
    <decisions>
        <name>Empty_Get</name>
        <label>Empty Get</label>
        <locationX>226</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Budget_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Operating_Budget</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Budget_Records</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Budget_Table_Screen</targetReference>
            </connector>
            <label>Operating Budget</label>
        </rules>
    </decisions>
    <description>NN 8/14/24 - added decision to fix issues with empty get
CC 1/25/24 - adjusting table column widths | SB - Update Budget Name
CA 07/30/25 - adding new budget Other columns
CC 11/7/25 - Updated with a ReadOnly flow path</description>
    <dynamicChoiceSets>
        <name>pcs_FY1</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Fiscal_Year__c</picklistField>
        <picklistObject>Operating_Budget__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>frm_BudgetName</name>
        <dataType>String</dataType>
        <expression>{!Fiscal_Year} + &quot;-&quot; + {!Get_Application.Name}</expression>
    </formulas>
    <formulas>
        <name>frm_BudgetName_edit</name>
        <dataType>String</dataType>
        <expression>{!Copy_1_of_Fiscal_Year} + &quot;-&quot; + {!Get_Application.Name}</expression>
    </formulas>
    <formulas>
        <name>frm_ExcessRevenue</name>
        <dataType>Currency</dataType>
        <expression>{!frm_TotalRevenue} - {!frm_TotalExpenses}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>frm_ExcessRevenue_edit</name>
        <dataType>Currency</dataType>
        <expression>{!frm_TotalRevenue_edit} - {!frm_TotalExpenses_edit}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>frm_TotalExpenses</name>
        <dataType>Currency</dataType>
        <expression>{!Personnel_Salaries} + {!Payroll_Taxes_and_Fringe_Benefits} + {!Rent_Lease_Mortgage} + {!Utilities} + {!Telephone} + {!Office_Supplies} + {!Postage} + {!Printing_and_Copying} + {!Travel} + {!Insurance} + {!Consultant_and_Contract_Service} + {!Legal} + {!Accounting} + {!In_Kind_Expenses} + {!Other_Expenses1}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>frm_TotalExpenses_edit</name>
        <dataType>Currency</dataType>
        <expression>{!Copy_1_of_Personnel_Salaries} + {!Copy_1_of_Payroll_Taxes_and_Fringe_Benefits} + {!Copy_1_of_Rent_Lease_Mortgage} + {!Copy_1_of_Utilities} + {!Copy_1_of_Telephone} + {!Copy_1_of_Office_Supplies} + {!Copy_1_of_Postage} + {!Copy_1_of_Printing_and_Copying} + {!Copy_1_of_Travel} + {!Copy_1_of_Insurance} + {!Copy_1_of_Consultant_and_Contract_Service} + {!Copy_1_of_Legal} + {!Copy_1_of_Accounting} + {!Copy_1_of_In_Kind_Expenses} + {!Copy_1_of_Other_Expenses1}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>frm_TotalRevenue</name>
        <dataType>Currency</dataType>
        <expression>{!City_of_St_Louis_CDBG} + {!Other_Federal_Grants} + {!State_Grant} + {!Corporate_Contributions} + {!Endowments} + {!Fundraiser_Special_Events} + {!Investment_Income} + {!Interest_Income} + {!In_Kind_Income} + {!Fee_Revenue} + {!Other_Revenue1}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>frm_TotalRevenue_edit</name>
        <dataType>Currency</dataType>
        <expression>{!Copy_1_of_City_of_St_Louis_CDBG} + {!Copy_1_of_Other_Federal_Grants} + {!Copy_1_of_State_Grant} + {!Copy_1_of_Corporate_Contributions} + {!Copy_1_of_Endowments} + {!Copy_1_of_Fundraiser_Special_Events} + {!Copy_1_of_Investment_Income} + {!Copy_1_of_Interest_Income} + {!Copy_1_of_In_Kind_Income} + {!Copy_1_of_Fee_Revenue} + {!Copy_1_of_Other_Revenue1}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>CDA - Budget Information [Screen Flow] {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CDA - Budget Information [Screen Flow]</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Budget_1</name>
        <label>Create Budget 1</label>
        <locationX>226</locationX>
        <locationY>1772</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Reset_Vars</targetReference>
        </connector>
        <inputReference>rec_Budget</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Application</name>
        <label>Get Application</label>
        <locationX>402</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Reset_Vars</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Budget_Records</name>
        <label>Get Related Budget Records</label>
        <locationX>402</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Application_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Operating_Budget__c</object>
        <sortField>Fiscal_Year__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Budget_1</name>
        <label>Update Budget 1</label>
        <locationX>138</locationX>
        <locationY>1214</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Reset_Vars</targetReference>
        </connector>
        <inputReference>rec_Budget</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Budget_Screen</name>
        <label>Budget Screen</label>
        <locationX>226</locationX>
        <locationY>1556</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Budget_Info</targetReference>
        </connector>
        <fields>
            <name>Budget_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Budget_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Fiscal_Year</name>
                    <choiceReferences>pcs_FY1</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Fiscal Year</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>blankspace1</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Revenue</name>
            <fieldText>Revenue</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Revenue_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>City_of_St_Louis_CDBG</name>
                    <dataType>Currency</dataType>
                    <fieldText>City of St. Louis CDBG</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Other_Federal_Grants</name>
                    <dataType>Currency</dataType>
                    <fieldText>Other Federal Grants</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>State_Grant</name>
                    <dataType>Currency</dataType>
                    <fieldText>State Grant</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Corporate_Contributions</name>
                    <dataType>Currency</dataType>
                    <fieldText>Corporate Contributions</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Endowments</name>
                    <dataType>Currency</dataType>
                    <fieldText>Endowments</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Fundraiser_Special_Events</name>
                    <dataType>Currency</dataType>
                    <fieldText>Fundraiser/Special Events</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Investment_Income</name>
                    <dataType>Currency</dataType>
                    <fieldText>Investment Income</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Interest_Income</name>
                    <dataType>Currency</dataType>
                    <fieldText>Interest Income</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>In_Kind_Income</name>
                    <dataType>Currency</dataType>
                    <fieldText>In-Kind Income</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Fee_Revenue</name>
                    <dataType>Currency</dataType>
                    <fieldText>Fee Revenue</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Other_Revenue1</name>
                    <dataType>Currency</dataType>
                    <fieldText>Other</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Other_Outside_Computer_Services_Revenue</name>
                    <dataType>Currency</dataType>
                    <fieldText>Other: Outside Computer Services</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Other_Apprentices_Wages_Taxes_Benefits_Revenue</name>
                    <dataType>Currency</dataType>
                    <fieldText>Other: Apprentices Wages, Taxes, Benefits</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Expenses</name>
            <fieldText>Expenses</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Expenses_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Personnel_Salaries</name>
                    <dataType>Currency</dataType>
                    <fieldText>Personnel: Salaries and Wages</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Payroll_Taxes_and_Fringe_Benefits</name>
                    <dataType>Currency</dataType>
                    <fieldText>Payroll Taxes and Fringe Benefits</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Rent_Lease_Mortgage</name>
                    <dataType>Currency</dataType>
                    <fieldText>Rent/Lease/Mortgage</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Utilities</name>
                    <dataType>Currency</dataType>
                    <fieldText>Utilities</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Telephone</name>
                    <dataType>Currency</dataType>
                    <fieldText>Telephone</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Office_Supplies</name>
                    <dataType>Currency</dataType>
                    <fieldText>Office Supplies</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Postage</name>
                    <dataType>Currency</dataType>
                    <fieldText>Postage</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Printing_and_Copying</name>
                    <dataType>Currency</dataType>
                    <fieldText>Printing and Copying</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Travel</name>
                    <dataType>Currency</dataType>
                    <fieldText>Travel</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Insurance</name>
                    <dataType>Currency</dataType>
                    <fieldText>Insurance</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Consultant_and_Contract_Service</name>
                    <dataType>Currency</dataType>
                    <fieldText>Consultant and Contract Service</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Legal</name>
                    <dataType>Currency</dataType>
                    <fieldText>Legal</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Accounting</name>
                    <dataType>Currency</dataType>
                    <fieldText>Accounting</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>In_Kind_Expenses</name>
                    <dataType>Currency</dataType>
                    <fieldText>In-Kind Expenses</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Other_Expenses1</name>
                    <dataType>Currency</dataType>
                    <fieldText>Other</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Other_Apprentices_Wages_Taxes_Benefits_Expense</name>
                    <dataType>Currency</dataType>
                    <fieldText>Other: Apprentices Wages, Taxes, Benefits</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Other_Outside_Computer_Services_Expense</name>
                    <dataType>Currency</dataType>
                    <fieldText>Other: Outside Computer Services</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Budget_Screen_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Budget_Screen_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Please_explain_in_kind_income_and_expenses_and_how_calculated</name>
                    <fieldText>Please explain in-kind income and expenses and how calculated:</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>blankspace3</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>dt_TotalCalculate</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;TOTAL REVENUE, TOTAL EXPENSES and EXCESS REVENUE (LOSS) OVER EXPENSES will be calculated upon save.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Save &amp; Calculate</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Budget_Screen_ReadOnly</name>
        <label>Budget Screen ReadOnly</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Reset_Vars</targetReference>
        </connector>
        <fields>
            <name>Budget_Screen_ReadOnly_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Budget_Screen_ReadOnly_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Fiscal_Year_ReadOnly</name>
                    <choiceReferences>pcs_FY1</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>rec_Budget.Fiscal_Year__c</elementReference>
                    </defaultValue>
                    <fieldText>Fiscal Year</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>blankspace4_ReadOnly</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_Copy_1_of_Revenue</name>
            <fieldText>Revenue</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Copy_1_of_Revenue_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>City_of_St_Louis_CDBG_ReadOnly</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>rec_Budget.City_of_St_Louis_CDBG__c</elementReference>
                    </defaultValue>
                    <fieldText>City of St. Louis CDBG</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Other_Federal_Grants_ReadOnly</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>rec_Budget.Other_Federal_Grants__c</elementReference>
                    </defaultValue>
                    <fieldText>Other Federal Grants</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>State_Grant_ReadOnly</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>rec_Budget.State_Grants__c</elementReference>
                    </defaultValue>
                    <fieldText>State Grant</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Corporate_Contributions_ReadOnly</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>rec_Budget.Corporate_Contributions__c</elementReference>
                    </defaultValue>
                    <fieldText>Corporate Contributions</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Endowments_ReadOnly</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>rec_Budget.Endowments__c</elementReference>
                    </defaultValue>
                    <fieldText>Endowments</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Fundraiser_Special_Events_ReadOnly</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>rec_Budget.FundraisersSpecial_Events__c</elementReference>
                    </defaultValue>
                    <fieldText>Fundraiser/Special Events</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Investment_Income_ReadOnly</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>rec_Budget.Investment_Income__c</elementReference>
                    </defaultValue>
                    <fieldText>Investment Income</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Interest_Income_ReadOnly</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>rec_Budget.Interest_Income__c</elementReference>
                    </defaultValue>
                    <fieldText>Interest Income</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>In_Kind_Income_ReadOnly</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>rec_Budget.In_Kind_Income__c</elementReference>
                    </defaultValue>
                    <fieldText>In-Kind Income</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Fee_Revenue_ReadOnly</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>rec_Budget.Fee_Revenue__c</elementReference>
                    </defaultValue>
                    <fieldText>Fee Revenue</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Other_Revenue1_ReadOnly</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>rec_Budget.Other__c</elementReference>
                    </defaultValue>
                    <fieldText>Other</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Other_Apprentice_Wages_Taxes_and_Benefits_Revenue_ReadOnly</name>
                    <dataType>Currency</dataType>
                    <fieldText>Other: Apprentice Wages, Taxes and Benefits</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Other_Outside_Computer_Services_Revenue_ReadOnly</name>
                    <dataType>Currency</dataType>
                    <fieldText>Other: Outside Computer Services</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_Copy_1_of_Expenses</name>
            <fieldText>Expenses</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Copy_1_of_Expenses_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Personnel_Salaries_ReadOnly</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>rec_Budget.Personel_Salaries_and_Wages__c</elementReference>
                    </defaultValue>
                    <fieldText>Personnel: Salaries and Wages</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Payroll_Taxes_and_Fringe_Benefits_ReadOnly</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>rec_Budget.Payroll_Taxes_and_Fringe_Benefits__c</elementReference>
                    </defaultValue>
                    <fieldText>Payroll Taxes and Fringe Benefits</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Rent_Lease_Mortgage_ReadOnly</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>rec_Budget.RentLeaseMortgage__c</elementReference>
                    </defaultValue>
                    <fieldText>Rent/Lease/Mortgage</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Utilities_ReadOnly</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>rec_Budget.Utilities__c</elementReference>
                    </defaultValue>
                    <fieldText>Utilities</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Telephone_ReadOnly</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>rec_Budget.Telephone__c</elementReference>
                    </defaultValue>
                    <fieldText>Telephone</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Office_Supplies_ReadOnly</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>rec_Budget.Office_Supplies__c</elementReference>
                    </defaultValue>
                    <fieldText>Office Supplies</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Postage_ReadOnly</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>rec_Budget.Postage__c</elementReference>
                    </defaultValue>
                    <fieldText>Postage</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Printing_and_Copying_ReadOnly</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>rec_Budget.Printing_and_Copying__c</elementReference>
                    </defaultValue>
                    <fieldText>Printing and Copying</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Travel_ReadOnly</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>rec_Budget.Travel__c</elementReference>
                    </defaultValue>
                    <fieldText>Travel</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Insurance_ReadOnly</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>rec_Budget.Insurance__c</elementReference>
                    </defaultValue>
                    <fieldText>Insurance</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Consultant_and_Contract_Service_ReadOnly</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>rec_Budget.Consultant_and_Contract_Services__c</elementReference>
                    </defaultValue>
                    <fieldText>Consultant and Contract Service</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Legal_ReadOnly</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>rec_Budget.Legal__c</elementReference>
                    </defaultValue>
                    <fieldText>Legal</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Accounting_ReadOnly</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>rec_Budget.Accounting__c</elementReference>
                    </defaultValue>
                    <fieldText>Accounting</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>In_Kind_Expenses_ReadOnly</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>rec_Budget.in_Kind_Expenses__c</elementReference>
                    </defaultValue>
                    <fieldText>In-Kind Expenses</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Other_Expenses1_ReadOnly</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>rec_Budget.Other_Expenses__c</elementReference>
                    </defaultValue>
                    <fieldText>Other</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Other_Apprentice_Wages_Taxes_and_Benefits_Expense_ReadOnly</name>
                    <dataType>Currency</dataType>
                    <fieldText>Other: Apprentice Wages, Taxes and Benefits</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Other_Outside_Computer_Services_Expense_ReadOnly</name>
                    <dataType>Currency</dataType>
                    <fieldText>Other: Outside Computer Services</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Budget_Screen_ReadOnly_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Budget_Screen_ReadOnly_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Please_explain_in_kind_income_and_expenses_and_how_calculate_ReadOnly</name>
                    <defaultValue>
                        <stringValue>{!rec_Budget.Explain_In_Kind_amount__c}</stringValue>
                    </defaultValue>
                    <fieldText>Please explain in-kind income and expenses and how calculated:</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>blankspace5_ReadOnly</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Budget_Table_Screen</name>
        <label>Budget Table Screen</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Budget_Decision</targetReference>
        </connector>
        <fields>
            <name>dt_BudgetHome</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;Annual Operating Budgets&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;(Inclusive of all programs operated by your agency)&lt;/strong&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Budget_Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Operating_Budget__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Operating_Budget__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Related_Budget_Records</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Fiscal_Year__c,Total_Revenue__c,Total_Expenses__c,EXCESS_REVENUE_LOSS_OVER_EXPENSES__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Fiscal_Year__c:0, Total_Revenue__c:0, Total_Expenses__c:0, EXCESS_REVENUE_LOSS_OVER_EXPENSES__c:0</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_not_suppressNameFieldLink</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleRowSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFlexes</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>blankspace</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Budget_Table_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Budget_Table_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>nav_Create_Budget</name>
                    <extensionName>c:flowCustomNavigationButton</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>buttonVariant</name>
                        <value>
                            <stringValue>brand</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Create New Budget</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>var_CreateBudget</assignToReference>
                        <name>flag</name>
                    </outputParameters>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Budget_Table_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Budget_Table_Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>nav_Edit_Budget</name>
                    <extensionName>c:flowCustomNavigationButton</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>buttonVariant</name>
                        <value>
                            <stringValue>brand</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Edit Budget</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>var_EditBudget</assignToReference>
                        <name>flag</name>
                    </outputParameters>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Budget_Table.outputSelectedRow.Id</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>nav_EditBudget_disabled</name>
                    <extensionName>c:flowCustomNavigationButton</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>buttonVariant</name>
                        <value>
                            <stringValue>brand</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Edit Budget</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Budget_Table.outputSelectedRow.Id</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Budget_Table_Screen_ReadOnly</name>
        <label>Budget Table Screen ReadOnly</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Selected_ReadOnly</targetReference>
        </connector>
        <fields>
            <name>dt_BudgetHome_ReadOnly</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;Annual Operating Budgets&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;(Inclusive of all programs operated by your agency)&lt;/strong&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Budget_Table_ReadOnly</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Operating_Budget__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Operating_Budget__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Related_Budget_Records</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Fiscal_Year__c,Total_Revenue__c,Total_Expenses__c,EXCESS_REVENUE_LOSS_OVER_EXPENSES__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Fiscal_Year__c:0, Total_Revenue__c:0, Total_Expenses__c:0, EXCESS_REVENUE_LOSS_OVER_EXPENSES__c:0</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_not_suppressNameFieldLink</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleRowSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFlexes</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>blankspace_ReadOnly</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Budget_Table_Screen_ReadOnly_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Budget_Table_Screen_ReadOnly_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Budget_Table_Screen_ReadOnly_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Budget_Table_Screen_ReadOnly_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>nav_View_Budget_ReadOnly</name>
                    <extensionName>c:flowCustomNavigationButton</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>buttonVariant</name>
                        <value>
                            <stringValue>brand</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>View Budget</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>var_EditBudget</assignToReference>
                        <name>flag</name>
                    </outputParameters>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Budget_Table_ReadOnly.outputSelectedRow.Id</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>nav_EditBudget_disabled_ReadOnly</name>
                    <extensionName>c:flowCustomNavigationButton</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>buttonVariant</name>
                        <value>
                            <stringValue>brand</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>View Budget</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Budget_Table_ReadOnly.outputSelectedRow.Id</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Budget_Screen</name>
        <label>Copy 1 of Budget Screen</label>
        <locationX>138</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Assign_Budget_Info</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Budget_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Budget_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Fiscal_Year</name>
                    <choiceReferences>pcs_FY1</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>rec_Budget.Fiscal_Year__c</elementReference>
                    </defaultValue>
                    <fieldText>Fiscal Year</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>blankspace4</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_Revenue</name>
            <fieldText>Revenue</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Revenue_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_City_of_St_Louis_CDBG</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>rec_Budget.City_of_St_Louis_CDBG__c</elementReference>
                    </defaultValue>
                    <fieldText>City of St. Louis CDBG</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_Other_Federal_Grants</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>rec_Budget.Other_Federal_Grants__c</elementReference>
                    </defaultValue>
                    <fieldText>Other Federal Grants</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_State_Grant</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>rec_Budget.State_Grants__c</elementReference>
                    </defaultValue>
                    <fieldText>State Grant</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_Corporate_Contributions</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>rec_Budget.Corporate_Contributions__c</elementReference>
                    </defaultValue>
                    <fieldText>Corporate Contributions</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_Endowments</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>rec_Budget.Endowments__c</elementReference>
                    </defaultValue>
                    <fieldText>Endowments</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_Fundraiser_Special_Events</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>rec_Budget.FundraisersSpecial_Events__c</elementReference>
                    </defaultValue>
                    <fieldText>Fundraiser/Special Events</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_Investment_Income</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>rec_Budget.Investment_Income__c</elementReference>
                    </defaultValue>
                    <fieldText>Investment Income</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_Interest_Income</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>rec_Budget.Interest_Income__c</elementReference>
                    </defaultValue>
                    <fieldText>Interest Income</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_In_Kind_Income</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>rec_Budget.In_Kind_Income__c</elementReference>
                    </defaultValue>
                    <fieldText>In-Kind Income</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_Fee_Revenue</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>rec_Budget.Fee_Revenue__c</elementReference>
                    </defaultValue>
                    <fieldText>Fee Revenue</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_Other_Revenue1</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>rec_Budget.Other__c</elementReference>
                    </defaultValue>
                    <fieldText>Other</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy1_Other_Apprentice_Wages_Taxes_and_Benefits_Revenue</name>
                    <dataType>Currency</dataType>
                    <fieldText>Other: Apprentice Wages, Taxes and Benefits</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy1_Other_Outside_Computer_Services_Revenue</name>
                    <dataType>Currency</dataType>
                    <fieldText>Other: Outside Computer Services</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_Expenses</name>
            <fieldText>Expenses</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Expenses_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Personnel_Salaries</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>rec_Budget.Personel_Salaries_and_Wages__c</elementReference>
                    </defaultValue>
                    <fieldText>Personnel: Salaries and Wages</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_Payroll_Taxes_and_Fringe_Benefits</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>rec_Budget.Payroll_Taxes_and_Fringe_Benefits__c</elementReference>
                    </defaultValue>
                    <fieldText>Payroll Taxes and Fringe Benefits</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_Rent_Lease_Mortgage</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>rec_Budget.RentLeaseMortgage__c</elementReference>
                    </defaultValue>
                    <fieldText>Rent/Lease/Mortgage</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_Utilities</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>rec_Budget.Utilities__c</elementReference>
                    </defaultValue>
                    <fieldText>Utilities</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_Telephone</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>rec_Budget.Telephone__c</elementReference>
                    </defaultValue>
                    <fieldText>Telephone</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_Office_Supplies</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>rec_Budget.Office_Supplies__c</elementReference>
                    </defaultValue>
                    <fieldText>Office Supplies</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_Postage</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>rec_Budget.Postage__c</elementReference>
                    </defaultValue>
                    <fieldText>Postage</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_Printing_and_Copying</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>rec_Budget.Printing_and_Copying__c</elementReference>
                    </defaultValue>
                    <fieldText>Printing and Copying</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_Travel</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>rec_Budget.Travel__c</elementReference>
                    </defaultValue>
                    <fieldText>Travel</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_Insurance</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>rec_Budget.Insurance__c</elementReference>
                    </defaultValue>
                    <fieldText>Insurance</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_Consultant_and_Contract_Service</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>rec_Budget.Consultant_and_Contract_Services__c</elementReference>
                    </defaultValue>
                    <fieldText>Consultant and Contract Service</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_Legal</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>rec_Budget.Legal__c</elementReference>
                    </defaultValue>
                    <fieldText>Legal</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_Accounting</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>rec_Budget.Accounting__c</elementReference>
                    </defaultValue>
                    <fieldText>Accounting</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_In_Kind_Expenses</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>rec_Budget.in_Kind_Expenses__c</elementReference>
                    </defaultValue>
                    <fieldText>In-Kind Expenses</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_Other_Expenses1</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>rec_Budget.Other_Expenses__c</elementReference>
                    </defaultValue>
                    <fieldText>Other</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy1_Other_Apprentice_Wages_Taxes_and_Benefits_Expense</name>
                    <dataType>Currency</dataType>
                    <fieldText>Other: Apprentice Wages, Taxes and Benefits</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy1_Other_Outside_Computer_Services_Expense</name>
                    <dataType>Currency</dataType>
                    <fieldText>Other: Outside Computer Services</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_Budget_Screen_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Budget_Screen_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Please_explain_in_kind_income_and_expenses_and_how_calculated</name>
                    <defaultValue>
                        <stringValue>{!rec_Budget.Explain_In_Kind_amount__c}</stringValue>
                    </defaultValue>
                    <fieldText>Please explain in-kind income and expenses and how calculated:</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>blankspace5</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>dt_TotalCaclulate</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(68, 68, 68);&quot;&gt;TOTAL REVENUE, TOTAL EXPENSES and EXCESS REVENUE (LOSS) OVER EXPENSES will be calculated upon save.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Save &amp; Calculate</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>276</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Application</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>isComplete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>rec_Budget</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Operating_Budget__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_CreateBudget</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_EditBudget</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
