force-app/main/default/flows/CDBG_Budget_Flow_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Application_Budget_Category_Assignerstart</name>
        <label>Application Budget Category Assigner</label>
        <locationX>754</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>SOV_Application_Budget_Category.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Budget_Category.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_Application_Budget_Category.Application_Budget__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewBudget.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_Application_Budget_Category.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Budget_Category.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_Application_Budget_Category.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Budget_Category.Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Application_Budget_Category</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Name</name>
        <label>Assign Name</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>NewBudget.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Budget_Template.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBudget.Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Application.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_new_Proposed_Budget</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_Expense</name>
        <label>Collect Expense</label>
        <locationX>842</locationX>
        <locationY>1754</locationY>
        <assignmentItems>
            <assignToReference>COL_Expense</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SOV_Expense_new</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Budget_Detail_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_Revenue</name>
        <label>Collect Revenue</label>
        <locationX>1370</locationX>
        <locationY>1754</locationY>
        <assignmentItems>
            <assignToReference>COL_Revenue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SOV_Application_Revenue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Budget_Detail_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Application_Budget_Category_Assigner</name>
        <label>Copy 1 of Application Budget Category Assigner</label>
        <locationX>2338</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>SOV_Application_Budget_Category.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Budget_Category_Loop.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_Application_Budget_Category.Application_Budget__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewBudget.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_Application_Budget_Category.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Budget_Category_Loop.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_Application_Budget_Category.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Budget_Category_Loop.Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Get_Budget_Detail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Collect_Expense</name>
        <label>Copy 1 of Collect Expense</label>
        <locationX>2426</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>COL_Expense</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SOV_Expense_new</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Budget_Detail_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Collect_Revenue</name>
        <label>Copy 1 of Collect Revenue</label>
        <locationX>2954</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>COL_Revenue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SOV_Application_Revenue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Budget_Detail_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Expense_Collection</name>
        <label>Copy 1 of Expense Collection</label>
        <locationX>2426</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>SOV_Expense_new.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Budget_Detail_Loop.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_Expense_new.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Budget_Detail_Loop.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_Expense_new.Planned_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Budget_Detail_Loop.Planned_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_Expense_new.Other_Funding__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Budget_Detail_Loop.Other_Funding__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_Expense_new.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Budget_Detail_Loop.Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_Expense_new.Application_Budget_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Budget_Detail_Loop.Application_Budget_Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_Expense_new.Application_Budget__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Budget_Detail_Loop.Application_Budget__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_Expense_new.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Budget_Detail_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_Expense_new.Total_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Budget_Detail_Loop.Total_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_Expense_new.Sort_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Budget_Detail_Loop.Sort_Order__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Collect_Expense</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Revenue_Collection</name>
        <label>Copy 1 of Revenue Collection</label>
        <locationX>2954</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>SOV_Application_Revenue.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Budget_Detail_Loop.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_Application_Revenue.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Budget_Detail_Loop.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_Application_Revenue.Planned_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Budget_Detail_Loop.Planned_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_Application_Revenue.Other_Funding__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Budget_Detail_Loop.Other_Funding__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_Application_Revenue.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Budget_Detail_Loop.Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_Application_Revenue.Application_Budget_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Budget_Detail_Loop.Application_Budget_Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_Application_Revenue.Application_Budget__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Budget_Detail_Loop.Application_Budget__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_Application_Revenue.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Budget_Detail_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_Application_Revenue.Total_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Budget_Detail_Loop.Total_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_Application_Revenue.Sort_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Budget_Detail_Loop.Sort_Order__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Collect_Revenue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Copy_1_of_Collect_Expense</name>
        <label>Copy 2 of Copy 1 of Collect Expense</label>
        <locationX>2690</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>COL_Indirect</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SOV_Indirect_Expense</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Budget_Detail_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Copy_1_of_Expense_Collection</name>
        <label>Copy 2 of Copy 1 of Expense Collection</label>
        <locationX>2690</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>SOV_Indirect_Expense.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Budget_Detail_Loop.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_Indirect_Expense.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Budget_Detail_Loop.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_Indirect_Expense.Planned_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Budget_Detail_Loop.Planned_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_Indirect_Expense.Other_Funding__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Budget_Detail_Loop.Other_Funding__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_Indirect_Expense.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Budget_Detail_Loop.Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_Indirect_Expense.Application_Budget_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Budget_Detail_Loop.Application_Budget_Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_Indirect_Expense.Application_Budget__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Budget_Detail_Loop.Application_Budget__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_Indirect_Expense.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Budget_Detail_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_Indirect_Expense.Total_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Budget_Detail_Loop.Total_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_Indirect_Expense.Sort_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Budget_Detail_Loop.Sort_Order__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Copy_1_of_Collect_Expense</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Collect_Expense</name>
        <label>Copy 3 of Collect Expense</label>
        <locationX>1106</locationX>
        <locationY>1754</locationY>
        <assignmentItems>
            <assignToReference>COL_Indirect</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SOV_Indirect_Expense</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Budget_Detail_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Expense_Collection</name>
        <label>Copy 3 of Expense Collection</label>
        <locationX>1106</locationX>
        <locationY>1646</locationY>
        <assignmentItems>
            <assignToReference>SOV_Indirect_Expense.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Budget_Detail_Loop.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_Indirect_Expense.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Budget_Detail_Loop.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_Indirect_Expense.Planned_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Budget_Detail_Loop.Planned_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_Indirect_Expense.Other_Funding__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Budget_Detail_Loop.Other_Funding__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_Indirect_Expense.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Budget_Detail_Loop.Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_Indirect_Expense.Application_Budget_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SOV_Application_Budget_Category.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_Indirect_Expense.Application_Budget__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SOV_Application_Budget_Category.Application_Budget__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_Indirect_Expense.Sort_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Budget_Detail_Loop.Sort_Order__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_3_of_Collect_Expense</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Expense_Collection</name>
        <label>Expense Collection</label>
        <locationX>842</locationX>
        <locationY>1646</locationY>
        <assignmentItems>
            <assignToReference>SOV_Expense_new.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Budget_Detail_Loop.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_Expense_new.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Budget_Detail_Loop.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_Expense_new.Planned_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Budget_Detail_Loop.Planned_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_Expense_new.Other_Funding__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Budget_Detail_Loop.Other_Funding__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_Expense_new.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Budget_Detail_Loop.Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_Expense_new.Application_Budget_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SOV_Application_Budget_Category.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_Expense_new.Application_Budget__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SOV_Application_Budget_Category.Application_Budget__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_Expense_new.Sort_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Budget_Detail_Loop.Sort_Order__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_Expense</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Vars</name>
        <label>Reset Vars</label>
        <locationX>842</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>var_EditBudget</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CreateBudget</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOVBudget</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Budget_Table.outputSelectedRow</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COL_Expense</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>COL_Expense</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COL_Revenue</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>COL_Revenue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COL_Indirect</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>COL_Indirect</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Budget_on_Application</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Revenue_Collection</name>
        <label>Revenue Collection</label>
        <locationX>1370</locationX>
        <locationY>1646</locationY>
        <assignmentItems>
            <assignToReference>SOV_Application_Revenue.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Budget_Detail_Loop.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_Application_Revenue.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Budget_Detail_Loop.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_Application_Revenue.Planned_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Budget_Detail_Loop.Planned_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_Application_Revenue.Other_Funding__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Budget_Detail_Loop.Other_Funding__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_Application_Revenue.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Budget_Detail_Loop.Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_Application_Revenue.Application_Budget_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SOV_Application_Budget_Category.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_Application_Revenue.Application_Budget__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SOV_Application_Budget_Category.Application_Budget__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_Application_Revenue.Sort_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Budget_Detail_Loop.Sort_Order__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_Revenue</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Budget_Detail_Type</name>
        <label>Budget Detail Type</label>
        <locationX>1106</locationX>
        <locationY>1538</locationY>
        <defaultConnector>
            <targetReference>Revenue_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Revenue</defaultConnectorLabel>
        <rules>
            <name>ExpenseBudget</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Budget_Detail_Loop.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expense</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Expense_Collection</targetReference>
            </connector>
            <label>Expense</label>
        </rules>
        <rules>
            <name>Indirect_Expense</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Budget_Detail_Loop.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Indirect Expense</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Expense_Collection</targetReference>
            </connector>
            <label>Indirect Expense</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks the Application Status to Display a readOnly version of the screen when the application is ReadOnly</description>
        <name>Check_Application_Status</name>
        <label>Check Application Status</label>
        <locationX>842</locationX>
        <locationY>2522</locationY>
        <defaultConnector>
            <targetReference>Budget_Table_Screen_ReadOnly</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ReadOnly</defaultConnectorLabel>
        <rules>
            <name>Editable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Application.Read_Only__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Budget_Table_Screen</targetReference>
            </connector>
            <label>Editable</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Budget_Detail_Type</name>
        <label>Copy 1 of Budget Detail Type</label>
        <locationX>2690</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Revenue_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Revenue</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Expense</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Budget_Detail_Loop.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expense</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Expense_Collection</targetReference>
            </connector>
            <label>Copy 1 of Expense</label>
        </rules>
        <rules>
            <name>Indirect_Decsion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Budget_Detail_Loop.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Indirect Expense</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Copy_1_of_Expense_Collection</targetReference>
            </connector>
            <label>Indirect Decsion</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Get_Empty</name>
        <label>Is Get Empty</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Get_Budget_Categories_Budget_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Empty_Get</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Budget_on_Application</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Budget_Template</targetReference>
            </connector>
            <label>Empty Get</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Decision</name>
        <label>Update Decision</label>
        <locationX>644</locationX>
        <locationY>2738</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Budget</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_CreateBudget</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Expense_Records</targetReference>
            </connector>
            <label>Update Budget</label>
        </rules>
    </decisions>
    <description>CC 11/7/25: Added a read-only path for submitted applications
v10 fixed issue pulling in the total revenue
v8 removed indirect cost and updated datatable
v7 fixes to errors within datatable
v6 fixing issues with datatable element
v5 - NN - prep to delete everything to fix flow
v4 Updater error loop
v3 fixed missing value
v2 added revenue sources</description>
    <dynamicChoiceSets>
        <name>pcs_FY1</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Fiscal_Year__c</picklistField>
        <picklistObject>Operating_Budget__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>frm_ExcessRevenue_edit</name>
        <dataType>Currency</dataType>
        <expression>{!frm_TotalRevenue_edit} - {!frm_TotalExpenses_edit}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>frm_TotalExpenses_edit</name>
        <dataType>Currency</dataType>
        <expression>12</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>frm_TotalRevenue_edit</name>
        <dataType>Currency</dataType>
        <expression>12</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>CDBG Budget Flow [Screen Flow] {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CDBG Budget Flow [Screen Flow]</label>
    <loops>
        <name>Budget_Category</name>
        <label>Budget Category Loop</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <collectionReference>Get_Budget_Categories</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Application_Budget_Category_Assignerstart</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Expense_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Budget_Detail_Loop</name>
        <label>Budget Detail Loop</label>
        <locationX>754</locationX>
        <locationY>1430</locationY>
        <collectionReference>Get_Budget_Detail</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Budget_Detail_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Budget_Category</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Copy_1_of_Budget_Category_Loop</name>
        <label>Copy 1 of Budget Category Loop</label>
        <locationX>1634</locationX>
        <locationY>674</locationY>
        <collectionReference>Get_Budget_Categories_Budget_Found</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Application_Budget_Category_Assigner</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Application_Status</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Copy_1_of_Budget_Detail_Loop</name>
        <label>Copy 1 of Budget Detail Loop</label>
        <locationX>2338</locationX>
        <locationY>998</locationY>
        <collectionReference>Copy_1_of_Get_Budget_Detail</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Budget_Detail_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_Budget_Category_Loop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Application_Budget_Category</name>
        <label>Create Application Budget Category</label>
        <locationX>754</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>Get_Budget_Detail</targetReference>
        </connector>
        <inputReference>SOV_Application_Budget_Category</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Expense_Records</name>
        <label>Create Expense Records</label>
        <locationX>50</locationX>
        <locationY>2114</locationY>
        <connector>
            <targetReference>Create_Revenue_Records</targetReference>
        </connector>
        <inputReference>COL_Expense</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Indirect_Records</name>
        <label>Create Indirect Records</label>
        <locationX>50</locationX>
        <locationY>2330</locationY>
        <connector>
            <targetReference>Check_Application_Status</targetReference>
        </connector>
        <inputReference>COL_Indirect</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_new_Proposed_Budget</name>
        <label>Create new Proposed Budget</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Get_Budget_Categories</targetReference>
        </connector>
        <inputReference>NewBudget</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Revenue_Records</name>
        <label>Create Revenue Records</label>
        <locationX>50</locationX>
        <locationY>2222</locationY>
        <connector>
            <targetReference>Create_Indirect_Records</targetReference>
        </connector>
        <inputReference>COL_Revenue</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Copy_1_of_Get_Budget_Detail</name>
        <label>Copy 1 of Get Budget Detail</label>
        <locationX>2338</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Budget_Detail_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application_Budget_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Copy_1_of_Budget_Category_Loop.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Application_Budget_Detail__c</object>
        <sortField>Sort_Order__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Application</name>
        <label>Get Application</label>
        <locationX>842</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Reset_Vars</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Budget_Categories</name>
        <label>Get Budget Categories</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Budget_Category</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application_Budget__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Budget_Template.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Application_Budget_Category__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Budget_Categories_Budget_Found</name>
        <label>Get Budget Categories</label>
        <locationX>1634</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Budget_Category_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application_Budget__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Budget_on_Application.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Application_Budget_Category__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Budget_Detail</name>
        <label>Get Budget Detail</label>
        <locationX>754</locationX>
        <locationY>1322</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Budget_Detail_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application_Budget_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Budget_Category.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Application_Budget_Detail__c</object>
        <sortField>Sort_Order__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Budget_on_Application</name>
        <label>Get Budget on Application</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Get_Empty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Application.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Application_Budget__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Budget_Template</name>
        <label>Get Budget Template</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Reference_Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Application.Reference_Application__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Application_Budget__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Expense_Records</name>
        <label>Update Expense Records</label>
        <locationX>512</locationX>
        <locationY>2846</locationY>
        <connector>
            <targetReference>Update_Revenue_Records</targetReference>
        </connector>
        <inputReference>Budget_Table.outputEditedRows</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Indirect_Expense</name>
        <label>Update Indirect Expense</label>
        <locationX>512</locationX>
        <locationY>3062</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Reset_Vars</targetReference>
        </connector>
        <inputReference>Indirect_Datatable.outputEditedRows</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Revenue_Records</name>
        <label>Update Revenue Records</label>
        <locationX>512</locationX>
        <locationY>2954</locationY>
        <connector>
            <targetReference>Update_Indirect_Expense</targetReference>
        </connector>
        <inputReference>Revenue_Datatable.outputEditedRows</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Budget_Table_Screen</name>
        <label>Budget Table Screen</label>
        <locationX>644</locationX>
        <locationY>2630</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Decision</targetReference>
        </connector>
        <fields>
            <name>dt_BudgetHome</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;Proposed Activity Budgets.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Please edit the Planned CDBG Amount, Other Funding, and Narrative sections with Budget information.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;﻿&lt;/span&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Click Save after making changes to the below table and click &lt;/span&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Update and Save Budget&lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt; Button to save the budget changes to your application.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Direct_ExpensesDisplay</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Direct Expenses&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Budget_Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Application_Budget_Detail__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,Total_Amount__c,Planned_Amount__c,Other_Funding__c,Description__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:0, Total_Amount__c:0, Planned_Amount__c:0, Other_Funding__c:0, Description__c:0</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_not_suppressNameFieldLink</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFlexes</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayAll</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_displayAll</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Application_Budget_Detail__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>Planned_Amount__c:true, Other_Funding__c:true, Description__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>COL_Expense</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>Total_Amount__c:Total Activity Budget, Planned_Amount__c:Planned CDBG Amount, Description__c:Narrative</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Indirect_Expenses</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Indirect Expenses&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Indirect_Datatable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Application_Budget_Detail__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Application_Budget_Detail__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>COL_Indirect</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>Planned_Amount__c:true, Other_Funding__c:true, Description__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,Total_Amount__c,Planned_Amount__c,Other_Funding__c,Description__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>Total_Amount__c:Total Activity Budget, Planned_Amount__c:Proposed CDBG Amount, Description__c:Narrative</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:0, Total_Amount__c:0, Planned_Amount__c:0, Other_Funding__c:0, Description__c:0</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Budget_Expenses_total</name>
            <extensionName>c:screenFlowReadOnlyComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldType</name>
                <value>
                    <stringValue>Currency</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldLabel</name>
                <value>
                    <stringValue>Total Expenses</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldValue</name>
                <value>
                    <elementReference>Get_Budget_on_Application.Total_Expenses__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>blankspace</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Revenue_Display</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Revenue&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Revenue_Datatable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Application_Budget_Detail__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Application_Budget_Detail__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>Planned_Amount__c:true, Other_Funding__c:true, Description__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,Total_Amount__c,Planned_Amount__c,Other_Funding__c,Description__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>Total_Amount__c:Total Activity Budget, Planned_Amount__c:Planned CDBG Amount, Description__c:Narrative</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:0, Total_Amount__c:0, Planned_Amount__c:0, Other_Funding__c:0, Description__c:0</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_not_suppressNameFieldLink</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>COL_Revenue</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>not_suppressNameFieldLink</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Total_Revenue_Budget</name>
            <extensionName>c:screenFlowReadOnlyComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldLabel</name>
                <value>
                    <stringValue>Total Revenue</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldType</name>
                <value>
                    <stringValue>Currency</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldValue</name>
                <value>
                    <elementReference>Get_Budget_on_Application.Total_Revenue__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Budget_Table_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Budget_Table_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Budget_Table_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Budget_Table_Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>nav_Create_Budget</name>
                    <extensionName>c:flowCustomNavigationButton</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>buttonVariant</name>
                        <value>
                            <stringValue>brand</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Update and Save Budget</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>var_CreateBudget</assignToReference>
                        <name>flag</name>
                    </outputParameters>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Budget_Table_Screen_ReadOnly</name>
        <label>Budget Table Screen ReadOnly</label>
        <locationX>1040</locationX>
        <locationY>2630</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Reset_Vars</targetReference>
        </connector>
        <fields>
            <name>dt_BudgetHome_ReadOnly</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;Proposed Activity Budgets.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Please edit the Planned CDBG Amount, Other Funding, and Narrative sections with Budget information.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;﻿&lt;/span&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Click Save after making changes to the below table and click &lt;/span&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Update and Save Budget&lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt; Button to save the budget changes to your application.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Direct_ExpensesDisplay_ReadOnly</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Direct Expenses&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Budget_Table_ReadOnly</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Application_Budget_Detail__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,Total_Amount__c,Planned_Amount__c,Other_Funding__c,Description__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:0, Total_Amount__c:0, Planned_Amount__c:0, Other_Funding__c:0, Description__c:0</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_not_suppressNameFieldLink</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFlexes</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayAll</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_displayAll</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Application_Budget_Detail__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>COL_Expense</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>Total_Amount__c:Total Activity Budget, Planned_Amount__c:Planned CDBG Amount, Description__c:Narrative</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Indirect_Expenses_ReadOnly</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Indirect Expenses&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Indirect_Datatable_ReadOnly</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Application_Budget_Detail__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Application_Budget_Detail__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>COL_Indirect</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,Total_Amount__c,Planned_Amount__c,Other_Funding__c,Description__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>Total_Amount__c:Total Activity Budget, Planned_Amount__c:Proposed CDBG Amount, Description__c:Narrative</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:208, Total_Amount__c:208, Planned_Amount__c:208, Other_Funding__c:208, Description__c:208</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Budget_Expenses_total_ReadOnly</name>
            <extensionName>c:screenFlowReadOnlyComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldType</name>
                <value>
                    <stringValue>Currency</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldLabel</name>
                <value>
                    <stringValue>Total Expenses</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldValue</name>
                <value>
                    <elementReference>Get_Budget_on_Application.Total_Expenses__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>blankspace_ReadOnly</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Revenue_Display_ReadOnly</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Revenue&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Revenue_Datatable_ReadOnly</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Application_Budget_Detail__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Application_Budget_Detail__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,Total_Amount__c,Planned_Amount__c,Other_Funding__c,Description__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>Total_Amount__c:Total Activity Budget, Planned_Amount__c:Planned CDBG Amount, Description__c:Narrative</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:208, Total_Amount__c:208, Planned_Amount__c:208, Other_Funding__c:208, Description__c:208</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_not_suppressNameFieldLink</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>COL_Revenue</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>not_suppressNameFieldLink</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Total_Revenue_Budget_ReadOnly</name>
            <extensionName>c:screenFlowReadOnlyComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldLabel</name>
                <value>
                    <stringValue>Total Revenue</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldType</name>
                <value>
                    <stringValue>Currency</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldValue</name>
                <value>
                    <elementReference>Get_Budget_on_Application.Total_Revenue__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Application</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>COL_All_Details</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Application_Budget_Detail__c</objectType>
    </variables>
    <variables>
        <name>COL_Budget_Category</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BudgetCategory</objectType>
    </variables>
    <variables>
        <name>COL_Budget_Detail</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BudgetCategoryValue</objectType>
    </variables>
    <variables>
        <name>COL_Expense</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Application_Budget_Detail__c</objectType>
    </variables>
    <variables>
        <name>COL_Indirect</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Application_Budget_Detail__c</objectType>
    </variables>
    <variables>
        <name>COL_Revenue</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Application_Budget_Detail__c</objectType>
    </variables>
    <variables>
        <name>Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>isComplete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewBudget</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Application_Budget__c</objectType>
    </variables>
    <variables>
        <name>rec_Budget</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Operating_Budget__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SOV_Application_Budget_Category</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Application_Budget_Category__c</objectType>
    </variables>
    <variables>
        <name>SOV_Application_Revenue</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Application_Budget_Detail__c</objectType>
    </variables>
    <variables>
        <name>SOV_Budget_Category</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BudgetCategory</objectType>
    </variables>
    <variables>
        <name>SOV_Budget_Contract</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BudgetCategoryValue</objectType>
    </variables>
    <variables>
        <name>SOV_Budget_Direct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BudgetCategory</objectType>
    </variables>
    <variables>
        <name>SOV_Budget_Equip</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BudgetCategoryValue</objectType>
    </variables>
    <variables>
        <name>SOV_Budget_Facility</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BudgetCategoryValue</objectType>
    </variables>
    <variables>
        <name>SOV_Budget_Indirect</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BudgetCategoryValue</objectType>
    </variables>
    <variables>
        <name>SOV_Budget_Insure</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BudgetCategoryValue</objectType>
    </variables>
    <variables>
        <name>SOV_Budget_Local</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BudgetCategoryValue</objectType>
    </variables>
    <variables>
        <name>SOV_Budget_Other1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BudgetCategoryValue</objectType>
    </variables>
    <variables>
        <name>SOV_Budget_Other2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BudgetCategoryValue</objectType>
    </variables>
    <variables>
        <name>SOV_Budget_other3</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BudgetCategoryValue</objectType>
    </variables>
    <variables>
        <name>SOV_Budget_Other4</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BudgetCategoryValue</objectType>
    </variables>
    <variables>
        <name>SOV_Budget_Other5</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BudgetCategoryValue</objectType>
    </variables>
    <variables>
        <name>SOV_Budget_Personnel</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BudgetCategoryValue</objectType>
    </variables>
    <variables>
        <name>SOV_Budget_print</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BudgetCategoryValue</objectType>
    </variables>
    <variables>
        <name>SOV_Budget_Supply</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BudgetCategoryValue</objectType>
    </variables>
    <variables>
        <name>SOV_Budget_Tele</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BudgetCategoryValue</objectType>
    </variables>
    <variables>
        <name>SOV_BudgetIndirect</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BudgetCategory</objectType>
    </variables>
    <variables>
        <name>SOV_Expense_new</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Application_Budget_Detail__c</objectType>
    </variables>
    <variables>
        <name>SOV_Indirect_Expense</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Application_Budget_Detail__c</objectType>
    </variables>
    <variables>
        <name>SOV_Storage</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BudgetCategoryValue</objectType>
    </variables>
    <variables>
        <name>SOVBudget</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Budget</objectType>
    </variables>
    <variables>
        <name>var_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_CreateBudget</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_EditBudget</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
