force-app/main/default/flows/Contract_Record_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Redirect_to_New_Contract_Record</name>
        <label>Redirect to New Contract Record</label>
        <locationX>176</locationX>
        <locationY>6206</locationY>
        <actionName>ecflc:flowIdRedirect</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>rec_Contract.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ecflc:flowIdRedirect</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Criteria_to_Collection</name>
        <label>Add Criteria to Collection</label>
        <locationX>264</locationX>
        <locationY>2570</locationY>
        <assignmentItems>
            <assignToReference>col_CriteriaToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rec_Criteria</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Criteria</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Operating_Budgets_to_Collection</name>
        <label>Add Operating Budgets to Collection</label>
        <locationX>264</locationX>
        <locationY>5690</locationY>
        <assignmentItems>
            <assignToReference>col_OperatingBudgetsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rec_OperatingBudget</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Operating_Budgets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Output_to_Collection</name>
        <label>Add Output to Collection</label>
        <locationX>264</locationX>
        <locationY>1946</locationY>
        <assignmentItems>
            <assignToReference>col_OutputsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rec_Output</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Outputs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Personnel_Schedules_to_Collection</name>
        <label>Add Personnel Schedules to Collection</label>
        <locationX>264</locationX>
        <locationY>3818</locationY>
        <assignmentItems>
            <assignToReference>col_PersonnelSchedulesToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rec_PersonnelSchedule</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Personnel_Schedules</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Program_Activities_to_Collection</name>
        <label>Add Program Activities to Collection</label>
        <locationX>264</locationX>
        <locationY>5066</locationY>
        <assignmentItems>
            <assignToReference>col_ProgramActivitiesToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rec_ProgramActivity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Program_Activities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Properties_to_Collection</name>
        <label>Add Properties to Collection</label>
        <locationX>264</locationX>
        <locationY>4442</locationY>
        <assignmentItems>
            <assignToReference>col_PropertiesToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rec_Property</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Properties</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Reimbursements_to_Collection</name>
        <label>Add Reimbursements to Collection</label>
        <locationX>264</locationX>
        <locationY>3194</locationY>
        <assignmentItems>
            <assignToReference>col_ReimbursementsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rec_Reimbursement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Reimbursements</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>264</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>col_BudgetToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Budgets</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Budgets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contract</name>
        <label>Assign Contract</label>
        <locationX>264</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>Loop_Budgets.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rec_Contract.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Contract_Id_to_Shared_Var</name>
        <label>Set Contract Id to Shared Var</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>rec_Contract</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Requery_New_Contract_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Project_with_New_Contract_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Criteria_Vars</name>
        <label>Set Criteria Vars</label>
        <locationX>264</locationX>
        <locationY>2462</locationY>
        <assignmentItems>
            <assignToReference>rec_Criteria.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Criteria.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Criteria.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Requery_New_Contract_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Criteria_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Operating_Budget_Vars</name>
        <label>Set Operating Budget Vars</label>
        <locationX>264</locationX>
        <locationY>5582</locationY>
        <assignmentItems>
            <assignToReference>rec_OperatingBudget.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Operating_Budgets.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_OperatingBudget.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Requery_New_Contract_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Operating_Budgets_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Output_Vars</name>
        <label>Set Output Vars</label>
        <locationX>264</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>rec_Output.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Outputs.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Output.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Requery_New_Contract_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Output_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Personnel_Schedule_Vars</name>
        <label>Set Personnel Schedule Vars</label>
        <locationX>264</locationX>
        <locationY>3710</locationY>
        <assignmentItems>
            <assignToReference>rec_PersonnelSchedule.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Personnel_Schedules.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_PersonnelSchedule.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Requery_New_Contract_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Personnel_Schedules_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Program_Activity_Vars</name>
        <label>Set Program Activity Vars</label>
        <locationX>264</locationX>
        <locationY>4958</locationY>
        <assignmentItems>
            <assignToReference>rec_ProgramActivity.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Program_Activities.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ProgramActivity.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Requery_New_Contract_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Program_Activities_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Property_Vars</name>
        <label>Set Property Vars</label>
        <locationX>264</locationX>
        <locationY>4334</locationY>
        <assignmentItems>
            <assignToReference>rec_Property.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Properties.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Property.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Requery_New_Contract_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Properties_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Reimbursement_Vars</name>
        <label>Set Reimbursement Vars</label>
        <locationX>264</locationX>
        <locationY>3086</locationY>
        <assignmentItems>
            <assignToReference>rec_Reimbursement.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Reimbursements.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Reimbursement.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Requery_New_Contract_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Reimbursements_to_Collection</targetReference>
        </connector>
    </assignments>
    <description>CA 2/27/26 - Deleted email alert to applicant(award letter)
CC 1/29/25 - Updated Contract create element to include assigning the Application field - updated with more related object queries
CC 1/28/25 - Update application related objects with contract lookup
SB 1/14/25 - Update Budgets with Contract lookup
SB 6/4/24 - Check for valid email alert recipient
SB 6/3/24 - Update Primary Grantee on Contract create
SB 5/21/24 - add email alert to grantee that project has been awarded
CC 5/16/24 - added user -&gt; grantee automation at the end of the flow
CC 5/10/24 - added Fault Error handling screen
CC 4/29/24 - added Analyst and Monitor lookup fields (being mapped from related Project)
CC 4/24/24 - added more field mappings - stamping the new Contract Id on the Project record
CC 4/18/24 - added contract rec type handling</description>
    <dynamicChoiceSets>
        <name>col_choices_ContractRecTypes</name>
        <collectionReference>Get_Contracting_Rec_Types</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>RecordType</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Contract Record Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract Process: Create Contract Record</label>
    <loops>
        <name>Loop_Budgets</name>
        <label>Loop Budgets</label>
        <locationX>176</locationX>
        <locationY>1106</locationY>
        <collectionReference>GetApplicationBudgets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Contract</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Budget_with_New_Contract</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Criteria</name>
        <label>Loop Criteria</label>
        <locationX>176</locationX>
        <locationY>2354</locationY>
        <collectionReference>Get_Criteria_from_Application</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Criteria_Vars</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Criteria</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Operating_Budgets</name>
        <label>Loop Operating Budgets</label>
        <locationX>176</locationX>
        <locationY>5474</locationY>
        <collectionReference>Get_Operating_Budgets_from_Application</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Operating_Budget_Vars</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Operating_Budgets</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Outputs</name>
        <label>Loop Outputs</label>
        <locationX>176</locationX>
        <locationY>1730</locationY>
        <collectionReference>Get_Outputs_from_Application</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Output_Vars</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Outputs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Personnel_Schedules</name>
        <label>Loop Personnel Schedules</label>
        <locationX>176</locationX>
        <locationY>3602</locationY>
        <collectionReference>Get_Personnel_Schedules_from_Application</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Personnel_Schedule_Vars</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Personnel_Schedules</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Program_Activities</name>
        <label>Loop Program Activities</label>
        <locationX>176</locationX>
        <locationY>4850</locationY>
        <collectionReference>Get_Program_Activities_from_Application</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Program_Activity_Vars</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Program_Activities</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Properties</name>
        <label>Loop Properties</label>
        <locationX>176</locationX>
        <locationY>4226</locationY>
        <collectionReference>Get_Properties_from_Application</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Property_Vars</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Properties</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Reimbursements</name>
        <label>Loop Reimbursements</label>
        <locationX>176</locationX>
        <locationY>2978</locationY>
        <collectionReference>Get_Reimbursements_from_Application</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Reimbursement_Vars</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Reimbursements</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Contract_Record</name>
        <label>Create Contract Record</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Requery_New_Contract_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Project_Record.Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Analyst__c</field>
            <value>
                <elementReference>Get_Project_Record.Analyst__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Application__c</field>
            <value>
                <elementReference>Get_Related_Application.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GranteePrimaryContact__c</field>
            <value>
                <elementReference>Get_Project_Record.CreatedBy.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProgramMonitor__c</field>
            <value>
                <elementReference>Get_Project_Record.GrantMonitor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project__c</field>
            <value>
                <elementReference>Get_Project_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>var_SelectedContractType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Development_Costs__c</field>
            <value>
                <elementReference>Get_Project_Record.Total_Development_Costs__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Funding__c</field>
            <value>
                <elementReference>Get_Project_Record.Award_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Applicant_s_User</name>
        <label>Get Applicant&apos;s User</label>
        <locationX>176</locationX>
        <locationY>5990</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Applicant_User_with_Perm_Set_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Project_Record.Application__r.CreatedBy.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contracting_Rec_Types</name>
        <label>Get Contracting Rec Types</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Contract_Type_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contract</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Criteria_from_Application</name>
        <label>Get Criteria from Application</label>
        <locationX>176</locationX>
        <locationY>2246</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Criteria</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Related_Application.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Criteria__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Operating_Budgets_from_Application</name>
        <label>Get Operating Budgets from Application</label>
        <locationX>176</locationX>
        <locationY>5366</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Operating_Budgets</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Related_Application.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Operating_Budget__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Outputs_from_Application</name>
        <label>Get Outputs from Application</label>
        <locationX>176</locationX>
        <locationY>1622</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Outputs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Related_Application.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Output__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Personnel_Schedules_from_Application</name>
        <label>Get Personnel Schedules from Application</label>
        <locationX>176</locationX>
        <locationY>3494</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Personnel_Schedules</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Related_Application.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Personnel_Schedule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Program_Activities_from_Application</name>
        <label>Get Program Activities from Application</label>
        <locationX>176</locationX>
        <locationY>4742</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Program_Activities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Related_Application.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Program_Activities__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Project_Record</name>
        <label>Get Project Record</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Application</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Properties_from_Application</name>
        <label>Get Properties from Application</label>
        <locationX>176</locationX>
        <locationY>4118</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Properties</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Related_Application.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Property__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Reimbursements_from_Application</name>
        <label>Get Reimbursements from Application</label>
        <locationX>176</locationX>
        <locationY>2870</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Reimbursements</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Related_Application.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Reimbursement_Table__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Application</name>
        <label>Get Related Application</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contracting_Rec_Types</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Project_Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetApplicationBudgets</name>
        <label>Get Application Budgets</label>
        <locationX>176</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Budgets</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Project_Record.Application__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Application__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Budget</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Requery_New_Contract_Record</name>
        <label>Requery New Contract Record</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Contract_Id_to_Shared_Var</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Contract_Record</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Applicant_User_with_Perm_Set_Group</name>
        <label>Update Applicant User with Perm Set Group</label>
        <locationX>176</locationX>
        <locationY>6098</locationY>
        <connector>
            <targetReference>Redirect_to_New_Contract_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Applicant_s_User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Grantee__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Budget_with_New_Contract</name>
        <label>Update Budget with New Contract</label>
        <locationX>176</locationX>
        <locationY>1514</locationY>
        <connector>
            <targetReference>Get_Outputs_from_Application</targetReference>
        </connector>
        <inputReference>col_BudgetToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Criteria</name>
        <label>Update Criteria</label>
        <locationX>176</locationX>
        <locationY>2762</locationY>
        <connector>
            <targetReference>Get_Reimbursements_from_Application</targetReference>
        </connector>
        <inputReference>col_CriteriaToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Operating_Budgets</name>
        <label>Update Operating Budgets</label>
        <locationX>176</locationX>
        <locationY>5882</locationY>
        <connector>
            <targetReference>Get_Applicant_s_User</targetReference>
        </connector>
        <inputReference>col_OperatingBudgetsToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Outputs</name>
        <label>Update Outputs</label>
        <locationX>176</locationX>
        <locationY>2138</locationY>
        <connector>
            <targetReference>Get_Criteria_from_Application</targetReference>
        </connector>
        <inputReference>col_OutputsToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Personnel_Schedules</name>
        <label>Update Personnel Schedules</label>
        <locationX>176</locationX>
        <locationY>4010</locationY>
        <connector>
            <targetReference>Get_Properties_from_Application</targetReference>
        </connector>
        <inputReference>col_PersonnelSchedulesToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Program_Activities</name>
        <label>Update Program Activities</label>
        <locationX>176</locationX>
        <locationY>5258</locationY>
        <connector>
            <targetReference>Get_Operating_Budgets_from_Application</targetReference>
        </connector>
        <inputReference>col_ProgramActivitiesToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Project_with_New_Contract_Id</name>
        <label>Update Project with New Contract Id</label>
        <locationX>176</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>GetApplicationBudgets</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Project_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contract__c</field>
            <value>
                <elementReference>rec_Contract.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Project__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Properties</name>
        <label>Update Properties</label>
        <locationX>176</locationX>
        <locationY>4634</locationY>
        <connector>
            <targetReference>Get_Program_Activities_from_Application</targetReference>
        </connector>
        <inputReference>col_PropertiesToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Reimbursements</name>
        <label>Update Reimbursements</label>
        <locationX>176</locationX>
        <locationY>3386</locationY>
        <connector>
            <targetReference>Get_Personnel_Schedules_from_Application</targetReference>
        </connector>
        <inputReference>col_ReimbursementsToUpdate</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>440</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dt_error_message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Oops! Looks like there was a problem creating the record.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Contract_Type_Screen</name>
        <label>Select Contract Type Screen</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Contract_Record</targetReference>
        </connector>
        <fields>
            <name>Contract_Type_selection</name>
            <choiceReferences>col_choices_ContractRecTypes</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select the type of contract</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Project_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>col_BudgetToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Budget</objectType>
    </variables>
    <variables>
        <name>col_CriteriaToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Criteria__c</objectType>
    </variables>
    <variables>
        <name>col_OperatingBudgetsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Operating_Budget__c</objectType>
    </variables>
    <variables>
        <name>col_OutputsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Output__c</objectType>
    </variables>
    <variables>
        <name>col_PersonnelSchedulesToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Personnel_Schedule__c</objectType>
    </variables>
    <variables>
        <name>col_ProgramActivitiesToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Program_Activities__c</objectType>
    </variables>
    <variables>
        <name>col_PropertiesToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Property__c</objectType>
    </variables>
    <variables>
        <name>col_ReimbursementsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Reimbursement_Table__c</objectType>
    </variables>
    <variables>
        <name>rec_BudgetToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Budget</objectType>
    </variables>
    <variables>
        <name>rec_Contract</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>rec_Criteria</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Criteria__c</objectType>
    </variables>
    <variables>
        <name>rec_OperatingBudget</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Operating_Budget__c</objectType>
    </variables>
    <variables>
        <name>rec_Output</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Output__c</objectType>
    </variables>
    <variables>
        <name>rec_PersonnelSchedule</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Personnel_Schedule__c</objectType>
    </variables>
    <variables>
        <name>rec_ProgramActivity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Program_Activities__c</objectType>
    </variables>
    <variables>
        <name>rec_Property</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Property__c</objectType>
    </variables>
    <variables>
        <name>rec_Reimbursement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Reimbursement_Table__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_SelectedContractType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Contract_Type_selection</elementReference>
        </value>
    </variables>
</Flow>
