force-app/main/default/flows/Create_Approval_Assignments_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Redirect_to_Document_Checklist_Item</name>
        <label>Redirect to Document Checklist Item</label>
        <locationX>50</locationX>
        <locationY>1490</locationY>
        <actionName>ecflc:flowIdRedirect</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_Document_Checklist_Item.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ecflc:flowIdRedirect</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Approval_Assignment_to_Collection</name>
        <label>Add Approval Assignment to Collection</label>
        <locationX>270</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>col_ApprovalAssignmentsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rec_ApprovalAssignment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Ref_Approval_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Approval_Assignment_Status</name>
        <label>Set Approval Assignment Status</label>
        <locationX>402</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>rec_ApprovalAssignment.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Approval_Assignment_Vars</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Approval_Assignment_to_Alert_Only</name>
        <label>Set Approval Assignment to Alert Only</label>
        <locationX>138</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>rec_ApprovalAssignment.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Alert Only</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ApprovalAssignment.Alert_Only__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Approval_Assignment_Vars</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Approval_Assignment_Vars</name>
        <label>Set Approval Assignment Vars</label>
        <locationX>270</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>rec_ApprovalAssignment.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Ref_Approval_Details.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ApprovalAssignment.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Ref_Approval_Details.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ApprovalAssignment.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Ref_Approval_Details.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ApprovalAssignment.Document_Checklist_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Document_Checklist_Item.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Approval_Assignment_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Active_Ref_Approval_Records_Found</name>
        <label>Check Active Ref Approval Records Found</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>No_Ref_Approval_Assignment_Records_Found_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Yes_Active_Ref_Approval_Records_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Active_Ref_Approval_Assignment_Templates</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_Active_Ref_Approval_Assignment_Records</targetReference>
            </connector>
            <label>Yes Active Ref Approval Records Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Email_Alert_Only</name>
        <label>Check If Email Alert Only</label>
        <locationX>270</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Set_Approval_Assignment_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Email Alert Only</defaultConnectorLabel>
        <rules>
            <name>Email_Alert_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Ref_Approval_Details.Email_Alert_Only__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Approval_Assignment_to_Alert_Only</targetReference>
            </connector>
            <label>Email Alert Only</label>
        </rules>
    </decisions>
    <description>CC 1/8/24 - added Alert Only checkbox on Approval Assignment</description>
    <environments>Default</environments>
    <interviewLabel>Create Approval Assignments [Screen Flow] {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Approval Assignments [Screen Flow]</label>
    <loops>
        <name>Loop_Ref_Approval_Details</name>
        <label>Loop Ref Approval Details</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <collectionReference>Get_Ref_Approval_Details</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_If_Email_Alert_Only</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Approval_Assignments</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Approval_Assignments</name>
        <label>Create Approval Assignments</label>
        <locationX>50</locationX>
        <locationY>1382</locationY>
        <connector>
            <targetReference>Redirect_to_Document_Checklist_Item</targetReference>
        </connector>
        <inputReference>col_ApprovalAssignmentsToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Active_Ref_Approval_Assignment_Templates</name>
        <label>Get Active Ref Approval Assignment Templates</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Active_Ref_Approval_Records_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Reference_Approval_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Document_Checklist_Item</name>
        <label>Get Document Checklist Item</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Active_Ref_Approval_Assignment_Templates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DocumentChecklistItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Ref_Approval_Details</name>
        <label>Get Ref Approval Details</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Ref_Approval_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Reference_Approval_Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>datatable_AllActiveRefApprovalTemplates.outputSelectedRow.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Reference_Approval_Assignment_Details__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Display_Active_Ref_Approval_Assignment_Records</name>
        <label>Display Active Ref Approval Assignment Records</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Ref_Approval_Details</targetReference>
        </connector>
        <fields>
            <name>dt_SelectRefApprovalAsignmentTemplate</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;From the table below, select the approval assignment template you wish to use. Based on your selection, a collection of approval assignments will be created.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>datatable_AllActiveRefApprovalTemplates</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Reference_Approval_Assignment__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Reference_Approval_Assignment__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Active_Ref_Approval_Assignment_Templates</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,Description__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFlexes</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:0, Description__c:0</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleRowSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_not_suppressNameFieldLink</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Create Approval Assignments</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Ref_Approval_Assignment_Records_Found_screen</name>
        <label>No Ref Approval Assignment Records Found</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>dt_NoRefApprovalAssignmentRecordsFound</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;There are no active approval assignment templates at this time. Try running the process again when at least 1 template is set to Active in the system. Close out of this window by clicking the button below.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Close Out</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Document_Checklist_Item</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>col_ApprovalAssignmentsToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Approval_Assignment__c</objectType>
    </variables>
    <variables>
        <name>rec_ApprovalAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Approval_Assignment__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
