force-app/main/default/flows/Create_Reporting_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Redirect_to_New_Reporting_Record</name>
        <label>Redirect to New Reporting Record</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <actionName>ecflc:flowIdRedirect</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>rec_Reporting.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ecflc:flowIdRedirect</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Shared_Var_from_New_Reporting_Record</name>
        <label>Set Shared Var from New Reporting Record</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>rec_Reporting</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Requery_New_Reporting_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Redirect_to_New_Reporting_Record</targetReference>
        </connector>
    </assignments>
    <description>5/20/24 SB -  Map grantee and analyst/program monitor</description>
    <dynamicChoiceSets>
        <name>col_choices_ReportingRecTypes</name>
        <collectionReference>Get_Reporting_Rec_Types</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>RecordType</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Create Reporting Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Reporting Process: Create Reporting Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Reporting_Record</name>
        <label>Create Reporting Record</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Requery_New_Reporting_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Analyst__c</field>
            <value>
                <elementReference>Get_Contract_Record.Analyst__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract__c</field>
            <value>
                <elementReference>Get_Contract_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Grantee_Primary_Contact__c</field>
            <value>
                <elementReference>Get_Contract_Record.GranteePrimaryContact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Program_Monitor__c</field>
            <value>
                <elementReference>Get_Contract_Record.ProgramMonitor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project__c</field>
            <value>
                <elementReference>Get_Contract_Record.Project__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>var_SelectedReportingType</elementReference>
            </value>
        </inputAssignments>
        <object>Reporting__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Contract_Record</name>
        <label>Get Contract Record</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Reporting_Rec_Types</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Reporting_Rec_Types</name>
        <label>Get Reporting Rec Types</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Report_Type_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Reporting__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Requery_New_Reporting_Record</name>
        <label>Requery New Reporting Record</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Shared_Var_from_New_Reporting_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Reporting_Record</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Reporting__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Select_Report_Type_Screen</name>
        <label>Select Report Type Screen</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Reporting_Record</targetReference>
        </connector>
        <fields>
            <name>Reporting_Type_selection</name>
            <choiceReferences>col_choices_ReportingRecTypes</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select the type of report</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contract_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>rec_Reporting</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Reporting__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_SelectedReportingType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Reporting_Type_selection</elementReference>
        </value>
    </variables>
</Flow>
