force-app/main/default/flows/Criteria_Records_Create_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Criteria_to_Collection</name>
        <label>Add Criteria to Collection</label>
        <locationX>314</locationX>
        <locationY>1556</locationY>
        <assignmentItems>
            <assignToReference>col_CriteriaRecordsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rec_Criteria</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_New_Criteria_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Vars</name>
        <label>Reset Vars</label>
        <locationX>402</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>col_CriteriaRecordsToCreate</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Get_Related_Critieria</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Criteria_Vars</name>
        <label>Set Criteria Vars</label>
        <locationX>314</locationX>
        <locationY>1448</locationY>
        <assignmentItems>
            <assignToReference>rec_Criteria.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_New_Criteria_Records.Criteria_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Criteria.Output__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_New_Criteria_Records.Select_Output</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Criteria.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_New_Criteria_Records.Criteria_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Criteria.Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Application_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Criteria.Required__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Criteria_to_Collection</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <description>Checks is the application is ReadOnly or not</description>
        <name>Application_Status_Check</name>
        <label>Application Status Check</label>
        <locationX>402</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Criteria_Records_Table_Display_ReadOnly</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Read Only</defaultConnectorLabel>
        <rules>
            <name>Editable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Application_Id.Read_Only__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Criteria_Records_Found</targetReference>
            </connector>
            <label>Editable</label>
        </rules>
    </decisions>
    <decisions>
        <name>Criteria_Records_Found</name>
        <label>Criteria Records Found?</label>
        <locationX>226</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Select_Outputs_and_Create_Criteria_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Critieria</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Criteria_Records_Table_Display</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Navigation_Selection</name>
        <label>Navigation Selection</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Success_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Success Screen</defaultConnectorLabel>
        <rules>
            <name>Add_New_Criteria</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>btnnavbar_CriteriaEditScreen.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add New Criteria</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Outputs_and_Create_Criteria_Records</targetReference>
            </connector>
            <label>Add New Criteria</label>
        </rules>
    </decisions>
    <description>CC 2/4/26 - added validation to enforce 80 character max limit on &apos;Criteria Name&apos; field
SB 8/12/25 - Reset collection var
CC 1/29/25 - removed isComplete var assignment - added Output Name as formula on datatable
CC 1/29/25 - added isComplete var assignment (for flow being marked as required in reference application)
CC 1/23/25 - connected new path to Success Screen at the end of the flow
CC 1/22/25 - restructuring to show a table of records already created, allow edits
CC 1/21/25 - added success screen
CC 7/29/25 - added Required field to criteria
CC 11/7/25 - Created a ReadOnly Path</description>
    <dynamicChoiceSets>
        <name>ccs_AllRelatedOutputs</name>
        <collectionReference>Get_Related_Outputs</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Output__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Criteria: Create Records [Screen Flow] {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Criteria Records: Create [Screen Flow]</label>
    <loops>
        <name>Loop_New_Criteria_Records</name>
        <label>Loop New Criteria Records</label>
        <locationX>226</locationX>
        <locationY>1340</locationY>
        <collectionReference>repeater_CriteriaRecordsCreate.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Criteria_Vars</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Criteria_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Criteria_Records</name>
        <label>Create Criteria Records</label>
        <locationX>226</locationX>
        <locationY>1748</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <inputReference>col_CriteriaRecordsToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Application_Id</name>
        <label>Get Application Id</label>
        <locationX>402</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Outputs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Critieria</name>
        <label>Get Related Critieria</label>
        <locationX>402</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Application_Status_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Application_Id.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Criteria__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Outputs</name>
        <label>Get Related Outputs</label>
        <locationX>402</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Reset_Vars</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Application_Id.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Output__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Criteria_Records_Table_Display</name>
        <label>Criteria Records Table Display</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Navigation_Selection</targetReference>
        </connector>
        <fields>
            <name>Criteria_Records_Table_Display_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Criteria_Records_Table_Display_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dt_CriteriaDatatableInstructions</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;See the table below for all the criteria records that have been entered with this application. To &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;edit a record&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;, click the the circle next to its name in the table, and review/edit the fields below.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>datatable_CriteriaRecords</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Criteria__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Criteria__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_Related_Critieria</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_suppressBottomBar</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_navigateNextOnSave</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnFields</name>
                        <value>
                            <stringValue>Name,Description__c,Output_Name_frm__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_matchCaseOnFilters</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnWidths</name>
                        <value>
                            <stringValue>Name:486, Description__c:486, Output_Name_frm__c:487</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_not_suppressNameFieldLink</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>singleRowSelection</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_singleRowSelection</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Criteria_Records_Table_Display_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Criteria_Records_Table_Display_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>recordDetail_CriteriaRecordfromTable</name>
                    <extensionName>c:recordDetailFlowScreenComponent</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Criteria__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fields</name>
                        <value>
                            <stringValue>Name, Description__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>datatable_CriteriaRecords.outputSelectedRow.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>SaveBtnLabel</name>
                        <value>
                            <stringValue>Save Updates</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>mode</name>
                        <value>
                            <stringValue>Edit</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>datatable_CriteriaRecords.outputSelectedRow.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Criteria_Records_Table_Display_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Criteria_Records_Table_Display_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>btnnavbar_CriteriaEditScreen</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>center</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>above</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>navigation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Add New Criteria&quot;,&quot;value&quot;:&quot;Add New Criteria&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;success&quot;,&quot;index&quot;:0}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Complete</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Criteria_Records_Table_Display_ReadOnly</name>
        <label>Criteria Records Table Display ReadOnly</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Criteria_Records_Table_Display_ReadOnly_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Criteria_Records_Table_Display_ReadOnly_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_dt_CriteriaDatatableInstructions</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;See the table below for all the criteria records that have been entered with this application. To &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;edit a record&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;, click the the circle next to its name in the table, and review/edit the fields below.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>datatable_CriteriaRecords_ReadOnly</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Criteria__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Criteria__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_Related_Critieria</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_suppressBottomBar</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_navigateNextOnSave</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnFields</name>
                        <value>
                            <stringValue>Name,Description__c,Output_Name_frm__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_matchCaseOnFilters</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnWidths</name>
                        <value>
                            <stringValue>Name:486, Description__c:486, Output_Name_frm__c:487</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_not_suppressNameFieldLink</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>singleRowSelection</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_singleRowSelection</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Criteria_Records_Table_Display_ReadOnly_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Criteria_Records_Table_Display_ReadOnly_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>recordDetail_CriteriaRecordfromTable_ReadOnly</name>
                    <extensionName>c:recordDetailFlowScreenComponent</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Criteria__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fields</name>
                        <value>
                            <stringValue>Name, Description__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>datatable_CriteriaRecords_ReadOnly.outputSelectedRow.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>SaveBtnLabel</name>
                        <value>
                            <stringValue>Save Updates</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>mode</name>
                        <value>
                            <stringValue>View</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>datatable_CriteriaRecords_ReadOnly.outputSelectedRow.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Criteria_Records_Table_Display_ReadOnly_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Criteria_Records_Table_Display_ReadOnly_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Complete</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Outputs_and_Create_Criteria_Records</name>
        <label>Select Outputs and Create Criteria Records</label>
        <locationX>226</locationX>
        <locationY>1232</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_New_Criteria_Records</targetReference>
        </connector>
        <fields>
            <name>dt_CriteriaCreateInstructions</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Use the tool below to create the criteria related to each output. For every criteria created, there will be a required dropdown field where you can select the output you are relating the criteria to.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;To create more criteria records, click the &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;+Add &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;button at the bottom of the screen.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>repeater_CriteriaRecordsCreate</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>Select_Output</name>
                <choiceReferences>ccs_AllRelatedOutputs</choiceReferences>
                <dataType>String</dataType>
                <fieldText>Select Output</fieldText>
                <fieldType>DropdownBox</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Criteria_Name</name>
                <dataType>String</dataType>
                <fieldText>Criteria Name</fieldText>
                <fieldType>InputField</fieldType>
                <helpText>&lt;p&gt;Enter the short length version of the Criteria Name (80 character limit) here&lt;/p&gt;</helpText>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
                <validationRule>
                    <errorMessage>&lt;p&gt;Name too long. Max character length = 80&lt;/p&gt;</errorMessage>
                    <formulaExpression>LEN({!repeater_CriteriaRecordsCreate.AllItems[$EachItem].Criteria_Name}) &lt; 80</formulaExpression>
                </validationRule>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>repeater_CriteriaRecordsCreate.AllItems[$EachItem].Select_Output</leftValueReference>
                        <operator>IsNull</operator>
                        <rightValue>
                            <booleanValue>false</booleanValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>Criteria_Description</name>
                <fieldText>Criteria Description</fieldText>
                <fieldType>LargeTextArea</fieldType>
                <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Enter the full length version of the Criteria Name and/or Description here&lt;/span&gt;&lt;/p&gt;</helpText>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>repeater_CriteriaRecordsCreate.AllItems[$EachItem].Select_Output</leftValueReference>
                        <operator>IsNull</operator>
                        <rightValue>
                            <booleanValue>false</booleanValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Complete</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>226</locationX>
        <locationY>1856</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Related_Outputs</targetReference>
        </connector>
        <fields>
            <name>dt_SuccessMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(26, 179, 29); font-size: 14px;&quot;&gt;You have successfully completed this section of the application! &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(26, 179, 29); font-size: 14px;&quot;&gt;You can proceed through the rest of the sections, or come back here at any time to enter new / update criteria.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Return to Beginning of This Section</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>276</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Application_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>col_CriteriaRecordsToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Criteria__c</objectType>
    </variables>
    <variables>
        <name>isComplete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>rec_Criteria</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Criteria__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
