force-app/main/default/flows/DFDFW_Assign_Permission_Set_To_Community_User.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_PSA_var_to_collection</name>
        <label>Add PSA var to collection</label>
        <locationX>138</locationX>
        <locationY>2087</locationY>
        <assignmentItems>
            <assignToReference>PermissionSetAssignmentCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PermissionSetAssignmentRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Looping_over_permission_sets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_record_to_assignment_variable</name>
        <label>Add record to assignment variable</label>
        <locationX>138</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>PermissionSetLscAsgRecCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PermissionSetLicenseAssignment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Looping_over_Permission_Set_License_group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_values_to_PS_assignment_variable</name>
        <label>assign values to PS assignment variable</label>
        <locationX>138</locationX>
        <locationY>1979</locationY>
        <assignmentItems>
            <assignToReference>PermissionSetAssignmentRecord.AssigneeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PermissionSetAssignmentRecord.PermissionSetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Looping_over_permission_sets.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_PSA_var_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_assignment_Record_variable</name>
        <label>Update assignment Record variable</label>
        <locationX>138</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>PermissionSetLicenseAssignment.PermissionSetLicenseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Looping_over_Permission_Set_License_group.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PermissionSetLicenseAssignment.AssigneeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_record_to_assignment_variable</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_DFD_Portal_User</name>
        <label>Check if DFD Portal User</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_DFD_Portal_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Label.DFDFW_Community_Profile_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Profile.Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Permission_Set_Liscence</targetReference>
            </connector>
            <label>Is DFD Portal User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Permission_Set_Found</name>
        <label>Permission Set Found</label>
        <locationX>182</locationX>
        <locationY>1763</locationY>
        <defaultConnectorLabel>PS not found</defaultConnectorLabel>
        <rules>
            <name>PS_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Permission_Sets</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Looping_over_permission_sets</targetReference>
            </connector>
            <label>PS Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Permission_Set_License_Found</name>
        <label>Permission Set License Found</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Get_Public_Group</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No PSL Found</defaultConnectorLabel>
        <rules>
            <name>PSL_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Permission_Set_Liscence</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Looping_over_Permission_Set_License_group</targetReference>
            </connector>
            <label>PSL Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Public_Group_Found</name>
        <label>Public Group Found</label>
        <locationX>182</locationX>
        <locationY>1355</locationY>
        <defaultConnector>
            <targetReference>Get_Permission_Sets</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Group Found</defaultConnectorLabel>
        <rules>
            <name>Group_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Public_Group</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_user_to_group</targetReference>
            </connector>
            <label>Group Found</label>
        </rules>
    </decisions>
    <description>This Flow assigns permission sets and group to the newly created community users.</description>
    <environments>Default</environments>
    <interviewLabel>DFDFW Assign Permission Set To Community User {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DFDFW Assign Permission Set To Community User</label>
    <loops>
        <name>Looping_over_Permission_Set_License_group</name>
        <label>Looping over Permission Set License group</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_Permission_Set_Liscence</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_assignment_Record_variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Permission_Set_License_Assignment_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Looping_over_permission_sets</name>
        <label>Looping over permission sets</label>
        <locationX>50</locationX>
        <locationY>1871</locationY>
        <collectionReference>Get_Permission_Sets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_values_to_PS_assignment_variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_PSA</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Add_user_to_group</name>
        <label>Add user to group</label>
        <locationX>50</locationX>
        <locationY>1463</locationY>
        <connector>
            <targetReference>Get_Permission_Sets</targetReference>
        </connector>
        <inputAssignments>
            <field>GroupId</field>
            <value>
                <elementReference>Get_Public_Group.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Permission_Set_License_Assignment_Records</name>
        <label>Create Permission Set License Assignment Records</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Get_Public_Group</targetReference>
        </connector>
        <inputReference>PermissionSetLscAsgRecCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_PSA</name>
        <label>Create PSA</label>
        <locationX>50</locationX>
        <locationY>2279</locationY>
        <inputReference>PermissionSetAssignmentCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Permission_Set_Liscence</name>
        <label>Get Permission Set Liscence</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Permission_Set_License_Found</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DocGenRuntimeCCPsl</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OmniStudioRuntimeCC</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PermissionSetLicense</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Permission_Sets</name>
        <label>Get Permission Sets</label>
        <locationX>182</locationX>
        <locationY>1655</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Permission_Set_Found</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DocGenRuntimeCC</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DFDFW_Portal_User</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DFDFW_OmniStudio_Community_User</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Public_Group</name>
        <label>Get Public Group</label>
        <locationX>182</locationX>
        <locationY>1247</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Public_Group_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DFDFW Portal Users</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_DFD_Portal_User</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>UserType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PowerCustomerSuccess</stringValue>
            </value>
        </filters>
        <filters>
            <field>UserType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CustomerSuccess</stringValue>
            </value>
        </filters>
        <object>User</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>PermissionSetAssignmentCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
    <variables>
        <name>PermissionSetAssignmentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
    <variables>
        <name>PermissionSetLicenseAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSetLicenseAssign</objectType>
    </variables>
    <variables>
        <name>PermissionSetLicenseName</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PermissionSetLscAsgRecCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSetLicenseAssign</objectType>
    </variables>
</Flow>
