force-app/main/default/flows/DFDFW_Status_Update_and_Notifications_for_Applications.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_remainder_for_missing_documents</name>
        <label>Email remainder for missing documents</label>
        <locationX>182</locationX>
        <locationY>2435</locationY>
        <actionName>Service_Application_Detail__c.DFDS001_Special_Event_Documents_Required_Reminder</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Service_Application_Detail__c.DFDS001_Special_Event_Documents_Required_Reminder</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_on_Application_Submitted</name>
        <label>Send Email on Application Submitted</label>
        <locationX>50</locationX>
        <locationY>1595</locationY>
        <actionName>Service_Application_Detail__c.DFDS001_Special_Event_Application_Submitted</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Get_content_Records</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Service_Application_Detail__c.DFDS001_Special_Event_Application_Submitted</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification_to_community_users</name>
        <label>Send Notification to community users</label>
        <locationX>248</locationX>
        <locationY>1379</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>If_status_is_changed_to_submitted</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>notificationId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>ownerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>notificationTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>applicationName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification_to_Community_Users_1</name>
        <label>Send Notification to Community Users</label>
        <locationX>182</locationX>
        <locationY>2327</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Email_remainder_for_missing_documents</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>notificationId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>ownerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>missingDocumentsNotificationTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>missingDocumentNotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_the_Owner</name>
        <label>Assign the Owner</label>
        <locationX>248</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>ownerId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Record_Owner_User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Notification_to_community_users</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>check_the_documents_in_application</name>
        <label>check the documents in application</label>
        <locationX>138</locationX>
        <locationY>1919</locationY>
        <assignmentItems>
            <assignToReference>linkIds</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!Iterate_the_Documents.ContentDocumentId}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_the_Documents</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_contents_are_found</name>
        <label>Check if contents are found</label>
        <locationX>50</locationX>
        <locationY>2219</locationY>
        <defaultConnector>
            <targetReference>Send_Notification_to_Community_Users_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>If contents are not found</defaultConnectorLabel>
        <rules>
            <name>If_contents_are_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_content_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Content_Version_Details</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>If contents are found</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check the prior value of the status to verify that the new value is not the same as the prior one, and that the prior value was not blank.</description>
        <name>Check_the_prior_values_of_Status</name>
        <label>Check the prior values of Status</label>
        <locationX>726</locationX>
        <locationY>839</locationY>
        <defaultConnectorLabel>Prior Status value blank and updated with same value</defaultConnectorLabel>
        <rules>
            <name>Status_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Notification_Details</targetReference>
            </connector>
            <label>Status changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_OIC_Status_Changed</name>
        <label>Has OIC Status Changed</label>
        <locationX>726</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Check_the_prior_values_of_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OIC_Status_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OIC_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.OIC_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>DRAFT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_OIC_to_Status_Mapping_Custom_Metadata_Types</targetReference>
            </connector>
            <label>OIC Status Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_status_is_changed_to_submitted</name>
        <label>If status is changed to submitted</label>
        <locationX>248</locationX>
        <locationY>1487</locationY>
        <defaultConnectorLabel>else</defaultConnectorLabel>
        <rules>
            <name>status_submitted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_on_Application_Submitted</targetReference>
            </connector>
            <label>status = submitted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_user_found</name>
        <label>Is user found</label>
        <locationX>479</locationX>
        <locationY>1163</locationY>
        <defaultConnectorLabel>if user is not found</defaultConnectorLabel>
        <rules>
            <name>if_user_is_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Record_Owner_User</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_the_Owner</targetReference>
            </connector>
            <label>if user is found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Service_Application_Status_Update_Notification</name>
        <label>Service Application Status Update Notification</label>
        <locationX>982</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>No status change needed</defaultConnectorLabel>
        <rules>
            <name>Check_if_notification_needs_to_be_sent</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OIC_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OIC_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OPEN</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_OIC_Status_Changed</targetReference>
            </connector>
            <label>Check if notification needs to be sent</label>
        </rules>
    </decisions>
    <description>This flow updates the Status when OIC Status Changes and also sends emails and notifications to the user</description>
    <environments>Default</environments>
    <interviewLabel>DFDFW Status Update and Notifications for Applications {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DFDFW Status Update and Notifications for Applications</label>
    <loops>
        <name>Iterate_the_Documents</name>
        <label>Iterate the Documents</label>
        <locationX>50</locationX>
        <locationY>1811</locationY>
        <collectionReference>Get_content_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>check_the_documents_in_application</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Content_Version_Details</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_content_Records</name>
        <label>Get content Records</label>
        <locationX>50</locationX>
        <locationY>1703</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_the_Documents</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Content_Version_Details</name>
        <label>Get Content Version Details</label>
        <locationX>50</locationX>
        <locationY>2111</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_contents_are_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContentDocumentId</field>
            <operator>In</operator>
            <value>
                <elementReference>linkIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>File_Category__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentVersion</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Notification_Details</name>
        <label>Get Notification Details</label>
        <locationX>479</locationX>
        <locationY>947</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Record_Owner_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DFDFW_Status_Update</stringValue>
            </value>
        </filters>
        <object>CustomNotificationType</object>
        <outputAssignments>
            <assignToReference>notificationId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Custom Metadata contains mappings from OIC Status to Status</description>
        <name>Get_OIC_to_Status_Mapping_Custom_Metadata_Types</name>
        <label>Get (OIC to Status Mapping) Custom Metadata Types</label>
        <locationX>594</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OIC_Status__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OIC_to_Status_Mapping__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Owner_User</name>
        <label>Get Record Owner User</label>
        <locationX>479</locationX>
        <locationY>1055</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_user_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Status</name>
        <label>Update Status</label>
        <locationX>594</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Check_the_prior_values_of_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>Get_OIC_to_Status_Mapping_Custom_Metadata_Types.Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>856</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Service_Application_Status_Update_Notification</targetReference>
        </connector>
        <object>Service_Application_Detail__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>2</triggerOrder>
    <variables>
        <name>applicationName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Your Application - {!$Record.Name} status is updated from {!$Record__Prior.Status__c} to {!$Record.Status__c}.</stringValue>
        </value>
    </variables>
    <variables>
        <name>linkIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>missingDocumentNotificationBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Your Application - {!$Record.Name} has one or more missing document uploads that need to be addressed.</stringValue>
        </value>
    </variables>
    <variables>
        <name>missingDocumentsNotificationTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Action Required: Missing Document Uploads</stringValue>
        </value>
    </variables>
    <variables>
        <name>notificationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>notificationTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Application Status</stringValue>
        </value>
    </variables>
    <variables>
        <name>ownerId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
