force-app/main/default/flows/Financial_Activity_Creator.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Name</name>
        <label>Assign Name</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>pe_FinancialActivtyReference.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Budget.Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pe_FinancialActivtyReference.Contract_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pe_FinancialActivtyReference.Budget_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Budget.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pe_FinancialActivtyReference.Funding_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Funding_Award</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pe_FinancialActivtyReference.Type_of_Activity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type_of_Activity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pe_FinancialActivtyReference.Disbursement_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NameDesignator</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pe_FinancialActivtyReference.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pe_FinancialActivtyReference.Date_of_Activity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_of_Activity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pe_FinancialActivtyReference.Escrow_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Escrow_Account</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Financial_Ref</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Is_there_an_Active_Budget_Related</name>
        <label>Is there an Active Budget Related?</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>No_Active_Budget_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Active Budget</defaultConnectorLabel>
        <rules>
            <name>Yes_Active_Budget</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contract.Active_Budget__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Financial_Activity_Creation</targetReference>
            </connector>
            <label>Yes Active Budget</label>
        </rules>
    </decisions>
    <description>3/4/26 SB - Change Status on create from &apos;New (Inactive) to &apos;Scheduled&apos;
6/12/24 CC - removed redirect to resolve error from Community
6/5/24 NN - changed redirect formula
5/17/24 SB - Refresh Page
5/16/24 SB - Platform Event re-work
5/8/24 CC - setting Budget l/u on Cost Category Detail assignment
4/26/24 - added decision handling in beginning of flow to see if there is a related Active Budget
4/24/2024 NN Added lookup to parent object</description>
    <dynamicChoiceSets>
        <name>FinancialActivityPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type_of_Activity__c</picklistField>
        <picklistObject>FundingDisbursement</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PickActivityType</name>
        <dataType>String</dataType>
        <displayField>Type_of_Activity__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>FundingDisbursement</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Record_Picklist</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Budget</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RecordFundingAward</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContractId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>FundingAward</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>frm_URLRedirect</name>
        <dataType>String</dataType>
        <expression>&quot;/lightning/r/contract/&quot; + {!recordId} + &quot;/view&quot;</expression>
    </formulas>
    <formulas>
        <name>NameDesignator</name>
        <dataType>String</dataType>
        <expression>&quot;FA-&quot; + {!Type_of_Activity}</expression>
    </formulas>
    <interviewLabel>Financial Activity Creator {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Financial Activity Creator</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Financial_Ref</name>
        <label>Create New Financial Ref</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <inputReference>pe_FinancialActivtyReference</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Budget</name>
        <label>Get Budget</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Budget</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contract</name>
        <label>Get Contract</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_an_Active_Budget_Related</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Financial_Activity_Creation</name>
        <label>Financial Activity Creation</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Budget</targetReference>
        </connector>
        <fields>
            <name>DisplayComment</name>
            <fieldText>&lt;p&gt;The financial activity is being created from the active budget, please specify the funding award and type of funding activity.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Funding_Award</name>
            <choiceReferences>RecordFundingAward</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Funding Award</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Type_of_Activity</name>
            <choiceReferences>FinancialActivityPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type of Activity</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Date_of_Activity</name>
            <dataType>Date</dataType>
            <fieldText>Date of Activity</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Escrow_Account</name>
            <dataType>String</dataType>
            <fieldText>Escrow Account #</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Active_Budget_screen</name>
        <label>No Active Budget</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>dt_no_active_budget_message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 36, 36); font-size: 14px;&quot;&gt;There is no active budget related to this contract. In order to proceed, an active budget must be related.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contract</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ChosenTemplate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>COL_BudgetDetail</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BudgetCategoryValue</objectType>
    </variables>
    <variables>
        <name>COL_CostCategoryDetail</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CostCategoryDetail__c</objectType>
    </variables>
    <variables>
        <name>Empty_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CostCategoryDetail__c</objectType>
    </variables>
    <variables>
        <name>NewFinancialActivity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FundingDisbursement</objectType>
    </variables>
    <variables>
        <name>pe_FinancialActivtyReference</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Financial_Activity_Reference__e</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SOV_CostCategoryDetail</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CostCategoryDetail__c</objectType>
    </variables>
    <variables>
        <name>SOV_FinancialActivityCostCategory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Financial_Activity_Cost_Category__c</objectType>
    </variables>
    <variables>
        <name>SOV_Table</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BudgetCategoryValue</objectType>
    </variables>
    <variables>
        <name>TemplateCollection</name>
        <dataType>Picklist</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
