force-app/main/default/flows/Funding_Award_Total_Amount.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Obligated</name>
        <label>Add Obligated</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>var_TotalAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Transactions.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Transactions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Subtract_Deobligated</name>
        <label>Subtract Deobligated</label>
        <locationX>528</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>var_TotalAmount</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>Loop_Transactions.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Transactions</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Entry_Type</name>
        <label>Entry Type?</label>
        <locationX>396</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Subtract_Deobligated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Deobligated</defaultConnectorLabel>
        <rules>
            <name>Obligated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Transactions.Entry_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Obligation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Obligated</targetReference>
            </connector>
            <label>Obligated</label>
        </rules>
    </decisions>
    <description>Determines the amount of the funding award based on related award obligations and deobligations</description>
    <environments>Default</environments>
    <interviewLabel>Funding Award - Total Amount {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Funding Award - Total Amount</label>
    <loops>
        <name>Loop_Transactions</name>
        <label>Loop Transactions</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_All_Related_Transactions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Entry_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Funding_Award</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Related_Transactions</name>
        <label>Get All Related Transactions</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Transactions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Funding_Award__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Funding_Award__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Funding_Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Funding_Award</name>
        <label>Update Funding Award</label>
        <locationX>176</locationX>
        <locationY>923</locationY>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>var_TotalAmount</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Funding_Award__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Related_Transactions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Entry_Type__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type_of_Transaction__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Award</stringValue>
            </value>
        </filters>
        <object>Funding_Transaction__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>var_TotalAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
