force-app/main/default/flows/Funding_Disbursement_Update_Cost_Category_Details_Record_Triggered.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Collection_for_Update</name>
        <label>Add to Collection for Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>col_CCDsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_CCDToAdd</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_CCDs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_FD_Status</name>
        <label>Assign FD Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_CCDToAdd.FD_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CCDToAdd.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_CCDs.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection_for_Update</targetReference>
        </connector>
    </assignments>
    <description>Updates related Cost Category Details with the status of the Funding Disbursement</description>
    <environments>Default</environments>
    <interviewLabel>Funding Disbursement - Update Cost Category Details [Record-Triggered] {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Funding Disbursement - Update Cost Category Details [Record-Triggered]</label>
    <loops>
        <name>Loop_CCDs</name>
        <label>Loop CCDs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_All_Cost_Category_Details</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_FD_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_All_CCDs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Cost_Category_Details</name>
        <label>Get All Cost Category Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_CCDs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Financial_Activity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CostCategoryDetail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_All_CCDs</name>
        <label>Update All CCDs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>col_CCDsToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Cost_Category_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>FundingDisbursement</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>col_CCDsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CostCategoryDetail__c</objectType>
    </variables>
    <variables>
        <name>var_CCDToAdd</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CostCategoryDetail__c</objectType>
    </variables>
</Flow>
