force-app/main/default/flows/Internal_Document_Checklist_Items_Create_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Doc_Checklist_Items_to_Collection</name>
        <label>Add Doc Checklist Items to Collection</label>
        <locationX>264</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>col_DocChecklistItemsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rec_DocChecklistItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Added_Doc_Checklist_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Doc_Checklist_Item_Vars</name>
        <label>Set Doc Checklist Item Vars</label>
        <locationX>264</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>rec_DocChecklistItem.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Added_Doc_Checklist_Items.Document_Checklist_Item_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_DocChecklistItem.DocumentTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Added_Doc_Checklist_Items.Document_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_DocChecklistItem.ParentRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contract.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_DocChecklistItem.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contract.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Doc_Checklist_Items_to_Collection</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <description>CC 2/12/25 - added mapping to Contract lookup field on Doc Checklist Item</description>
    <dynamicChoiceSets>
        <name>ccs_DocumentTypes</name>
        <collectionReference>Get_Document_Types</collectionReference>
        <dataType>String</dataType>
        <displayField>MasterLabel</displayField>
        <object>DocumentType</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Internal Document Checklist Items: Create [Screen-Flow] {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Internal Document Checklist Items: Create [Screen-Flow]</label>
    <loops>
        <name>Loop_Added_Doc_Checklist_Items</name>
        <label>Loop Added Doc Checklist Items</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <collectionReference>repeater_AddDocumentChecklistItems.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Doc_Checklist_Item_Vars</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Doc_Checklist_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Doc_Checklist_Items</name>
        <label>Create Doc Checklist Items</label>
        <locationX>176</locationX>
        <locationY>866</locationY>
        <inputReference>col_DocChecklistItemsToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Contract</name>
        <label>Get Contract</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Document_Types</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Document_Types</name>
        <label>Get Document Types</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Document_Checklist_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FormType</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>USER_DEFINED_TYPE</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>DocumentType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Add_Document_Checklist_Items</name>
        <label>Add Document Checklist Items</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_Added_Doc_Checklist_Items</targetReference>
        </connector>
        <fields>
            <name>dt_DocumentCheclistItemRepeater</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Use the tool below to create each Document Checklist Item. To add more, click the &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;+Add &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;button at the bottom of the screen&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>repeater_AddDocumentChecklistItems</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>Document_Checklist_Item_Name</name>
                <dataType>String</dataType>
                <fieldText>Document Checklist Item Name</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Document_Type</name>
                <choiceReferences>ccs_DocumentTypes</choiceReferences>
                <dataType>String</dataType>
                <fieldText>Document Type</fieldText>
                <fieldType>DropdownBox</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contract</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>col_DocChecklistItemsToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DocumentChecklistItem</objectType>
    </variables>
    <variables>
        <name>rec_DocChecklistItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DocumentChecklistItem</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
