force-app/main/default/flows/Output_Cascade_Delete_Criteria_and_Reimbursement_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>When a output record is deleted the related Criteria and reimbursement records will be deleted automatically.</description>
    <environments>Default</environments>
    <interviewLabel>Output Cascade Delete Criteria and Reimbursement Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Output Cascade Delete Criteria and Reimbursement Records</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Related_Criteria</name>
        <label>Delete Related Criteria</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Delete_Related_Reimbursements</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Output__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Criteria__c</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Related_Reimbursements</name>
        <label>Delete Related Reimbursements</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Output__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Reimbursement_Table__c</object>
    </recordDeletes>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Delete_Related_Criteria</targetReference>
        </connector>
        <object>Output__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
