force-app/main/default/flows/Platform_Event_Financial_Activity_Reference.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Cost_Category_Collection_Creator</name>
        <label>Cost Category Collection Creator</label>
        <locationX>440</locationX>
        <locationY>1142</locationY>
        <assignmentItems>
            <assignToReference>COL_CostCategoryDetail</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SOV_CostCategoryDetail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Budget_Line_Item_Loop_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Cost_Category_Detail_Assigner</name>
        <label>Cost Category Detail Assigner</label>
        <locationX>440</locationX>
        <locationY>1034</locationY>
        <assignmentItems>
            <assignToReference>SOV_CostCategoryDetail.DetailName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Budget_Line_Item_Loop_1.Budget_Detail_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_CostCategoryDetail.FinancialActivityCostCategory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SOV_FinancialActivityCostCategory.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_CostCategoryDetail.Budget_Category_Detail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Budget_Line_Item_Loop_1.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_CostCategoryDetail.Financial_Activity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SOV_FinancialActivityCostCategory.Financial_Activity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_CostCategoryDetail.Budget__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Budget_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cost_Category_Collection_Creator</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Financial_Activity_Cost_Category_Assigner</name>
        <label>Financial Activity Cost Category Assigner</label>
        <locationX>352</locationX>
        <locationY>602</locationY>
        <assignmentItems>
            <assignToReference>SOV_FinancialActivityCostCategory.Financial_Activity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Financial_Activity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_FinancialActivityCostCategory.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BudgetCategory_Loop1.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Financial_Activity_Cost_Category</targetReference>
        </connector>
    </assignments>
    <description>Allows portal user to create a Financial Activity
5/20/24 SB - Add grantee and analyst/program monitor mappings</description>
    <environments>Default</environments>
    <interviewLabel>[Platform Event] Financial Activity Reference {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Platform Event] Financial Activity Reference</label>
    <loops>
        <name>Budget_Line_Item_Loop_1</name>
        <label>Budget Line Item Loop 1</label>
        <locationX>352</locationX>
        <locationY>926</locationY>
        <collectionReference>Get_Budget_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Cost_Category_Detail_Assigner</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>BudgetCategory_Loop1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>BudgetCategory_Loop1</name>
        <label>BudgetCategory Loop1</label>
        <locationX>176</locationX>
        <locationY>494</locationY>
        <collectionReference>Get_Budget_Categories</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Financial_Activity_Cost_Category_Assigner</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Cost_Category_Details</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Cost_Category_Details</name>
        <label>Create Cost Category Details</label>
        <locationX>176</locationX>
        <locationY>1418</locationY>
        <inputReference>COL_CostCategoryDetail</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Financial_Activity</name>
        <label>Create Financial Activity</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>Get_Budget_Categories</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>$Record.Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Analyst__c</field>
            <value>
                <elementReference>Get_Contract.Analyst__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Budget__c</field>
            <value>
                <elementReference>$Record.Budget_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract__c</field>
            <value>
                <elementReference>$Record.Contract_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DateofActivity__c</field>
            <value>
                <elementReference>$Record.Date_of_Activity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DisbursementName</field>
            <value>
                <elementReference>$Record.Disbursement_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EscrowAccount__c</field>
            <value>
                <elementReference>$Record.Escrow_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FundingAwardId</field>
            <value>
                <elementReference>$Record.Funding_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Grantee_Primary_Contact__c</field>
            <value>
                <elementReference>Get_Contract.GranteePrimaryContact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Program_Monitor__c</field>
            <value>
                <elementReference>Get_Contract.ProgramMonitor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>$Record.Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_Activity__c</field>
            <value>
                <elementReference>$Record.Type_of_Activity__c</elementReference>
            </value>
        </inputAssignments>
        <object>FundingDisbursement</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Financial_Activity_Cost_Category</name>
        <label>Create Financial Activity Cost Category</label>
        <locationX>352</locationX>
        <locationY>710</locationY>
        <connector>
            <targetReference>Get_Budget_Line_Items</targetReference>
        </connector>
        <inputReference>SOV_FinancialActivityCostCategory</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Budget_Categories</name>
        <label>Get Budget Categories</label>
        <locationX>176</locationX>
        <locationY>386</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BudgetCategory_Loop1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BudgetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Budget_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BudgetCategory</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Budget_Line_Items</name>
        <label>Get Budget Line Items</label>
        <locationX>352</locationX>
        <locationY>818</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Budget_Line_Item_Loop_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BudgetCategoryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BudgetCategory_Loop1.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BudgetCategoryValue</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contract</name>
        <label>Get Contract</label>
        <locationX>176</locationX>
        <locationY>170</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Financial_Activity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contract_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contract</targetReference>
        </connector>
        <flowRunAsUser>DefaultWorkflowUser</flowRunAsUser>
        <object>Financial_Activity_Reference__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>COL_CostCategoryDetail</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CostCategoryDetail__c</objectType>
    </variables>
    <variables>
        <name>SOV_CostCategoryDetail</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CostCategoryDetail__c</objectType>
    </variables>
    <variables>
        <name>SOV_FinancialActivityCostCategory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Financial_Activity_Cost_Category__c</objectType>
    </variables>
</Flow>
