force-app/main/default/flows/Project_Updates_Record_Triggered_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Housing_Analyst_Project_Assignment</name>
        <label>Housing Analyst - Project Assignment</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>Project__c.Housing_Analyst_Project_Assignment</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Project__c.Housing_Analyst_Project_Assignment</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Program_Monitor_Project_Assignment</name>
        <label>Program Monitor - Project Assignment</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <actionName>Project__c.Program_Monitor_Project_Assignment</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Project__c.Program_Monitor_Project_Assignment</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Analyst_or_Program_Monitor</name>
        <label>Analyst or Program Monitor</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Program_Monitor_Project_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Program Monitor</defaultConnectorLabel>
        <rules>
            <name>Analyst</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Analyst__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Housing_Analyst_Project_Assignment</targetReference>
            </connector>
            <label>Analyst</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Alert_Decision</name>
        <label>Email Alert Decision</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>Project_Assignment</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Analyst__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.GrantMonitor__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Analyst_or_Program_Monitor</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Project Assignment</label>
        </rules>
    </decisions>
    <description>5/23/24 SB - Add project awarded email alert
5/20/24 SB - Add email alert to analyst and program monitor
2/3/26 CA - Deleted the project assignment decision element and email alert to grantee</description>
    <environments>Default</environments>
    <interviewLabel>Project Updates [Record-Triggered (After Save)] {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Project Updates [Record-Triggered (After Save)]</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Email_Alert_Decision</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Analyst__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>GrantMonitor__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Project_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Awarded</stringValue>
            </value>
        </filters>
        <object>Project__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
