force-app/main/default/flows/Property_Budget_Creator.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Name</name>
        <label>Assign Name</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>NewBudget.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frm_DevBudgetName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBudget.Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InputVar_ApplicationId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_BudgetTemplateCreateId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Budget_Template_1.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBudget.Subcategory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Budget_Template_1.Subcategory__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBudget.Property__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputvar_PropertyId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Budget</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Name2</name>
        <label>Assign Name</label>
        <locationX>50</locationX>
        <locationY>2138</locationY>
        <assignmentItems>
            <assignToReference>NewBudget.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frm_ConstructionBudgetName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBudget.Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InputVar_ApplicationId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_BudgetTemplateCreateId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Budget_Template_2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBudget.Subcategory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Budget_Template_2.Subcategory__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBudget.Property__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputvar_PropertyId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COL_Budget_LineItem</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_New_Budget</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Budget_Category_Assigner</name>
        <label>Budget Category Assigner</label>
        <locationX>226</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>SOV_BudgetCategory.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BudgetCategory_Loop1.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_BudgetCategory.BudgetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewBudget.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_BudgetCategory.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BudgetCategory_Loop1.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_BudgetCategory.SequenceNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BudgetCategory_Loop1.SequenceNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_BudgetCategory.Reason</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BudgetCategory_Loop1.Reason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_BudgetCategory.Can_Add_More_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BudgetCategory_Loop1.Can_Add_More_Details__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_BudgetCategory.Read_Only_Detail_Fields__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BudgetCategory_Loop1.Read_Only_Detail_Fields__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_BudgetCategory.Budget_Category_Details_to_Create__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BudgetCategory_Loop1.Budget_Category_Details_to_Create__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_BudgetCategory.Account_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BudgetCategory_Loop1.Account_No__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_BudgetCategory.ItemNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BudgetCategory_Loop1.ItemNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_BudgetCategory.Expenditure_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BudgetCategory_Loop1.Expenditure_Category__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Budget_Category</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Budget_Line_Item_Assigner</name>
        <label>Budget Line Item Assigner</label>
        <locationX>314</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>SOV_Budget_LineItem.Discription__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Budget_Line_Item_Loop_1.Discription__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_Budget_LineItem.Sort_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Budget_Line_Item_Loop_1.Sort_Order__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_Budget_LineItem.Budget_Detail_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Budget_Line_Item_Loop_1.Budget_Detail_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_Budget_LineItem.BudgetCategoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SOV_BudgetCategory.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_Budget_LineItem.Budget__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewBudget.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_Budget_LineItem.Account_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Budget_Line_Item_Loop_1.Account_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Budget_Line_Item_Collector</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Budget_Line_Item_Collector</name>
        <label>Budget Line Item Collector</label>
        <locationX>314</locationX>
        <locationY>1646</locationY>
        <assignmentItems>
            <assignToReference>COL_Budget_LineItem</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SOV_Budget_LineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Budget_Line_Item_Loop_1</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Budget_Template_2</name>
        <label>Budget Template 2?</label>
        <locationX>50</locationX>
        <locationY>2030</locationY>
        <defaultConnectorLabel>No Template</defaultConnectorLabel>
        <rules>
            <name>Finish</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_BudgetTemplateCreateId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Budget_Template_2.Id</elementReference>
                </rightValue>
            </conditions>
            <label>Finish</label>
        </rules>
        <rules>
            <name>Template2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Budget_Template_2.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Name2</targetReference>
            </connector>
            <label>Template</label>
        </rules>
    </decisions>
    <decisions>
        <description>Build a Budget based on template</description>
        <name>Template_Used</name>
        <label>Template Used</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>No Template</defaultConnectorLabel>
        <rules>
            <name>Template</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Budget_Template_1.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Name</targetReference>
            </connector>
            <label>Template</label>
        </rules>
    </decisions>
    <description>11/19/25 SB - Add Account # mapping to Budget Line Items
1/31/25 SB - Map additional Budget Category fields
1/27/25 SB - Map budget Id to line item create loop</description>
    <dynamicChoiceSets>
        <name>Record_Picklist</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Template__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Budget</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>frm_ConstructionBudgetName</name>
        <dataType>String</dataType>
        <expression>&apos;Construction Budget - &apos; + {!Get_Property.Name}</expression>
    </formulas>
    <formulas>
        <name>frm_DevBudgetName</name>
        <dataType>String</dataType>
        <expression>&apos;Development Budget - &apos; + {!Get_Property.Name}</expression>
    </formulas>
    <interviewLabel>Property - Budget Creator {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Property - Budget Creator</label>
    <loops>
        <name>Budget_Line_Item_Loop_1</name>
        <label>Budget Line Item Loop 1</label>
        <locationX>226</locationX>
        <locationY>1430</locationY>
        <collectionReference>Get_Budget_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Budget_Line_Item_Assigner</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>BudgetCategory_Loop1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>BudgetCategory_Loop1</name>
        <label>BudgetCategory Loop1</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <collectionReference>Get_Budget_Categories</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Budget_Category_Assigner</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Budget_Line_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Budget_Category</name>
        <label>Create Budget Category</label>
        <locationX>226</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>Get_Budget_Line_Items</targetReference>
        </connector>
        <inputReference>SOV_BudgetCategory</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Budget_Line_Items</name>
        <label>Create Budget Line Items</label>
        <locationX>50</locationX>
        <locationY>1922</locationY>
        <connector>
            <targetReference>Budget_Template_2</targetReference>
        </connector>
        <inputReference>COL_Budget_LineItem</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Budget</name>
        <label>Create New Budget</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Get_Budget_Categories</targetReference>
        </connector>
        <inputReference>NewBudget</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Budget_Categories</name>
        <label>Get Budget Categories</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BudgetCategory_Loop1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BudgetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_BudgetTemplateCreateId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BudgetCategory</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Budget_Line_Items</name>
        <label>Get Budget Line Items</label>
        <locationX>226</locationX>
        <locationY>1322</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Budget_Line_Item_Loop_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BudgetCategoryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BudgetCategory_Loop1.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BudgetCategoryValue</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Budget_Template_1</name>
        <label>Get Budget Template 1</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Budget_Template_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Reference_Application.Budget_Template_Development__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Budget</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Budget_Template_2</name>
        <label>Get Budget Template 2</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Template_Used</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Reference_Application.Budget_Template_Construction__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Budget</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Property</name>
        <label>Get Property</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Budget_Template_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputvar_PropertyId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Property__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Reference_Application</name>
        <label>Get Reference Application</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Property</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputVar_ReferenceApplicationId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Reference_Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Reference_Application</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>BudgetCategoryCapturedID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BudgetCategoryValue</objectType>
    </variables>
    <variables>
        <name>ChosenTemplate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>COL_Budget_Category</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BudgetCategory</objectType>
    </variables>
    <variables>
        <name>COL_Budget_Category_ID</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BudgetCategory</objectType>
    </variables>
    <variables>
        <name>COL_Budget_LineItem</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BudgetCategoryValue</objectType>
    </variables>
    <variables>
        <name>InputVar_ApplicationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputvar_PropertyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InputVar_ReferenceApplicationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewBudget</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Budget</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SOV_Budget_LineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BudgetCategoryValue</objectType>
    </variables>
    <variables>
        <name>SOV_BudgetCategory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BudgetCategory</objectType>
    </variables>
    <variables>
        <name>SOV_BudgetID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Budget</objectType>
    </variables>
    <variables>
        <name>TemplateCollection</name>
        <dataType>Picklist</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_BudgetTemplateCreateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
