force-app/main/default/flows/Record_Triggered_Approval_Assignment_Approved_or_Rejected_Updates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CDA_Document_Approval_Assignment_Approval_EA</name>
        <label>CDA - Document Approval Assignment Approval EA</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>Approval_Assignment__c.CDA_Document_Approval_Assignment_Approval_EA</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Approval_Assignment__c.CDA_Document_Approval_Assignment_Approval_EA</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>CDA_Document_Approval_Assignment_Approve_with_Changes_EA</name>
        <label>CDA - Document Approval Assignment Approve with Changes EA</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <actionName>Approval_Assignment__c.CDA_Document_Approval_Assignment_Approve_with_changes_EA</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Approval_Assignment__c.CDA_Document_Approval_Assignment_Approve_with_changes_EA</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>CDA_Document_Approval_Assignment_Rejected_EA</name>
        <label>CDA - Document Approval Assignment Rejected EA</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <actionName>Approval_Assignment__c.CDA_Document_Approval_Assignment_Rejected_EA</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Approval_Assignment__c.CDA_Document_Approval_Assignment_Rejected_EA</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Approved_or_Rejected</name>
        <label>Approved or Rejected?</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>CDA_Document_Approval_Assignment_Rejected_EA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rejected</defaultConnectorLabel>
        <rules>
            <name>Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CDA_Document_Approval_Assignment_Approval_EA</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
        <rules>
            <name>Approve_with_changes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve with Changes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CDA_Document_Approval_Assignment_Approve_with_Changes_EA</targetReference>
            </connector>
            <label>Approve with changes</label>
        </rules>
    </decisions>
    <description>Email notification alert when an approval assignment record status is updated</description>
    <environments>Default</environments>
    <interviewLabel>[Record-Triggered] Approval Assignment Approved or Rejected Updates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Record-Triggered] Approval Assignment Approved or Rejected Updates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Approved_or_Rejected</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approve with Changes</stringValue>
            </value>
        </filters>
        <object>Approval_Assignment__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
