force-app/main/default/flows/Record_Triggered_Doc_Checklist_Item_Rollup_Calculation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Calculate_Alert_Only_Rollup</name>
        <label>Calculate Alert Only Rollup</label>
        <locationX>176</locationX>
        <locationY>1187</locationY>
        <actionName>dlrs__RollupActionCalculate</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ParentId</name>
            <value>
                <elementReference>$Record.Document_Checklist_Item__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RollupSummaryUniqueName</name>
            <value>
                <stringValue>DocChecklistItem_App_Asgn_Alert_Count</stringValue>
            </value>
        </inputParameters>
        <nameSegment>dlrs__RollupActionCalculate</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Calculate_Approve_with_Changes_Rollup</name>
        <label>Calculate Approve with Changes Rollup</label>
        <locationX>176</locationX>
        <locationY>863</locationY>
        <actionName>dlrs__RollupActionCalculate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Calculate_Approved_Rollup</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ParentId</name>
            <value>
                <elementReference>$Record.Document_Checklist_Item__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RollupSummaryUniqueName</name>
            <value>
                <stringValue>DocChecklistItem_App_Asgn_Changes_Count</stringValue>
            </value>
        </inputParameters>
        <nameSegment>dlrs__RollupActionCalculate</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Calculate_Approved_Rollup</name>
        <label>Calculate Approved Rollup</label>
        <locationX>176</locationX>
        <locationY>971</locationY>
        <actionName>dlrs__RollupActionCalculate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Calculate_Rejected_Rollup</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ParentId</name>
            <value>
                <elementReference>$Record.Document_Checklist_Item__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RollupSummaryUniqueName</name>
            <value>
                <stringValue>DocChecklistItem_App_Asgn_Approved_Count</stringValue>
            </value>
        </inputParameters>
        <nameSegment>dlrs__RollupActionCalculate</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Calculate_New_Rollup</name>
        <label>Calculate New Rollup</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <actionName>dlrs__RollupActionCalculate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Calculate_Pending_Rollup</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ParentId</name>
            <value>
                <elementReference>$Record.Document_Checklist_Item__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RollupSummaryUniqueName</name>
            <value>
                <stringValue>DocChecklistItem_App_Asgn_Pending_Count</stringValue>
            </value>
        </inputParameters>
        <nameSegment>dlrs__RollupActionCalculate</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Calculate_Pending_Rollup</name>
        <label>Calculate Pending Rollup</label>
        <locationX>176</locationX>
        <locationY>755</locationY>
        <actionName>dlrs__RollupActionCalculate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Calculate_Approve_with_Changes_Rollup</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ParentId</name>
            <value>
                <elementReference>$Record.Document_Checklist_Item__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RollupSummaryUniqueName</name>
            <value>
                <stringValue>DocChecklistItem_App_Asgn_Pending_Count</stringValue>
            </value>
        </inputParameters>
        <nameSegment>dlrs__RollupActionCalculate</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Calculate_Rejected_Rollup</name>
        <label>Calculate Rejected Rollup</label>
        <locationX>176</locationX>
        <locationY>1079</locationY>
        <actionName>dlrs__RollupActionCalculate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Calculate_Alert_Only_Rollup</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ParentId</name>
            <value>
                <elementReference>$Record.Document_Checklist_Item__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RollupSummaryUniqueName</name>
            <value>
                <stringValue>DocChecklistItem_App_Asgn_Rejected_Count</stringValue>
            </value>
        </inputParameters>
        <nameSegment>dlrs__RollupActionCalculate</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Reset_Doc_Checklist_Count_Fields_to_Zero</name>
        <label>Reset Doc Checklist Count Fields to Zero</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>rec_DocChecklistItem.App_Asgn_New_Count__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_DocChecklistItem.App_Asgn_Pending_Count__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_DocChecklistItem.App_Asgn_Approve_with_Changes_Count__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_DocChecklistItem.App_Asgn_Approved_Count__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_DocChecklistItem.App_Asgn_Rejected_Count__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_DocChecklistItem.App_Asgn_Alert_Only_Count__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Doc_Checklist_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Doc_Checklist_ID_to_Shared_Var</name>
        <label>Set Doc Checklist ID to Shared Var</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>rec_DocChecklistItem.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Document_Checklist_Item__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reset_Doc_Checklist_Count_Fields_to_Zero</targetReference>
        </connector>
    </assignments>
    <description>CC 1/13/24 - restructured count fields reset and dlrs calculation</description>
    <environments>Default</environments>
    <interviewLabel>[Record-Triggered] - Doc Checklist Item Rollup Calculation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Record-Triggered] Doc Checklist Item Rollup Calculation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Doc_Checklist_Item</name>
        <label>Update Doc Checklist Item</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Calculate_New_Rollup</targetReference>
        </connector>
        <inputReference>rec_DocChecklistItem</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Doc_Checklist_ID_to_Shared_Var</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Approval_Assignment__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>rec_DocChecklistItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DocumentChecklistItem</objectType>
    </variables>
</Flow>
