force-app/main/default/flows/Reference_Application_Dynamic_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>The relative URL of the community without the /s (ex: /CDA )</description>
        <name>Copy_1_of_Redirect_to_New_Application</name>
        <label>Copy 1 of Redirect to New Application</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <actionName>ecflc:flowURLRedirect</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>urlRedirect</name>
            <value>
                <stringValue>{!inputVar_CommunityBaseURLwithoutS}/s/application/{!var_ApplicationId}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ecflc:flowURLRedirect</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>The relative URL of the community without the /s (ex: /CDA )</description>
        <name>Redirect_to_New_Application</name>
        <label>Redirect to New Application</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <actionName>ecflc:flowURLRedirect</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>urlRedirect</name>
            <value>
                <stringValue>{!inputVar_CommunityBaseURLwithoutS}/s/application/{!var_ApplicationId}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ecflc:flowURLRedirect</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Any_Already_Submitted_Apps</name>
        <label>Any Already Submitted Apps?</label>
        <locationX>446</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Create_Application_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_submitted_apps_already</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Submitted_App_Records_by_the_User</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Already_Submitted_for_This_App_Type_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_this_app_allow_more_than_1</name>
        <label>Does this app allow more than 1?</label>
        <locationX>248</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Get_Submitted_App_Records_by_the_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_more_than_1_allowed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>all_active_reference_records_table.firstSelectedRow.Number_of_apps_of_this_type_allowed__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Create_Application_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>SB 1/14/25 - Add budget create
CC 1/30/24 - added associated Dates as column in the display table
CC 1/26/24 - updated CommunityBaseURL var
CC 1/11/24 - updated Table Screen cosmetics
CC 1/4/23 - updated condition requirements on Get Reference Apps element
CC 1/3/24 - updated query for running user&apos;s already created Apps</description>
    <environments>Default</environments>
    <interviewLabel>Reference Application Dynamic Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Reference Application Dynamic Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_Application_Record</name>
        <label>Copy 1 of Create Application Record</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignRecordIdToReference>var_ApplicationId</assignRecordIdToReference>
        <connector>
            <targetReference>Copy_1_of_Create_Budgets</targetReference>
        </connector>
        <inputAssignments>
            <field>Reference_Application__c</field>
            <value>
                <elementReference>all_active_reference_records_table.firstSelectedRow.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Application__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Application_Record</name>
        <label>Create Application Record</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <assignRecordIdToReference>var_ApplicationId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Budgets</targetReference>
        </connector>
        <inputAssignments>
            <field>Reference_Application__c</field>
            <value>
                <elementReference>all_active_reference_records_table.firstSelectedRow.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Application__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Active_Reference_Applications</name>
        <label>Get All Active Reference Applications</label>
        <locationX>248</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Reference_Records_Table_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Start_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Reference_Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Running_User_s_Record</name>
        <label>Get Running User&apos;s Record</label>
        <locationX>248</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Active_Reference_Applications</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Submitted_App_Records_by_the_User</name>
        <label>Get Submitted App Records by the User</label>
        <locationX>446</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_Already_Submitted_Apps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Reference_Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>all_active_reference_records_table.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </filters>
        <filters>
            <field>CreatedById</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Running_User_s_Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Already_Submitted_for_This_App_Type_Screen</name>
        <label>Already Submitted for This App Type Screen</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>already_submitted_screen_txt</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px; color: rgb(255, 60, 60); background-color: rgb(255, 255, 255);&quot;&gt;You have already submitted an application and the program you selected from the table only &lt;/span&gt;&lt;span style=&quot;font-size: 18px; color: rgb(255, 60, 60);&quot;&gt; allows &lt;/span&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(255, 60, 60);&quot;&gt;1 application per person.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Reference_Records_Table_Screen</name>
        <label>Reference Records Table Screen</label>
        <locationX>248</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Does_this_app_allow_more_than_1</targetReference>
        </connector>
        <fields>
            <name>all_active_reference_records_table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Reference_Application__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>All Active Reference Records Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_All_Active_Reference_Applications</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-38e9&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Application&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Reference Application Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Display_Description__c&quot;,&quot;guid&quot;:&quot;column-d170&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Description&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Display Description&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Associated_Timeline__c&quot;,&quot;guid&quot;:&quot;column-9bc5&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Dates&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Associated Timeline&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Start New Application</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Running_User_s_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Copy_1_of_Create_Budgets</name>
        <label>Copy 1 of Create Budgets</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Copy_1_of_Redirect_to_New_Application</targetReference>
        </connector>
        <flowName>Reference_Application_Budget_Creator</flowName>
        <inputAssignments>
            <name>InputVar_ApplicationId</name>
            <value>
                <elementReference>var_ApplicationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>InputVar_ReferenceApplicationId</name>
            <value>
                <elementReference>all_active_reference_records_table.firstSelectedRow.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Create_Budgets</name>
        <label>Create Budgets</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Redirect_to_New_Application</targetReference>
        </connector>
        <flowName>Reference_Application_Budget_Creator</flowName>
        <inputAssignments>
            <name>InputVar_ApplicationId</name>
            <value>
                <elementReference>var_ApplicationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>InputVar_ReferenceApplicationId</name>
            <value>
                <elementReference>all_active_reference_records_table.firstSelectedRow.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>inputVar_CommunityBaseURLwithoutS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ApplicationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
