force-app/main/default/flows/Reference_Checklist_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Create_Checklist_Detail_Recs</name>
        <label>Create Checklist Detail Recs</label>
        <locationX>226</locationX>
        <locationY>1274</locationY>
        <actionName>CreateNewRecordsFromRecordList</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Redirect_to_Triggering_Record</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>jsonFieldMappings</name>
            <value>
                <elementReference>datatable_reference_checks_record.firstSelectedRow.Source_Target_Field_Mappings_JSON__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>parentLookupFieldApiName</name>
            <value>
                <elementReference>frm_LookupToParentObj</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>parentRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceDupMatchFieldApiName</name>
            <value>
                <stringValue>Display_Name__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceObjectApiName</name>
            <value>
                <elementReference>inputVar_SourceObjectApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceObjectFilterString</name>
            <value>
                <elementReference>frm_FilterString</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetDupMatchFieldApiName</name>
            <value>
                <stringValue>Display_Name__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetObjectApiName</name>
            <value>
                <elementReference>datatable_reference_checks_record.firstSelectedRow.API_Name_of_Target_Object__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CreateNewRecordsFromRecordList</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_Object_API_Name</name>
        <label>Get Object API Name</label>
        <locationX>358</locationX>
        <locationY>134</locationY>
        <actionName>GetObjectApiNameFromRecordId</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Object_Checklist_Type_Metadata</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetObjectApiNameFromRecordId</nameSegment>
        <outputParameters>
            <assignToReference>var_ObjectAPI</assignToReference>
            <name>objectApiName</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Redirect_to_Triggering_Record</name>
        <label>Redirect to Triggering Record</label>
        <locationX>226</locationX>
        <locationY>1382</locationY>
        <actionName>ecflc:flowIdRedirect</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ecflc:flowIdRedirect</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Selected_Checklist_Type</name>
        <label>Assign Selected Checklist Type</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>var_SelectedChecklistType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_type_of_checklist_do_you_wish_to_complete</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_All_Active_Reference_Checks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Single_Checklist_Type_to_Shared_Var</name>
        <label>Assign Single Checklist Type to Shared Var</label>
        <locationX>754</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>var_SelectedChecklistType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Single_Checklist_Type.Checklist_Type_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Single_Checklist_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Checklist_Type_Option_Count</name>
        <label>Set Checklist Type Option Count</label>
        <locationX>358</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>int_CountChecklistTypeOptions</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Object_Checklist_Type_Metadata</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Multiple_Checklist_Types</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Active_Reference_Checks_Set_Up</name>
        <label>Active Reference Checks Set Up?</label>
        <locationX>358</locationX>
        <locationY>1058</locationY>
        <defaultConnector>
            <targetReference>No_Active_Ref_Checks_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_active_ref_checks</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Active_Reference_Checks</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reference_Checks_Selection_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Multiple_Checklist_Types</name>
        <label>Check for Multiple Checklist Types</label>
        <locationX>358</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Single_Checklist_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Single Option</defaultConnectorLabel>
        <rules>
            <name>Has_Multiple_Checklist_Type_Options</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>int_CountChecklistTypeOptions</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Checklist_Type_Selection_Screen</targetReference>
            </connector>
            <label>Has Multiple Checklist Type Options</label>
        </rules>
        <rules>
            <name>No_Options</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>int_CountChecklistTypeOptions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>No_Active_Ref_Checks_Screen</targetReference>
            </connector>
            <label>No Options</label>
        </rules>
    </decisions>
    <description>CC 4/23/24 - updating to make more dynamic to run from any object + use Brian&apos;s new custom JSON Apex - updated ObjectAPI formula to include &quot;Contract&quot;
CC 4/9/24 - updating to use Application__c object - adding Application field updates at the end - added redirect at the end
CC 4/8/24 - updating to use Project__c object - updated Name variable in assignment and added new field Display Name (using Auto Number now) 

This flow is used to run various &quot;Eligibility, Completeness Review&quot; or any other &quot;checks&quot; on any object where needed. It will be triggered through a custom button on that object</description>
    <dynamicChoiceSets>
        <name>ccs_ObjectChecklistTypes</name>
        <collectionReference>Get_Object_Checklist_Type_Metadata</collectionReference>
        <dataType>String</dataType>
        <displayField>Checklist_Type_Name__c</displayField>
        <object>Object_Checklist_Type__mdt</object>
        <valueField>Checklist_Type_Name__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pcs_ChecklistType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Checklist_Type__c</picklistField>
        <picklistObject>Reference_Checks__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>frm_FilterString</name>
        <dataType>String</dataType>
        <expression>&quot;Reference_Checks__c = &apos;&quot;&amp;{!datatable_reference_checks_record.firstSelectedRow.Id}&amp;&quot;&apos;&quot;</expression>
    </formulas>
    <formulas>
        <name>frm_LookupToParentObj</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE({!var_ObjectAPI}, &quot;Account&quot;, &quot;Account__c&quot;), &quot;Contract&quot;, &quot;Contract__c&quot;)</expression>
    </formulas>
    <interviewLabel>Reference Checklist Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Reference Checklist Process</label>
    <loops>
        <name>Loop_Through_Single_Checklist_Type</name>
        <label>Loop Through Single Checklist Type</label>
        <locationX>666</locationX>
        <locationY>566</locationY>
        <collectionReference>Get_Object_Checklist_Type_Metadata</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Single_Checklist_Type_to_Shared_Var</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_All_Active_Reference_Checks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_All_Active_Reference_Checks</name>
        <label>Get All Active Reference Checks</label>
        <locationX>358</locationX>
        <locationY>950</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Active_Reference_Checks_Set_Up</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Checklist_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_SelectedChecklistType</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Reference_Checks__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Object_Checklist_Type_Metadata</name>
        <label>Get Object/Checklist Type Metadata</label>
        <locationX>358</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Checklist_Type_Option_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Object_API_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_ObjectAPI</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Object_Checklist_Type__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Checklist_Type_Selection_Screen</name>
        <label>Checklist Type Selection Screen</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Selected_Checklist_Type</targetReference>
        </connector>
        <fields>
            <name>What_type_of_checklist_do_you_wish_to_complete</name>
            <choiceReferences>ccs_ObjectChecklistTypes</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What type of checklist do you wish to complete?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Active_Ref_Checks_Screen</name>
        <label>No Active Ref Checks Screen</label>
        <locationX>490</locationX>
        <locationY>1166</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>no_active_ref_checks_dt</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;We found no active checklist items related to your selection. If this looks incorrect, please contact a member of the St Louis CDA team.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Reference_Checks_Selection_Screen</name>
        <label>Reference Checks Selection Screen</label>
        <locationX>226</locationX>
        <locationY>1166</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Checklist_Detail_Recs</targetReference>
        </connector>
        <fields>
            <name>dt_reference_checks_records</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Which checklist template do you wish to work from? Make your selection in the table below and click Create.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>datatable_reference_checks_record</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Reference_Checks__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_All_Active_Reference_Checks</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-7182&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Reference Checks Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Description__c&quot;,&quot;guid&quot;:&quot;column-7421&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Description&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Create</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>232</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Object_API_Name</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>col_ChecklistDetailsRecordsToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Checklist_Details__c</objectType>
    </variables>
    <variables>
        <name>inputVar_SourceObjectApiName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Reference_Checks_Details__c</stringValue>
        </value>
    </variables>
    <variables>
        <name>int_CountChecklistTypeOptions</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ChecklistDetailsRecToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Checklist_Details__c</objectType>
    </variables>
    <variables>
        <name>var_ObjectAPI</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_SelectedChecklistType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>What_type_of_checklist_do_you_wish_to_complete</elementReference>
        </value>
    </variables>
</Flow>
