force-app/main/default/flows/Reimbursement_Table_Records_Create_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Reimbursement_to_Collection</name>
        <label>Add Reimbursement to Collection</label>
        <locationX>314</locationX>
        <locationY>1556</locationY>
        <assignmentItems>
            <assignToReference>col_ReimbursementTablesToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rec_ReimbursementTable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_New_Reimbursement_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Vars</name>
        <label>Reset Vars</label>
        <locationX>402</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>col_ReimbursementTablesToCreate</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Get_Related_Reimbursements</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Reimbursement_Vars</name>
        <label>Set Reimbursement Vars</label>
        <locationX>314</locationX>
        <locationY>1448</locationY>
        <assignmentItems>
            <assignToReference>rec_ReimbursementTable.Method_of_Reimbursement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_New_Reimbursement_Records.Select_method_of_reimbursement</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ReimbursementTable.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_New_Reimbursement_Records.Reimbursement_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ReimbursementTable.Total_Number_of_Units__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_New_Reimbursement_Records.Total_Number_of_Units</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ReimbursementTable.Amount_Requested_for_This_Output__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_New_Reimbursement_Records.Amount_Requested_for_This_Output</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ReimbursementTable.Output__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_New_Reimbursement_Records.Select_Output</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ReimbursementTable.Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Application_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ReimbursementTable.Required__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Reimbursement_to_Collection</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <description>Checks the status of the Application to determine whether to display an editable or read-only version of the flow.</description>
        <name>Check_Application_Status</name>
        <label>Check Application Status</label>
        <locationX>402</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Reimbursement_Records_Table_Display_Read_Only</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Read Only</defaultConnectorLabel>
        <rules>
            <name>Editable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Application_Id.Read_Only__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reimbursement_Records_Found</targetReference>
            </connector>
            <label>Editable</label>
        </rules>
    </decisions>
    <decisions>
        <name>Navigation_Selection</name>
        <label>Navigation Selection</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Success_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Success Screen</defaultConnectorLabel>
        <rules>
            <name>Add_New_Reimbursements</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>btnnavbar_ReimbursementEditScreen.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add New Reimbursements</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Outputs_and_Create_Reimbursement_Records</targetReference>
            </connector>
            <label>Add New Reimbursements</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reimbursement_Records_Found</name>
        <label>Reimbursement Records Found?</label>
        <locationX>226</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Select_Outputs_and_Create_Reimbursement_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Reimbursements</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reimbursement_Records_Table_Display</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>SB 8/12/25 - Reset collection var
CC 1/31/25 - added Output Name as formula on datatable
CC 1/23/25 - connected new path to Success Screen at the end of the flow
CC 1/23/25 - restructuring to show a table of records already created, allow edits
CC 1/22/25 - added Output field assignment
cc 7/29/25 - added required field to Reimbursement assignment
CC 11/7/25 - Updated with a read-only version for submitted applications</description>
    <dynamicChoiceSets>
        <name>ccs_AllRelatedOutputs</name>
        <collectionReference>Get_Related_Outputs</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Output__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pcs_MethodofReimbursement</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Method_of_Reimbursement__c</picklistField>
        <picklistObject>Reimbursement_Table__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Reimbursement Table Records: Create [Screen Flow] {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Reimbursement Table Records: Create [Screen Flow]</label>
    <loops>
        <name>Loop_New_Reimbursement_Records</name>
        <label>Loop New Reimbursement Records</label>
        <locationX>226</locationX>
        <locationY>1340</locationY>
        <collectionReference>repeater_ReimbursementRecordsCreate.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Reimbursement_Vars</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Reimbursement_Tables</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Reimbursement_Tables</name>
        <label>Create Reimbursement Tables</label>
        <locationX>226</locationX>
        <locationY>1748</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <inputReference>col_ReimbursementTablesToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Application_Id</name>
        <label>Get Application Id</label>
        <locationX>402</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Outputs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Outputs</name>
        <label>Get Related Outputs</label>
        <locationX>402</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Reset_Vars</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Application_Id.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Output__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Reimbursements</name>
        <label>Get Related Reimbursements</label>
        <locationX>402</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Application_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Application_Id.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Reimbursement_Table__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Reimbursement_Records_Table_Display</name>
        <label>Reimbursement Records Table Display</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Navigation_Selection</targetReference>
        </connector>
        <fields>
            <name>Reimbursement_Records_Table_Display_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Reimbursement_Records_Table_Display_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dt_ReimbursementsDatatableInstructions</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;See the table below for all the reimbursement records that have been entered with this application. To &lt;/span&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;edit a record&lt;/strong&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;, click the the circle next to its name in the table, and review/edit the fields below.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>datatable_ReimbursementRecords</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Reimbursement_Table__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Reimbursement_Table__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_Related_Reimbursements</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_suppressBottomBar</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_navigateNextOnSave</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnFields</name>
                        <value>
                            <stringValue>Name,Output_Name_frm__c,Description__c,Method_of_Reimbursement__c,Total_Number_of_Units__c,Amount_Requested_for_This_Output__c,Unit_of_Service_Cost__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_matchCaseOnFilters</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnWidths</name>
                        <value>
                            <stringValue>Name:208, Output_Name_frm__c:211, Description__c:208, Method_of_Reimbursement__c:208, Total_Number_of_Units__c:208, Amount_Requested_for_This_Output__c:208, Unit_of_Service_Cost__c:208</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>singleRowSelection</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_singleRowSelection</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_not_suppressNameFieldLink</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Reimbursement_Records_Table_Display_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Reimbursement_Records_Table_Display_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>recordDetail_ReimbursementRecordfromTable</name>
                    <extensionName>c:recordDetailFlowScreenComponent</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>mode</name>
                        <value>
                            <stringValue>Edit</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fields</name>
                        <value>
                            <stringValue>Method_of_Reimbursement__c, Description__c, Total_Number_of_Units__c, 	Amount_Requested_for_This_Output__c, Unit_of_Service_Cost__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>datatable_ReimbursementRecords.outputSelectedRow.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Reimbursement_Table__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>SaveBtnLabel</name>
                        <value>
                            <stringValue>Save Updates</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>datatable_ReimbursementRecords.outputSelectedRow.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Reimbursement_Records_Table_Display_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Reimbursement_Records_Table_Display_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>btnnavbar_ReimbursementEditScreen</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>center</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>above</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>navigation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Add New Reimbursements&quot;,&quot;value&quot;:&quot;Add New Reimbursements&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;success&quot;,&quot;index&quot;:0}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Complete</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Reimbursement_Records_Table_Display_Read_Only</name>
        <label>Reimbursement Records Table Display - Read Only</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Reimbursement_Records_Table_Display_Read_Only_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Reimbursement_Records_Table_Display_Read_Only_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_dt_ReimbursementsDatatableInstructions</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;See the table below for all the reimbursement records that have been entered with this application. To &lt;/span&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;edit a record&lt;/strong&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;, click the the circle next to its name in the table, and review/edit the fields below.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>datatable_ReimbursementRecords_ReadOnly</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Reimbursement_Table__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Reimbursement_Table__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_Related_Reimbursements</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_suppressBottomBar</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_navigateNextOnSave</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnFields</name>
                        <value>
                            <stringValue>Name,Output_Name_frm__c,Description__c,Method_of_Reimbursement__c,Total_Number_of_Units__c,Amount_Requested_for_This_Output__c,Unit_of_Service_Cost__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_matchCaseOnFilters</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnWidths</name>
                        <value>
                            <stringValue>Name:208, Output_Name_frm__c:211, Description__c:208, Method_of_Reimbursement__c:208, Total_Number_of_Units__c:208, Amount_Requested_for_This_Output__c:208, Unit_of_Service_Cost__c:208</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>singleRowSelection</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_singleRowSelection</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_not_suppressNameFieldLink</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Reimbursement_Records_Table_Display_Read_Only_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Reimbursement_Records_Table_Display_Read_Only_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>recordDetail_ReimbursementRecordfromTable_ReadOnly</name>
                    <extensionName>c:recordDetailFlowScreenComponent</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>mode</name>
                        <value>
                            <stringValue>View</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fields</name>
                        <value>
                            <stringValue>Method_of_Reimbursement__c, Description__c, Total_Number_of_Units__c, 	Amount_Requested_for_This_Output__c, Unit_of_Service_Cost__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>datatable_ReimbursementRecords_ReadOnly.outputSelectedRow.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Reimbursement_Table__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>SaveBtnLabel</name>
                        <value>
                            <stringValue>Close</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>datatable_ReimbursementRecords_ReadOnly.outputSelectedRow.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Reimbursement_Records_Table_Display_Read_Only_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Reimbursement_Records_Table_Display_Read_Only_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Complete</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Outputs_and_Create_Reimbursement_Records</name>
        <label>Select Outputs and Create Reimbursement Records</label>
        <locationX>226</locationX>
        <locationY>1232</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Previous</backButtonLabel>
        <connector>
            <targetReference>Loop_New_Reimbursement_Records</targetReference>
        </connector>
        <fields>
            <name>dt_ReimbursementCreateInstructions</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Use the tool below to create the reimbursements related to each output. For every reimbursement created, there will be a required dropdown field where you can select the output you are relating it to.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;To create more reimbursement records, click the &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;+Add &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;button at the bottom of the screen.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>repeater_ReimbursementRecordsCreate</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>Select_Output</name>
                <choiceReferences>ccs_AllRelatedOutputs</choiceReferences>
                <dataType>String</dataType>
                <fieldText>Select Output</fieldText>
                <fieldType>DropdownBox</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Select_method_of_reimbursement</name>
                <choiceReferences>pcs_MethodofReimbursement</choiceReferences>
                <dataType>String</dataType>
                <fieldText>Select method of reimbursement</fieldText>
                <fieldType>DropdownBox</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>repeater_ReimbursementRecordsCreate.AllItems[$EachItem].Select_Output</leftValueReference>
                        <operator>IsNull</operator>
                        <rightValue>
                            <booleanValue>false</booleanValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>Reimbursement_Description</name>
                <fieldText>Reimbursement Description</fieldText>
                <fieldType>LargeTextArea</fieldType>
                <helpText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Enter the full length version of the Reimbursement Name and/or Description here&lt;/span&gt;&lt;/p&gt;</helpText>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>repeater_ReimbursementRecordsCreate.AllItems[$EachItem].Select_Output</leftValueReference>
                        <operator>IsNull</operator>
                        <rightValue>
                            <booleanValue>false</booleanValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>Total_Number_of_Units</name>
                <dataType>Number</dataType>
                <fieldText>Total Number of Units</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <scale>0</scale>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>repeater_ReimbursementRecordsCreate.AllItems[$EachItem].Select_Output</leftValueReference>
                        <operator>IsNull</operator>
                        <rightValue>
                            <booleanValue>false</booleanValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>Amount_Requested_for_This_Output</name>
                <dataType>Currency</dataType>
                <fieldText>Amount Requested for This Output</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <scale>2</scale>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>repeater_ReimbursementRecordsCreate.AllItems[$EachItem].Select_Output</leftValueReference>
                        <operator>IsNull</operator>
                        <rightValue>
                            <booleanValue>false</booleanValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Complete</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>226</locationX>
        <locationY>1856</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Related_Outputs</targetReference>
        </connector>
        <fields>
            <name>dt_Success</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(26, 179, 29);&quot;&gt;You have completed this section of the application!&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(26, 179, 29);&quot;&gt;You can proceed through the rest of the sections, or come back here at anytime if you need to enter new / update reimbursements.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Return to Beginning of This Section</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>276</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Application_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>col_ReimbursementTablesToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Reimbursement_Table__c</objectType>
    </variables>
    <variables>
        <name>rec_ReimbursementTable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Reimbursement_Table__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
