force-app/main/default/flows/Reporting_Process_Create_Reporting_Detail_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Redirect_to_Reporting_Trigger_Record</name>
        <label>Redirect to Reporting (Trigger) Record</label>
        <locationX>688</locationX>
        <locationY>2114</locationY>
        <actionName>ecflc:flowIdRedirect</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_Reporting_Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ecflc:flowIdRedirect</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Reporting_Detail_to_Collection_Var</name>
        <label>Add Reporting Detail to Collection Var</label>
        <locationX>1106</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>col_ReportingDetails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rec_ReportingDetail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Program_Activities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_PP_Collection</name>
        <label>Add to PP Collection</label>
        <locationX>754</locationX>
        <locationY>1646</locationY>
        <assignmentItems>
            <assignToReference>col_ProgramParticipations</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rec_ProgramParticipation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Program_Participations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Program_Participation</name>
        <label>Assign Program Participation</label>
        <locationX>754</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>rec_ProgramParticipation.Program_Participant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Program_Participations.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ProgramParticipation.Reporting_Detail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Reporting_Details</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ProgramParticipation.Reporting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ProgramParticipation.Program_Activity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>datatable_AllProgramActivitiesThatHasParticpants.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_PP_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Reporting_Detail_Vars</name>
        <label>Assign Reporting Detail Vars</label>
        <locationX>1106</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>rec_ReportingDetail.ProgramActivity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Program_Activities.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ReportingDetail.Reporting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Reporting_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Reporting_Detail_to_Collection_Var</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Reset_Vars</name>
        <label>Reset Vars</label>
        <locationX>1106</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>rec_ReportingDetail</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Reporting_Detail_Vars</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Set_Program_Activity_Lookup</name>
        <label>Set Program Activity Lookup</label>
        <locationX>1018</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>rec_ReportingDetail.ProgramActivity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>datatable_AllProgramActivitiesThatHasNOParticpants.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Program_Activities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Nav_Vars</name>
        <label>Reset Nav Vars</label>
        <locationX>358</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>flag_AddNewParticipant</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_All_Related_Program_Participants</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Vars</name>
        <label>Reset Vars</label>
        <locationX>754</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>rec_ProgramParticipation</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Program_Participation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Program_Activity_Lookup</name>
        <label>Set Program Activity Lookup</label>
        <locationX>358</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>rec_ReportingDetail.ProgramActivity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>datatable_AllProgramActivitiesThatHasParticpants.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reset_Nav_Vars</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>pcs_no</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>pcs_yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Add_New_Participant</name>
        <label>Add New Participant?</label>
        <locationX>358</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Create_Reporting_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Add_NewParticipant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flag_AddNewParticipant</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Participant</targetReference>
            </connector>
            <label>Add</label>
        </rules>
        <rules>
            <name>No_participant_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_NumberofSelectedRows</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>All_Related_Program_Participants_screen</targetReference>
            </connector>
            <label>No participant Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Logging_Participants</name>
        <label>Logging Participants?</label>
        <locationX>688</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Get_All_Related_Program_Activities_That_Have_No_Participants</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>pcs_yes</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Related_Program_Activities_That_Has_Participants</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>SB 5/8/24 - Relate Program Activity to Program Participation records
SB 4/27/24 - Add reporting lookup to program participation
CC 4/24/24 - combining reporting detail and program participant creation into this flow</description>
    <dynamicChoiceSets>
        <name>pcs_Ethnicity</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Ethnicity__c</picklistField>
        <picklistObject>ProgramParticipant__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pcs_IncomeAMI</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Income_AMI__c</picklistField>
        <picklistObject>ProgramParticipant__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pcs_NRSA</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>NRSA__c</picklistField>
        <picklistObject>ProgramParticipant__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pcs_Race</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Race__c</picklistField>
        <picklistObject>ProgramParticipant__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Reporting Process: Create Reporting Detail Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Reporting Process: Create Reporting Detail Records</label>
    <loops>
        <name>Create_Program_Participations</name>
        <label>Create Program Participations</label>
        <locationX>666</locationX>
        <locationY>1322</locationY>
        <collectionReference>col_ProgramParticipantsSelected</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Reset_Vars</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Program_Participations_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Program_Activities</name>
        <label>Loop Program Activities</label>
        <locationX>1018</locationX>
        <locationY>782</locationY>
        <collectionReference>datatable_AllProgramActivitiesThatHasNOParticpants.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Reset_Vars</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_Create_Reporting_Details</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_Reporting_Details</name>
        <label>Create Reporting Details</label>
        <locationX>1018</locationX>
        <locationY>1298</locationY>
        <connector>
            <targetReference>Redirect_to_Reporting_Trigger_Record</targetReference>
        </connector>
        <inputReference>col_ReportingDetails</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Participation_Participant</name>
        <label>Create Participation Participant</label>
        <locationX>50</locationX>
        <locationY>1322</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Reset_Nav_Vars</targetReference>
        </connector>
        <inputAssignments>
            <field>Annual_Family_Income__c</field>
            <value>
                <elementReference>Annual_Family_Income</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EligibilityVerifiedHomeless__c</field>
            <value>
                <elementReference>Eligibility_Verified_Homeless</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ethnicity__c</field>
            <value>
                <elementReference>Ethnicity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Family_Size__c</field>
            <value>
                <elementReference>Family_Size</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Income_AMI__c</field>
            <value>
                <elementReference>Income_AMI</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NRSA__c</field>
            <value>
                <elementReference>NRSA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Program_Participant_Name_or_Unique_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Program_Activity__c</field>
            <value>
                <elementReference>datatable_AllProgramActivitiesThatHasParticpants.firstSelectedRow.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Race__c</field>
            <value>
                <elementReference>Race</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reporting__c</field>
            <value>
                <elementReference>Get_Reporting_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ProgramParticipant__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Program_Participations_Records</name>
        <label>Create Program Participations Records</label>
        <locationX>666</locationX>
        <locationY>1838</locationY>
        <connector>
            <targetReference>Redirect_to_Reporting_Trigger_Record</targetReference>
        </connector>
        <inputReference>col_ProgramParticipations</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Reporting_Details</name>
        <label>Create Reporting Details</label>
        <locationX>666</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>Create_Program_Participations</targetReference>
        </connector>
        <inputAssignments>
            <field>ProgramActivity__c</field>
            <value>
                <elementReference>datatable_AllProgramActivitiesThatHasParticpants.firstSelectedRow.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reporting__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>ReportingDetail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Related_Program_Activities_That_Has_Participants</name>
        <label>Get All Related Program Activities That Has Participants</label>
        <locationX>358</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Program_Activity_screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Has_Participants__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Reporting_Record.Contract__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Program_Activities__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Related_Program_Activities_That_Have_No_Participants</name>
        <label>Get All Related Program Activities That Have No Participants</label>
        <locationX>1018</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Program_Activity_NoParticipants</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Reporting_Record.Contract__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Has_Participants__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Program_Activities__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Related_Program_Participants</name>
        <label>Get All Related Program Participants</label>
        <locationX>358</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>All_Related_Program_Participants_screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Program_Activity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>datatable_AllProgramActivitiesThatHasParticpants.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProgramParticipant__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Reporting_Record</name>
        <label>Get Reporting Record</label>
        <locationX>688</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Logging_Participants_Question_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Reporting__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>All_Related_Program_Participants_screen</name>
        <label>All Related Program Participants</label>
        <locationX>358</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_New_Participant</targetReference>
        </connector>
        <fields>
            <name>nav_AddNewParticipant</name>
            <extensionName>c:flowCustomNavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonVariant</name>
                <value>
                    <stringValue>brand</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>divStyle</name>
                <value>
                    <stringValue>text-align:left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Add New Participant</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>flag_AddNewParticipant</assignToReference>
                <name>flag</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>datatable_AllRelatedProgramParticipants</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ProgramParticipant__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>ProgramParticipant__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_All_Related_Program_Participants</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_not_suppressNameFieldLink</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,Ethnicity__c,Race__c,Family_Size__c,Income_AMI__c,Annual_Family_Income__c,EligibilityVerifiedHomeless__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:0, Ethnicity__c:0, Race__c:0, Family_Size__c:0, Income_AMI__c:0, Annual_Family_Income__c:0, EligibilityVerifiedHomeless__c:0</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFlexes</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isShowSearchBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <elementReference>dt_Header</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumbers</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRowNumbers</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>col_ProgramParticipantsSelected</assignToReference>
                <name>outputSelectedRows</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>var_RowsSelectedOutput</assignToReference>
                <name>outputSelectedRowsString</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>var_NumberofSelectedRows</assignToReference>
                <name>numberOfRowsSelected</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dt_validationtext</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;**select at least one participant**&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_NumberofSelectedRows</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>nav_Next</name>
            <extensionName>c:flowCustomNavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>divStyle</name>
                <value>
                    <stringValue>text-align: right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonVariant</name>
                <value>
                    <stringValue>brand</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Next</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Create_New_Participant</name>
        <label>Create New Participant</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Participation_Participant</targetReference>
        </connector>
        <fields>
            <name>dt_CreateNewParticpiant</name>
            <fieldText>&lt;p&gt;&lt;u style=&quot;font-size: 18px;&quot;&gt;Create New Program Participant&lt;/u&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Program_Participant_Name_or_Unique_ID</name>
            <dataType>String</dataType>
            <fieldText>Program Participant Name or Unique ID</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Ethnicity</name>
            <choiceReferences>pcs_Ethnicity</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Ethnicity</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Race</name>
            <choiceReferences>pcs_Race</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Race</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Family_Size</name>
            <dataType>Number</dataType>
            <fieldText>Family Size</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Annual_Family_Income</name>
            <dataType>Currency</dataType>
            <fieldText>Annual Family Income</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>NRSA</name>
            <choiceReferences>pcs_NRSA</choiceReferences>
            <dataType>String</dataType>
            <fieldText>NRSA</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Income_AMI</name>
            <choiceReferences>pcs_IncomeAMI</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Income AMI%</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Eligibility_Verified_Homeless</name>
            <dataType>Boolean</dataType>
            <fieldText>Eligibility Verified (Homeless)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Logging_Participants_Question_Screen</name>
        <label>Logging Participants Question Screen</label>
        <locationX>688</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Logging_Participants</targetReference>
        </connector>
        <fields>
            <name>picklist_AreYouLoggingParticipants</name>
            <choiceReferences>pcs_yes</choiceReferences>
            <choiceReferences>pcs_no</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are you logging Participants for this reporting detail record?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Program_Activity_NoParticipants</name>
        <label>Select Program Activity</label>
        <locationX>1018</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copy_1_of_Set_Program_Activity_Lookup</targetReference>
        </connector>
        <fields>
            <name>datatable_AllProgramActivitiesThatHasNOParticpants</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Program_Activities__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select one or multiple program activities</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_All_Related_Program_Activities_That_Have_No_Participants</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-e94f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Program Activities Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;ActivityDescription__c&quot;,&quot;guid&quot;:&quot;column-1971&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Description&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Activity Description&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Status__c&quot;,&quot;guid&quot;:&quot;column-08eb&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Status&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Goal__c&quot;,&quot;guid&quot;:&quot;column-bc40&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Goal&quot;,&quot;type&quot;:&quot;number&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Program_Activity_screen</name>
        <label>Select Program Activity</label>
        <locationX>358</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Program_Activity_Lookup</targetReference>
        </connector>
        <fields>
            <name>datatable_AllProgramActivitiesThatHasParticpants</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Program_Activities__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select one program activity to report on</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_All_Related_Program_Activities_That_Has_Participants</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-e94f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Program Activities Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;ActivityDescription__c&quot;,&quot;guid&quot;:&quot;column-1971&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Description&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Activity Description&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Status__c&quot;,&quot;guid&quot;:&quot;column-08eb&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Status&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Goal__c&quot;,&quot;guid&quot;:&quot;column-bc40&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Goal&quot;,&quot;type&quot;:&quot;number&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>562</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Reporting_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>col_ProgramParticipantsSelected</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProgramParticipant__c</objectType>
    </variables>
    <variables>
        <name>col_ProgramParticipations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Program_Participation__c</objectType>
    </variables>
    <variables>
        <name>col_ReportingDetails</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ReportingDetail__c</objectType>
    </variables>
    <variables>
        <name>dt_Header</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Select all program participants that apply</stringValue>
        </value>
    </variables>
    <variables>
        <name>flag_AddNewParticipant</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>rec_ProgramParticipation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Program_Participation__c</objectType>
    </variables>
    <variables>
        <name>rec_ReportingDetail</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ReportingDetail__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_NumberofSelectedRows</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_RowsSelectedOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
