force-app/main/default/flows/Reporting_Process_Clone_Prior_Participants.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Program_Participant_to_Collection_Var</name>
        <label>Add Program Participant to Collection Var</label>
        <locationX>264</locationX>
        <locationY>1340</locationY>
        <assignmentItems>
            <assignToReference>col_ProgramParticipants</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rec_ProgramParticipant</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Program_Participants</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Program_Participant_Vars</name>
        <label>Assign Program Participant Vars</label>
        <locationX>264</locationX>
        <locationY>1232</locationY>
        <assignmentItems>
            <assignToReference>rec_ProgramParticipant.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Program_Participants.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Program_Participant_to_Collection_Var</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Vars</name>
        <label>Reset Vars</label>
        <locationX>264</locationX>
        <locationY>1124</locationY>
        <assignmentItems>
            <assignToReference>rec_ProgramParticipant</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Program_Participant_Vars</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_to_Shared_Reporting_Detail_Var</name>
        <label>Set to Shared Reporting Detail Var</label>
        <locationX>264</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>rec_ReportingDetail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Reporting_Details</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Related_Program_Participants</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Related_Program_Activity_Has_Participants</name>
        <label>Related Program Activity Has Participants?</label>
        <locationX>396</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Loop_Reporting_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Reporting_Details.ProgramActivity__r.Has_Participants__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_to_Shared_Reporting_Detail_Var</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Reporting Process: Clone Prior Participants {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Reporting Process: Clone Prior Participants</label>
    <loops>
        <name>Loop_Program_Participants</name>
        <label>Loop Program Participants</label>
        <locationX>176</locationX>
        <locationY>1016</locationY>
        <collectionReference>Get_Related_Program_Participants</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Reset_Vars</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_Reporting_Details</name>
        <label>Loop Reporting Details</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_Related_Reporting_Details</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Related_Program_Activity_Has_Participants</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Related_Program_Participants</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Related_Program_Participants</name>
        <label>Get Related Program Participants</label>
        <locationX>176</locationX>
        <locationY>908</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Program_Participants</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Reporting_Detail__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rec_ReportingDetail.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProgramParticipant__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Reporting_Details</name>
        <label>Get Related Reporting Details</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Reporting_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Reporting__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Reporting_Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ReportingDetail__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Reporting_Record</name>
        <label>Get Reporting Record</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Reporting_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Reporting__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Reporting_Record</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>col_ProgramParticipants</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProgramParticipant__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ReportingDetail__c</objectType>
    </variables>
    <variables>
        <name>rec_ProgramParticipant</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProgramParticipant__c</objectType>
    </variables>
    <variables>
        <name>rec_ReportingDetail</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ReportingDetail__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
