force-app/main/default/flows/Scoring_Process_Start_Scoring_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Redirect_URL</name>
        <label>Redirect URL</label>
        <locationX>176</locationX>
        <locationY>1190</locationY>
        <actionName>ecflc:flowURLRedirect</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>urlRedirect</name>
            <value>
                <stringValue>/{!recordId}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ecflc:flowURLRedirect</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Collection_Var</name>
        <label>Add to Collection Var</label>
        <locationX>264</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>col_ScoringDetails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rec_ScoringDetail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Reference_Scoring_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Scoring_Detail_for_Create</name>
        <label>Assign Scoring Detail for Create</label>
        <locationX>264</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>rec_ScoringDetail.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Reference_Scoring_Details.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ScoringDetail.Sort_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Reference_Scoring_Details.Sort_Order__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ScoringDetail.Auto_Calculate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Reference_Scoring_Details.Auto_Calculate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ScoringDetail.Evaluation_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Reference_Scoring_Details.Evaluation_Item__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ScoringDetail.Max_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Reference_Scoring_Details.Maximum_Points__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ScoringDetail.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Reference_Scoring_Details.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ScoringDetail.Scorer_Summary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection_Var</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Var</name>
        <label>Reset Var</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>rec_ScoringDetail</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Scoring_Detail_for_Create</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Scoring/Rating Process: Start Scoring [Screen Flow] {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Scoring Process: Start Scoring [Screen Flow]</label>
    <loops>
        <name>Loop_Reference_Scoring_Details</name>
        <label>Loop Reference Scoring Details</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_Reference_Scoring_Details</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Reset_Var</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Scorer_Summary</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Scoring_Details1</name>
        <label>Create Scoring Details</label>
        <locationX>176</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>Redirect_URL</targetReference>
        </connector>
        <inputReference>col_ScoringDetails</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Reference_Scoring_Details</name>
        <label>Get Reference Scoring Details</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Reference_Scoring_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Reference_Scoring__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Scorer_Summary.Reference_Scoring__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Reference_Scoring_Detail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Scorer_Summary</name>
        <label>Get Scorer Summary</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Reference_Scoring_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Scorer_Summary__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Score_Summary</name>
        <label>Update Score Summary</label>
        <locationX>176</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Create_Scoring_Details1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Scorer_Summary.Score_Summary__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Start_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Score_Summary__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Scorer_Summary</name>
        <label>Update Scorer Summary</label>
        <locationX>176</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>Update_Score_Summary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Started</stringValue>
            </value>
        </inputAssignments>
        <object>Scorer_Summary__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Scorer_Summary</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>col_ScorerSummary</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Scorer_Summary__c</objectType>
    </variables>
    <variables>
        <name>col_ScoringDetails</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Scoring_Detail__c</objectType>
    </variables>
    <variables>
        <name>rec_ScorerSummary</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Scorer_Summary__c</objectType>
    </variables>
    <variables>
        <name>rec_ScoringDetail</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Scoring_Detail__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
