force-app/main/default/flows/Scoring_Process_Complete_Scoring_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Lock_Scoring_Details</name>
        <label>Lock Scoring Details</label>
        <locationX>490</locationX>
        <locationY>890</locationY>
        <actionName>ecflc__lockRecord</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Lock_Related_Records</targetReference>
        </connector>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>lockId</name>
            <value>
                <elementReference>Lock_Related_Records.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ecflc__lockRecord</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Redirect_Record</name>
        <label>Redirect Record</label>
        <locationX>402</locationX>
        <locationY>1082</locationY>
        <actionName>ecflc:flowIdRedirect</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ecflc:flowIdRedirect</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_If_All_Scoring_Details_Questions_Status_is_Complete</name>
        <label>Check If All Scoring Details Questions Status is Complete</label>
        <locationX>226</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Get_Scorer_Summary</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Status Equals Complete</defaultConnectorLabel>
        <rules>
            <name>Status_Equals_Pending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Scoring_Details_Questions</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Warning_Screen</targetReference>
            </connector>
            <label>Status Equals Pending</label>
        </rules>
    </decisions>
    <description>4/10/2024 SB - Remove Lock on Scorer Summary
10/10/25- CA - Warning screen added, when a scorer hit complete scoring if there are any questions with pending status a warning message screen will display.</description>
    <environments>Default</environments>
    <interviewLabel>Scoring Process: Complete Scoring[Screen Flow] {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Scoring Process: Complete Scoring [Screen Flow]</label>
    <loops>
        <name>Lock_Related_Records</name>
        <label>Lock Related Records</label>
        <locationX>402</locationX>
        <locationY>782</locationY>
        <collectionReference>Get_All_Related_Scoring_Details</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Lock_Scoring_Details</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Redirect_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_All_Related_Scoring_Details</name>
        <label>Get All Related Scoring Details</label>
        <locationX>402</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Score_Summary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Scorer_Summary__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Scoring_Detail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Scorer_Summary</name>
        <label>Get Scorer Summary</label>
        <locationX>402</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Status_to_Completed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Scorer_Summary__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Scoring_Details_Questions</name>
        <label>Get Scoring Details Questions</label>
        <locationX>226</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_All_Scoring_Details_Questions_Status_is_Complete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Scorer_Summary__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Scoring_Detail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Score_Summary</name>
        <label>Update Score Summary</label>
        <locationX>402</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Lock_Related_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Scorer_Summary.Score_Summary__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status_frm__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Score_Summary__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_to_Completed</name>
        <label>Update Status to Completed</label>
        <locationX>402</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Get_All_Related_Scoring_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Completed_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </inputAssignments>
        <object>Scorer_Summary__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Warning_Screen</name>
        <label>Warning Screen</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Show_Warning_Screen</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(13, 3, 70); font-size: 16px;&quot;&gt;All Scoring questions must be completed before submitting your scoring.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Scoring_Details_Questions</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
