force-app/main/default/flows/Scoring_Process_Assign_Scorer_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CDA_Rating_Assignment</name>
        <label>CDA - Rating Assignment</label>
        <locationX>264</locationX>
        <locationY>2030</locationY>
        <actionName>Scorer_Summary__c.CDA_Rating_Assignment</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Send_CDA_Rating_Assignment_Email</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Send_CDA_Rating_Assignment_Email.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Scorer_Summary__c.CDA_Rating_Assignment</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Scorer_Summary_to_Collection_Var</name>
        <label>Add Scorer Summary to Collection Var</label>
        <locationX>264</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>col_ScorerSummary</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rec_ScorerSummary</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Selected_Users</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Scorer_to_Collection_Var</name>
        <label>Add Scorer to Collection Var</label>
        <locationX>264</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>col_Scorers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Scorer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Scorers1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_2</name>
        <label>Assign Scorer Summary Var</label>
        <locationX>264</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>rec_ScorerSummary.Assigned_Scorer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Selected_Users.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ScorerSummary.Reference_Scoring__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ref_Scoring_Table.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ScorerSummary.Days_to_complete__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ref_Scoring_Table.firstSelectedRow.Days_to_complete__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ScorerSummary.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ref_Scoring_Table.firstSelectedRow.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ScorerSummary.Score_Summary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Score_Summary</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Scorer_Summary_to_Collection_Var</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Vars</name>
        <label>Reset Vars</label>
        <locationX>264</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>rec_ScorerSummary</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_2</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Scoring Process: Assign Scorer [Screen Flow] {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Scoring Process: Assign Scorer [Screen Flow]</label>
    <loops>
        <name>Get_Scorers1</name>
        <label>Get Scorers</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <collectionReference>Get_Permission_Set_Assignments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Scorer</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Scoring</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Selected_Users</name>
        <label>Loop Selected Users</label>
        <locationX>176</locationX>
        <locationY>1298</locationY>
        <collectionReference>Scorer_Selection_Table.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Reset_Vars</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Scorer_Summaries</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Send_CDA_Rating_Assignment_Email</name>
        <label>Send CDA - Rating Assignment Email</label>
        <locationX>176</locationX>
        <locationY>1922</locationY>
        <collectionReference>col_ScorerSummary</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CDA_Rating_Assignment</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Score_Summary</name>
        <label>Create Score Summary</label>
        <locationX>176</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>Update_Application</targetReference>
        </connector>
        <inputAssignments>
            <field>Application__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Score_Summary__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Scorer_Summaries</name>
        <label>Create Scorer Summaries</label>
        <locationX>176</locationX>
        <locationY>1814</locationY>
        <connector>
            <targetReference>Send_CDA_Rating_Assignment_Email</targetReference>
        </connector>
        <inputReference>col_ScorerSummary</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Permission_Set_Assignments</name>
        <label>Get Permission Set Assignments</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Scorers1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Scoring_Permission_Set.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Reference_Scoring</name>
        <label>Get Reference Scoring</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Reference_Scoring</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Reference_Scoring__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Scorer</name>
        <label>Get Scorer</label>
        <locationX>264</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Scorer_to_Collection_Var</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Scorers1.AssigneeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Scoring_Permission_Set</name>
        <label>Get Scoring Permission Set</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Permission_Set_Assignments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scoring_Permission_Set</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Application</name>
        <label>Update Application</label>
        <locationX>176</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>Loop_Selected_Users</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Score_Summary__c</field>
            <value>
                <elementReference>Create_Score_Summary</elementReference>
            </value>
        </inputAssignments>
        <object>Application__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Assign_Scoring</name>
        <label>Assign Scoring</label>
        <locationX>176</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Score_Summary</targetReference>
        </connector>
        <fields>
            <name>Scorer_Selection_Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>User</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Assign Scorer</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>col_Scorers</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-242b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Full Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Reference_Scoring</name>
        <label>Select Reference Scoring</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Scoring_Permission_Set</targetReference>
        </connector>
        <fields>
            <name>Ref_Scoring_Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Reference_Scoring__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Reference Scoring</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Reference_Scoring</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-3542&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Reference Scoring Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Reference_Scoring</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>col_Scorers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>col_ScorerSummary</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Scorer_Summary__c</objectType>
    </variables>
    <variables>
        <name>col_ScoringDetails</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Scoring_Detail__c</objectType>
    </variables>
    <variables>
        <name>rec_ScorerSummary</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Scorer_Summary__c</objectType>
    </variables>
    <variables>
        <name>rec_ScoringDetail</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Scoring_Detail__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
