force-app/main/default/flows/Screen_Flow_Budget_Table_Read_Only.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_for_Budget_Division_Id</name>
        <label>Check for Budget Division Id</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Get_Budget_Category_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Budget Division Id</defaultConnectorLabel>
        <rules>
            <name>Has_Budget_Division_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputVar_BudgetDivisonId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Budget_Category_Details_With_Period</targetReference>
            </connector>
            <label>Has Budget Division Id</label>
        </rules>
    </decisions>
    <description>12/4/24 MT: Added SubCategory Template</description>
    <environments>Default</environments>
    <interviewLabel>[Screen Flow] Budget Table Read Only {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Screen Flow] Budget Table Read Only</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Budget</name>
        <label>Get Budget</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Budget_Division_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputVar_BudgetId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Budget</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Subcategory__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Budget_Categories</name>
        <label>Get Budget Categories</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Budget</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BudgetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputVar_BudgetId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BudgetCategory</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Minimum_Details__c</queriedFields>
        <queriedFields>Can_Add_More_Details__c</queriedFields>
        <queriedFields>Read_Only_Detail_Fields__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Budget_Category_Details</name>
        <label>Get Budget Category Details</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Budget_Table</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Budget__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputVar_BudgetId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BudgetCategoryValue</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Budget_Category_Details_With_Period</name>
        <label>Get Budget Category Details With Period</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Budget_Table_With_Period_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Budget__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputVar_BudgetId</elementReference>
            </value>
        </filters>
        <filters>
            <field>BudgetDivisionId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputVar_BudgetDivisonId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BudgetCategoryValue</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Budget_Table</name>
        <label>Budget Table Without Period Values</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>operatingBudgetTables</name>
            <extensionName>c:operatingBudgetTables</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>budgetCategories</name>
                <value>
                    <elementReference>Get_Budget_Categories</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>budgetCategoryDetails</name>
                <value>
                    <elementReference>Get_Budget_Category_Details</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readOnly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subCategoryTemplate</name>
                <value>
                    <elementReference>Get_Budget.Subcategory__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vars_ExistingBudgetDetailsToUpdate</assignToReference>
                <name>existingDetails</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>vars_NewBudgetDetailsToInsert</assignToReference>
                <name>newDetails</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>vars_BudgetDetailsToDelete</assignToReference>
                <name>detailsToDelete</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Budget_Table_With_Period_Values</name>
        <label>Budget Table With Period Values</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_operatingBudgetTables</name>
            <extensionName>c:operatingBudgetTables</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>budgetCategories</name>
                <value>
                    <elementReference>Get_Budget_Categories</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>budgetCategoryDetails</name>
                <value>
                    <elementReference>Get_Budget_Category_Details_With_Period</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readOnly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subCategoryTemplate</name>
                <value>
                    <elementReference>Get_Budget.Subcategory__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vars_ExistingBudgetDetailsToUpdate</assignToReference>
                <name>existingDetails</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>vars_NewBudgetDetailsToInsert</assignToReference>
                <name>newDetails</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>vars_BudgetDetailsToDelete</assignToReference>
                <name>detailsToDelete</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Budget_Categories</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Budget Period</description>
        <name>inputVar_BudgetDivisonId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputVar_BudgetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_DetailsToDeleteCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_ExistingDetailCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_NewDetailCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vars_BudgetDetailsToDelete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BudgetCategoryValue</objectType>
    </variables>
    <variables>
        <name>vars_ExistingBudgetDetailsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BudgetCategoryValue</objectType>
    </variables>
    <variables>
        <name>vars_NewBudgetDetailsToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BudgetCategoryValue</objectType>
    </variables>
</Flow>
