force-app/main/default/flows/Screen_Flow_Set_Reimbursement_Codes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Contract_Budget_Category_Col</name>
        <label>Assign Contract Budget Category Col</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>colContractBudgetCategoryNew</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sovContractBudgetCategory</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Reimbursement_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Filter_Account_Number_Count</name>
        <label>Assign Filter Account Number Count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRecordCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_Account_Numbers</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Existing_Account_Numbers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Used to count the filtered records so we know if any existing contract budget categories were found. A</description>
        <name>Assign_Filter_Account_Number_Count_Update</name>
        <label>Assign Filter Account Number Count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRecordCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_Existing_Contract_Budget_Categories</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Existing_Contract_Budget_Categories</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Account_Numbers</name>
        <label>Assign New Account Numbers</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>sovContractBudgetCategory.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Updated_Account_Numbers.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovContractBudgetCategory.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Updated_Account_Numbers.Budget_Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovContractBudgetCategory.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Updated_Account_Numbers.Temporary_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovContractBudgetCategory.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Updated_Account_Numbers.Description__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_New_Account_Numbers_Col</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Account_Numbers_Col</name>
        <label>Assign New Account Numbers Col</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>colContractBudgetCategoryNew</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sovContractBudgetCategory</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Updated_Account_Numbers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Contract_Budget_Category</name>
        <label>Assign New Contract Budget Category</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>sovContractBudgetCategory.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>table_AccountCodes.outputSelectedRow.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovContractBudgetCategory.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovContractBudgetCategory.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>table_AccountCodes.outputSelectedRow.Budget_Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovContractBudgetCategory.Reimbursement_Table__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Per_Units.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovContractBudgetCategory.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Per_Units.Category_Description__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Contract_Budget_Category_Col</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Contract_Budget_Category_Allocation</name>
        <label>Assign New Contract Budget Category</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>sovContractBudgetCategory.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovContractBudgetCategory.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Selected_Account.Temporary_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAmountAdded</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Selected_Account.Temporary_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovContractBudgetCategory.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Selected_Account.Budget_Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovContractBudgetCategory.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Selected_Account.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovContractBudgetCategory.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Selected_Account.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovContractBudgetCategory.Metadata_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Selected_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_New_Contract_Budget_Category_Col_Allocation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Contract_Budget_Category_Col_Allocation</name>
        <label>Assign New Contract Budget Category Col</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>colContractBudgetCategoryNew</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sovContractBudgetCategory</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Selected_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Total</name>
        <label>Assign Total</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varAmountAdded</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Contract_Budget_Categories_to_Total.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Contract_Budget_Categories_to_Total</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Update_Account_Numbers</name>
        <label>Assign Update Account Numbers</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>sovContractBudgetCategory.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Filtered_Existing_Contact_Budget_Categories.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovContractBudgetCategory.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Filtered_Existing_Contact_Budget_Categories.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovContractBudgetCategory.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Updated_Account_Numbers.Budget_Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovContractBudgetCategory.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Updated_Account_Numbers.Temporary_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUpdateCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Update_Account_Numbers_Col</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Update_Account_Numbers_Col</name>
        <label>Assign Update Account Numbers Col</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>colContractBudgetCategoryUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sovContractBudgetCategory</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Filtered_Existing_Contact_Budget_Categories</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_Account_Number</name>
        <label>Assign Values Account Number</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>sovReimbursementAccountCode.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_All_Account_Codes.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovReimbursementAccountCode.Budget_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_All_Account_Codes.Budget_Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovReimbursementAccountCode.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_All_Account_Codes.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovReimbursementAccountCode.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_All_Account_Codes.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovContractBudgetCategory.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Values_to_Account_Number_Col</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Combines the Account number and budget category name into one value to be used in a picklist.</description>
        <name>Assign_Values_for_Picklist</name>
        <label>Assign Values for Picklist</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varPicklistValueBuild</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Account.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPicklistValueBuild</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> {!Loop_Account.Budget_Category__c}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Values_for_Picklist_Col</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Used to collect all of the picklist values into one collection to be used in a picklist.</description>
        <name>Assign_Values_for_Picklist_Col</name>
        <label>Assign Values for Picklist Col</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>colPicklistValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varPicklistValueBuild</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_Account_Number_Col</name>
        <label>Assign Values to  Account Number Col</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>colAccountCodeWtihAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sovReimbursementAccountCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Zero_Out_Variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_Existing_Account_Number</name>
        <label>Assign Values to Existing Account Number</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>sovReimbursementAccountCode.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_filtered_Account_Numbers.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovReimbursementAccountCode.Budget_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_filtered_Account_Numbers.Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovReimbursementAccountCode.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_All_Account_Codes.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovReimbursementAccountCode.Temporary_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_filtered_Account_Numbers.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovReimbursementAccountCode.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_All_Account_Codes.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Values_to_Existing_Account_Number_Col</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_Existing_Account_Number_Col</name>
        <label>Assign Values to Existing Account Number Col</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>colAccountCodeWtihAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sovReimbursementAccountCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_filtered_Account_Numbers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Vars</name>
        <label>Reset Vars</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>table_ReimbursmentCodes.outputSelectedRow</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>table_Reimbursments.outputSelectedRow</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Copy_1_of_Get_All_Reimbursements</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Var</name>
        <label>Set Var</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_ReimbursmentName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>table_Reimbursments.outputSelectedRow.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reset_Vars</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Zero_Out_Variables</name>
        <label>Zero Out Variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRecordCount</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovReimbursementAccountCode</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Loop_All_Account_Codes</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>chNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>chYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <collectionProcessors>
        <name>Filter_Account_Numbers</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Account Numbers</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Filter_Account_Numbers</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Updated_Contract_Budget_Categories</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Account_Numbers.Account__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_All_Account_Codes.Account__c</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Account_Numbers.Metadata_ID__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_All_Account_Codes.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assign_Filter_Account_Number_Count</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Existing_Contract_Budget_Categories</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Existing Contract Budget Categories</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Filter_Existing_Contract_Budget_Categories</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Existing_Contract_Budget_Categories</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Existing_Contract_Budget_Categories.Account__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_Updated_Account_Numbers.Account__c</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Existing_Contract_Budget_Categories.Category__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_Updated_Account_Numbers.Budget_Category__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assign_Filter_Account_Number_Count_Update</targetReference>
        </connector>
    </collectionProcessors>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Check_for_Existing_Account_Numbers</name>
        <label>Check for Existing Account Numbers</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Values_Account_Number</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Existing_Account_Number</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRecordCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_filtered_Account_Numbers</targetReference>
            </connector>
            <label>Existing Account Number</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Existing_Budget_Categories</name>
        <label>Check for Existing Budget Categories</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Administrative_Account_Selection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contract_Budget_Categories_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Contract_Budget_Categories</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Updated_Contract_Budget_Categories</targetReference>
            </connector>
            <label>Contract Budget Categories Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Existing_Contract_Budget_Categories</name>
        <label>Check for Existing Contract Budget Categories</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_New_Account_Numbers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contract_Budget_Category_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRecordCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Filtered_Existing_Contact_Budget_Categories</targetReference>
            </connector>
            <label>Contract Budget Category Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_New_Contract_Budget_Categories</name>
        <label>Check for New Contract Budget Categories</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Updated_Contract_Budget_Categories2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Contract_Budget_Categories_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNewCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varNewCount</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Create_New_Contract_Budget_Category</targetReference>
            </connector>
            <label>New Contract Budget Categories Created</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Updated_Contract_Budget_Categories</name>
        <label>Check for Updated Contract Budget Categories</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_for_New_Contract_Budget_Categories</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contract_Budget_Categories_Udpated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varUpdateCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varUpdateCount</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_Contract_Budget_Category_Per_Unit</targetReference>
            </connector>
            <label>Contract Budget Categories Udpated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Record_Need_to_be_Deleted</name>
        <label>Check if Record Need to be Deleted</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>View_New_Updated_Contract_Budget_Categories</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Delete_Blank_Records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contract_Budget_Categories_to_Delete</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Blank_Contract_Budget_Category</targetReference>
            </connector>
            <label>Delete Blank Records</label>
        </rules>
    </decisions>
    <decisions>
        <description>Looks at the collection varialbe in for the Screen Admin Account # Selection. There can potentially be a blank value if they entered an amount and then deleted it.</description>
        <name>Check_to_make_sure_Account_Entered</name>
        <label>Check to make sure Account # Entered</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_New_Contract_Budget_Category_Allocation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Blank_Amount</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Selected_Account.Temporary_Amount__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Selected_Account.Temporary_Amount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Selected_Account</targetReference>
            </connector>
            <label>Blank Amount</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Total_Entered</name>
        <label>Check Total Entered</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Contract_Budget_Categories_Admin</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Equal_to_Contract_Allocation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAmountAdded</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Contract.Total_Funding__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Amount_Entered_Error_dsp</targetReference>
            </connector>
            <label>Not Equal to Contract Allocation</label>
        </rules>
        <rules>
            <name>Equal_to_Contract_Alloactation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAmountAdded</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Contract.Total_Funding__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Contract_Budget_Categories_Admin</targetReference>
            </connector>
            <label>Equal to Contract Alloactation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Per_Unit_Reimbursements</name>
        <label>Has &apos;Per Unit&apos; Reimbursements?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>No_Per_Unit_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_PerUnit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_Per_Unit_Reimbursements.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contract.Contract_Budget_Table__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Per Unit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Reimbursements</targetReference>
            </connector>
            <label>Yes: Set Acct #s</label>
        </rules>
        <rules>
            <name>Yes_Edit_Acct_s</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_for_Per_Unit_Reimbursements_w_Acct.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contract.Contract_Budget_Table__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Per Unit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy1_Get_All_Reimbursement_Account_Codes</targetReference>
            </connector>
            <label>Yes: Edit Acct #s</label>
        </rules>
        <rules>
            <name>Actual</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contract.Contract_Budget_Table__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Actual</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Account</targetReference>
            </connector>
            <label>Actual</label>
        </rules>
        <rules>
            <name>Administrative</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contract.Contract_Budget_Table__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Administrative</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Account</targetReference>
            </connector>
            <label>Administrative</label>
        </rules>
        <rules>
            <name>Municipal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contract.Contract_Budget_Table__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Municipal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Municipal_Display</targetReference>
            </connector>
            <label>Municipal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_Amounts_Match</name>
        <label>Verify Amounts Match</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Contract_Budget_Categories_to_Delete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Contract_and_Contract_Budget_Category_Amounts_do_no_match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contract.Total_Funding__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varAmountAdded</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Roll_Back_Record_Changes</targetReference>
            </connector>
            <label>Copy 2 of Contract and Contract Budget Category Amounts do no match</label>
        </rules>
    </decisions>
    <description>12/1/25 AH - Changing how the user is directed own each of the pathes and adding creating records on Contract Budget Category object.
11/19/25 SB - Convert on page screen flow to a quick action | Add Budget Category and Description mapping | Add edit success verbiage and close out instructions</description>
    <dynamicChoiceSets>
        <name>chAccountNo</name>
        <collectionReference>Get_All_Reimbursement_Account_Codes</collectionReference>
        <dataType>String</dataType>
        <displayField>Account__c</displayField>
        <object>Reimbursement_Account_Code__mdt</object>
        <valueField>Account__c</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>[Screen Flow] Set Reimbursement Codes {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Screen Flow] Set Reimbursement Codes</label>
    <loops>
        <name>Loop_Account</name>
        <label>Loop Account #</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_All_Reimbursement_Account_Codes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Values_for_Picklist</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Existing_Contract_Budget_Categories</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_All_Account_Codes</name>
        <label>Loop All Account Codes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_All_Reimbursement_Account_Codes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_Account_Numbers</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Administrative_Account_Selection_New</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Contract_Budget_Categories_to_Total</name>
        <label>Loop Contract Budget Categories to Total</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Updated_Contract_Budget_Categories2</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Total</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Verify_Amounts_Match</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_filtered_Account_Numbers</name>
        <label>Loop filtered Account Numbers</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Filter_Account_Numbers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Values_to_Existing_Account_Number</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Zero_Out_Variables</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Filtered_Existing_Contact_Budget_Categories</name>
        <label>Loop Filtered Existing Contact Budget Categories</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Filter_Existing_Contract_Budget_Categories</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Update_Account_Numbers</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Updated_Account_Numbers</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Per_Units</name>
        <label>Loop Per Units</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_All_Reimbursements</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Review_Reimbursements</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Contract_Budget_Categories</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Selected_Account</name>
        <label>Loop Selected Account #</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Amount_Entrered_AccountNo.outputEditedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_to_make_sure_Account_Entered</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Total_Entered</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Updated_Account_Numbers</name>
        <label>Loop Updated Account Numbers</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Amount_Entrered_AccountNo_New.outputEditedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_Existing_Contract_Budget_Categories</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_for_Updated_Contract_Budget_Categories</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Contract_Budget_Categories</name>
        <label>Create Contract Budget Categories</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Finish_Screen</targetReference>
        </connector>
        <inputReference>colContractBudgetCategoryNew</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Contract_Budget_Categories_Admin</name>
        <label>Create Contract Budget Categories</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Account_Codes_Captured_dsp</targetReference>
        </connector>
        <inputReference>colContractBudgetCategoryNew</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Contract_Budget_Category</name>
        <label>Create New Contract Budget Category</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Updated_Contract_Budget_Categories2</targetReference>
        </connector>
        <inputReference>colContractBudgetCategoryNew</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Blank_Contract_Budget_Category</name>
        <label>Delete Blank Contract Budget Category</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>View_New_Updated_Contract_Budget_Categories</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Amount__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contract_Budget_Category__c</object>
    </recordDeletes>
    <recordLookups>
        <name>Check_for_Per_Unit_Reimbursements_w_Acct</name>
        <label>Check for &apos;Per Unit&apos; Reimbursements w/ Acct #</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Reimbursement_Account_Codes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Application.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Method_of_Reimbursement__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Per Unit</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Reimbursement_Table__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Check_Per_Unit_Reimbursements</name>
        <label>Check for &apos;Per Unit&apos; Reimbursements</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Per_Unit_Reimbursements_w_Acct</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Application.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Method_of_Reimbursement__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Per Unit</stringValue>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Reimbursement_Table__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy1_Get_All_Reimbursement_Account_Codes</name>
        <label>Get All Reimbursement Account Codes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Get_All_Reimbursements</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>NotEqualTo</operator>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Reimbursement_Account_Code__mdt</object>
        <sortField>Budget_Category__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_Get_All_Reimbursements</name>
        <label>Get All Reimbursements</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Edit_Reimbursement_Codes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Application.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Method_of_Reimbursement__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Per Unit</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Reimbursement_Table__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Budget_Categories</name>
        <label>Get All Budget Categories</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Per_Unit_Reimbursements</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>BudgetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Budget.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Total_Amount__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Total_Amount__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BudgetCategory</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Reimbursement_Account_Codes</name>
        <label>Get All Reimbursement Account Codes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Per_Unit_Reimbursements</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>NotEqualTo</operator>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Reimbursement_Account_Code__mdt</object>
        <sortField>Budget_Category__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Reimbursements</name>
        <label>Get All Reimbursements</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Per_Units</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Application.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Method_of_Reimbursement__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Per Unit</stringValue>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Reimbursement_Table__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Application</name>
        <label>Get Application</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Budget_Categories</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contract.Application__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Budget</name>
        <label>Get Budget</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Application</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Budget</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contract</name>
        <label>Get Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Budget</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contract_Budget_Categories_to_Delete</name>
        <label>Get Contract Budget Categories to Delete</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Record_Need_to_be_Deleted</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Amount__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Amount__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract_Budget_Category__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Contract_Budget_Categories</name>
        <label>Get Existing Contract Budget Categories</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Existing_Budget_Categories</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract_Budget_Category__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Updated_Contract_Budget_Categories</name>
        <label>Get Updated Contract Budget Categories</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_All_Account_Codes</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Amount__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Amount__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract_Budget_Category__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Updated_Contract_Budget_Categories2</name>
        <label>Get Updated Contract Budget Categories</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Contract_Budget_Categories_to_Total</targetReference>
        </connector>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Amount__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract_Budget_Category__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>Roll_Back_Record_Changes</name>
        <label>Roll Back Record Changes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Amount_Entered_Error_dsp_New</targetReference>
        </connector>
    </recordRollbacks>
    <recordUpdates>
        <name>Update_Contract_Budget_Category</name>
        <label>Update Contract Budget Category</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Var</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>table_Reimbursments.outputSelectedRow.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>table_ReimbursmentCodes.outputSelectedRow.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <elementReference>table_ReimbursmentCodes.outputSelectedRow.Budget_Category__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contract_Budget_Category__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contract_Budget_Category_Per_Unit</name>
        <label>Update Contract Budget Category Not Per Unit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_New_Contract_Budget_Categories</targetReference>
        </connector>
        <inputReference>colContractBudgetCategoryUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Reimbursement</name>
        <label>Update Reimbursement</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Contract_Budget_Category</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>table_Reimbursments.outputSelectedRow.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>table_ReimbursmentCodes.outputSelectedRow.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category_Description__c</field>
            <value>
                <elementReference>table_ReimbursmentCodes.outputSelectedRow.Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <elementReference>table_ReimbursmentCodes.outputSelectedRow.Budget_Category__c</elementReference>
            </value>
        </inputAssignments>
        <object>Reimbursement_Table__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Reimbursement_Record</name>
        <label>Update Reimbursement Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_Per_Units</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Per_Units.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>table_AccountCodes.outputSelectedRow.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category_Description__c</field>
            <value>
                <elementReference>table_AccountCodes.outputSelectedRow.Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <elementReference>table_AccountCodes.outputSelectedRow.Budget_Category__c</elementReference>
            </value>
        </inputAssignments>
        <object>Reimbursement_Table__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Account_Codes_Captured_dsp</name>
        <label>Account Codes Captured dsp</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Account_Codes_Captured_msg</name>
            <fieldText>&lt;p&gt;The entered Account Numbers and Amounts are in the table below.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Created_Contract_Budget_Categories</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Contract_Budget_Category__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>colContractBudgetCategoryNew</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value>
                    <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;Contract_Budget_Category__c&quot;,&quot;fieldReferences&quot;:[&quot;Id&quot;],&quot;elementReference&quot;:&quot;colContractBudgetCategoryNew&quot;}</complexValue>
                    <complexValueType>ComplexObjectFieldDetails</complexValueType>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Account__c&quot;,&quot;guid&quot;:&quot;column-4e4f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Account #&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Category__c&quot;,&quot;guid&quot;:&quot;column-3ba7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Category&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Amount__c&quot;,&quot;guid&quot;:&quot;column-79ec&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Amount&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnReferences</name>
                <value>
                    <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;Contract_Budget_Category__c&quot;,&quot;fieldReferences&quot;:[&quot;Account__c&quot;,&quot;Category__c&quot;,&quot;Amount__c&quot;],&quot;elementReference&quot;:&quot;colContractBudgetCategoryNew&quot;}</complexValue>
                    <complexValueType>ComplexObjectFieldDetails</complexValueType>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Administrative_Account_Selection</name>
        <label>Administrative Account # Selection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_Selected_Account</targetReference>
        </connector>
        <fields>
            <name>AccountNo_selection_dsp</name>
            <fieldText>&lt;p&gt;For each listed Account Number, enter the dollar amount you wish to allocate to the Account Number.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Ensure that the total of all allocated&amp;nbsp;amounts&amp;nbsp;equals &lt;strong&gt;${!Get_Contract.Total_Funding__c}.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;When entering an amount in the table, make sure to enter the amount that needs to be allocated to this Account Number. Once you have entered the amount, press &lt;strong&gt;Enter&lt;/strong&gt; to save it to the cell. Then, once you have entered all your amounts, click &lt;strong&gt;Save&lt;/strong&gt;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Amount_Entrered_AccountNo</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Reimbursement_Account_Code__mdt</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cb_displayAll</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayAll</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Reimbursement_Account_Code__mdt</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_All_Reimbursement_Account_Codes</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Account__c,Budget_Category__c,Description__c,Temporary_Amount__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Account__c:0, Budget_Category__c:0, Description__c:0, Temporary_Amount__c:0</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>Temporary_Amount__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFlexes</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>Temporary_Amount__c:Amount</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWraps</name>
                <value>
                    <stringValue>Account__c:false, Budget_Category__c:false, Description__c:true, Temporary_Amount__c:false</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Administrative_Account_Selection_New</name>
        <label>Administrative Account # Selection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_Updated_Account_Numbers</targetReference>
        </connector>
        <fields>
            <name>AccountNo_selection_New_dsp</name>
            <fieldText>&lt;p&gt;For each listed Account Number, enter the dollar amount you wish to allocate to the Account Number.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Ensure that the total of all allocated&amp;nbsp;amounts&amp;nbsp;equals &lt;strong&gt;${!Get_Contract.Total_Funding__c}.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;When entering an amount in the table, make sure to enter the amount that needs to be allocated to this Account Number. Once you have entered the amount, click the &lt;strong&gt;Apply&lt;/strong&gt; button or press &lt;strong&gt;Enter&lt;/strong&gt; on your keyboard if Apply does not appear. Please make sure to select all rows with an amount. Then, once you have entered all your amounts, click &lt;strong&gt;Save&lt;/strong&gt;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Amount_Entrered_AccountNo_New</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Reimbursement_Account_Code__mdt</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cb_displayAll</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayAll</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Reimbursement_Account_Code__mdt</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Account__c,Budget_Category__c,Description__c,Temporary_Amount__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Account__c:0, Budget_Category__c:0, Description__c:0, Temporary_Amount__c:0</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>Temporary_Amount__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>colAccountCodeWtihAmount</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>Temporary_Amount__c:Amount</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFlexes</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWraps</name>
                <value>
                    <stringValue>Account__c:false, Budget_Category__c:false, Description__c:true, Temporary_Amount__c:false</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Amount_Entered_Error_dsp</name>
        <label>Amount Entered Error dsp</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Amount_Entered_Error_msg</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;The total amount you have entered for all of the Account Numbers &lt;/span&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!varAmountAdded}&lt;/strong&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt; must be equal to the amount allocated to the contract  $&lt;/span&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Contract.Total_Funding__c}.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Please return to the previous screen and update your amounts.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Amount_Entered_Error_dsp_New</name>
        <label>Amount Entered Error dsp New</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Amount_Entered_Error_msg_New</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;The total amount you have entered for all of the Account Numbers &lt;/span&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!varAmountAdded}&lt;/strong&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt; does not match the Contract Allocated amount of $&lt;/span&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Contract.Total_Funding__c}&lt;/strong&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt; for this contract.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Please return to the previous screen and update your amounts.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Edit_Reimbursement_Codes</name>
        <label>Edit Reimbursement Codes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Reimbursement</targetReference>
        </connector>
        <fields>
            <name>dt_Success</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;✅ &lt;/span&gt;&lt;u style=&quot;font-size: 16px;&quot;&gt;Reimbursement &lt;/u&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;&lt;u&gt;{!var_ReimbursmentName}&lt;/u&gt;&lt;/strong&gt;&lt;u style=&quot;font-size: 16px;&quot;&gt; has been successfully updated! You may close this window when you’re done.&lt;/u&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_ReimbursmentName</leftValueReference>
                    <operator>NotEqualTo</operator>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>dt_EditInstructions</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Use the table below to select the reimbursement record for which you would like to update the &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Account #&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>table_Reimbursments</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Reimbursement_Table__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Reimbursement_Table__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,Account__c,Output_Name_frm__c,Description__c,Amount_Requested_for_This_Output__c,Total_Number_of_Units__c,Unit_of_Service_Cost__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>Name:Reimbursement Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:159, Account__c:124, Output_Name_frm__c:208, Description__c:265, Amount_Requested_for_This_Output__c:248, Total_Number_of_Units__c:183, Unit_of_Service_Cost__c:187</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWraps</name>
                <value>
                    <stringValue>Name:true, Account__c:false, Output_Name_frm__c:false, Description__c:true, Amount_Requested_for_This_Output__c:false, Total_Number_of_Units__c:false, Unit_of_Service_Cost__c:false</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleRowSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Copy_1_of_Get_All_Reimbursements</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_not_suppressNameFieldLink</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Edit_Reimbursement_Codes_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Edit_Reimbursement_Codes_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dt_EditInstructions2</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Please refer to the table below to select the appropriate Account # for the reimbursement record above, then click &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Update&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>table_ReimbursmentCodes</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Reimbursement_Account_Code__mdt</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Reimbursement_Account_Code__mdt</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Copy1_Get_All_Reimbursement_Account_Codes</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>singleRowSelection</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_singleRowSelection</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_isRequired</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_hideCheckboxColumn</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_suppressBottomBar</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_navigateNextOnSave</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnFields</name>
                        <value>
                            <stringValue>Account__c,Budget_Category__c,Description__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_matchCaseOnFilters</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnWidths</name>
                        <value>
                            <stringValue>Account__c:233, Budget_Category__c:486, Description__c:486</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_not_suppressNameFieldLink</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>button_Update</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>center</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>navigation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Update&quot;,&quot;value&quot;:&quot;Update&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:0}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>table_Reimbursments.outputSelectedRow.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Finish_Screen</name>
        <label>Finish Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dt_Finish</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;✅ All Account #s have been successfully assigned to the “per unit” reimbursement records.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Municipal_Display</name>
        <label>Municipal Display</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Municipal_msg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Your budgets are Municipal so you do not need to do anything at this time.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Per_Unit_Screen</name>
        <label>No &apos;Per Unit&apos; Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dt_NoPerUnits</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;You are not able to assign Account Numbers to this contract at this time.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Review_Reimbursements</name>
        <label>Review Reimbursements</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_New_Contract_Budget_Category</targetReference>
        </connector>
        <fields>
            <name>dt_CurrentRecord</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Reimbursement &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!Loop_Per_Units.Name}:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>record_Reimbursment</name>
            <extensionName>c:recordDetailFlowScreenComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>mode</name>
                <value>
                    <stringValue>View</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Reimbursement_Table__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Loop_Per_Units.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fields</name>
                <value>
                    <stringValue>Description__c,Output_Name_frm__c,Method_of_Reimbursement__c,Total_Number_of_Units__c,Unit_of_Service_Cost__c,Amount_Requested_for_This_Output__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dt_Instructions</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Please refer to the table below to select the appropriate &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Account # &lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;for the reimbursement record above, then click &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Next&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>table_AccountCodes</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Reimbursement_Account_Code__mdt</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Reimbursement_Account_Code__mdt</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_All_Reimbursement_Account_Codes</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Account__c,Budget_Category__c,Description__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Account__c:140, Budget_Category__c:200, Description__c:575</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleRowSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWraps</name>
                <value>
                    <stringValue>Account__c:false, Budget_Category__c:false, Description__c:true</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>View_New_Updated_Contract_Budget_Categories</name>
        <label>View New/Updated Contract Budget Categories</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>UpdateSumaryText_msg</name>
            <fieldText>&lt;p&gt;The table below is a list of all of the Account Numbers and Amounts with with updates.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>UpdatedContractBudgetCategoriesView</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Contract_Budget_Category__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Account Numbers with Amounts Summary</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Updated_Contract_Budget_Categories2</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value>
                    <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;Contract_Budget_Category__c&quot;,&quot;fieldReferences&quot;:[&quot;Id&quot;],&quot;elementReference&quot;:&quot;Get_Updated_Contract_Budget_Categories2&quot;}</complexValue>
                    <complexValueType>ComplexObjectFieldDetails</complexValueType>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Account__c&quot;,&quot;guid&quot;:&quot;column-d8c3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Account #&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Category__c&quot;,&quot;guid&quot;:&quot;column-70a7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Category&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Amount__c&quot;,&quot;guid&quot;:&quot;column-dd90&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Amount&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnReferences</name>
                <value>
                    <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;Contract_Budget_Category__c&quot;,&quot;fieldReferences&quot;:[&quot;Account__c&quot;,&quot;Category__c&quot;,&quot;Amount__c&quot;],&quot;elementReference&quot;:&quot;Get_Updated_Contract_Budget_Categories2&quot;}</complexValue>
                    <complexValueType>ComplexObjectFieldDetails</complexValueType>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contract</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Used to hold all account codes along with the current amount allocated to each code.</description>
        <name>colAccountCodeWtihAmount</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Reimbursement_Account_Code__mdt</objectType>
    </variables>
    <variables>
        <name>colContractBudgetCategoryNew</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract_Budget_Category__c</objectType>
    </variables>
    <variables>
        <name>colContractBudgetCategoryUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract_Budget_Category__c</objectType>
    </variables>
    <variables>
        <name>colPicklistValues</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colUpdatedTable</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Reimbursement_Account_Code__mdt</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Account_Numbers</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract_Budget_Category__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Existing_Contract_Budget_Categories</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract_Budget_Category__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Selected_Reimbursement_Codes</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Reimbursement_Account_Code__mdt</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BudgetCategory</objectType>
    </variables>
    <variables>
        <name>flag_ShowSuccessText</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sovContractBudgetCategory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract_Budget_Category__c</objectType>
    </variables>
    <variables>
        <name>sovReimbursementAccountCode</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Reimbursement_Account_Code__mdt</objectType>
    </variables>
    <variables>
        <name>var_ReimbursmentName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAmountAdded</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varExistingBudgetCategoryTotal</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varNewCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Used to hold the Account# and Budget Category values</description>
        <name>varPicklistValueBuild</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRecordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varUpdateCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
