force-app/main/default/flows/Screen_Flow_Budget_Table.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_To_Collection</name>
        <label>Add To Collection</label>
        <locationX>270</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>vars_Actual_NewBudgetDetailsToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Set_Fields_On_New_records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Fields_On_New_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_collection2</name>
        <label>Add to collection</label>
        <locationX>270</locationX>
        <locationY>2798</locationY>
        <assignmentItems>
            <assignToReference>vars_Actual_ExistingBudgetDetailsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SetFieldsOnExistingRecords</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetFieldsOnExistingRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Counts</name>
        <label>Assign Counts</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>var_ExistingDetailCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>vars_ExistingBudgetDetailsToUpdate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NewDetailCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>vars_NewBudgetDetailsToInsert</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DetailsToDeleteCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>vars_BudgetDetailsToDelete</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_If_Need_to_Delete</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Budget_Division_Id</name>
        <label>Set Budget Division Id</label>
        <locationX>138</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>Set_Fields_On_New_records.BudgetDivisionId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputVar_BudgetDivisonId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Budget_Division_Id_0</name>
        <label>Set Budget Division Id</label>
        <locationX>138</locationX>
        <locationY>2606</locationY>
        <assignmentItems>
            <assignToReference>SetFieldsOnExistingRecords.BudgetDivisionId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputVar_BudgetDivisonId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_collection2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Fields</name>
        <label>Set Fields</label>
        <locationX>270</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>Set_Fields_On_New_records.Budget__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputVar_BudgetId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Check_for_Budget_Division_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Fields_0</name>
        <label>Set Fields</label>
        <locationX>270</locationX>
        <locationY>2390</locationY>
        <assignmentItems>
            <assignToReference>SetFieldsOnExistingRecords.Budget__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputVar_BudgetId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Check_for_Budget_Division_Id_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Budget_Division_Id</name>
        <label>Check for Budget Division Id</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Get_Budget_Category_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Budget Division Id</defaultConnectorLabel>
        <rules>
            <name>Has_Budget_Division_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputVar_BudgetDivisonId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Budget_Category_Details_With_Period</targetReference>
            </connector>
            <label>Has Budget Division Id</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Need_to_Delete</name>
        <label>Check If Need to Delete</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>Check_If_Need_to_Insert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_DetailsToDeleteCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Details</targetReference>
            </connector>
            <label>Delete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Need_to_Insert</name>
        <label>Check If Need to Insert</label>
        <locationX>182</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>Check_If_Need_to_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Insert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_NewDetailCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Fields_On_New_records</targetReference>
            </connector>
            <label>Insert</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Need_to_Update</name>
        <label>Check If Need to Update</label>
        <locationX>182</locationX>
        <locationY>2174</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ExistingDetailCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetFieldsOnExistingRecords</targetReference>
            </connector>
            <label>Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_for_Budget_Division_Id</name>
        <label>Check for Budget Division Id</label>
        <locationX>270</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <targetReference>Add_To_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Budget Division Id</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Has_Budget_Division_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputVar_BudgetDivisonId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Budget_Division_Id</targetReference>
            </connector>
            <label>Has Budget Division Id</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_for_Budget_Division_Id_0</name>
        <label>Check for Budget Division Id</label>
        <locationX>270</locationX>
        <locationY>2498</locationY>
        <defaultConnector>
            <targetReference>Add_to_collection2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Budget Division Id</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Has_Budget_Division_Id_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputVar_BudgetDivisonId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Budget_Division_Id_0</targetReference>
            </connector>
            <label>Has Budget Division Id</label>
        </rules>
    </decisions>
    <description>TN OCJP Dev
V2 - added in update to budget for detail status - ATB 11/06/24
9/17/24 MT: Add Sort Order to Details
12/4/24 MT: Added SubCategory Template</description>
    <environments>Default</environments>
    <interviewLabel>[Screen Flow] Budget Table {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Screen Flow] Budget Table</label>
    <loops>
        <name>Set_Fields_On_New_records</name>
        <label>Set Fields On New records</label>
        <locationX>50</locationX>
        <locationY>1274</locationY>
        <collectionReference>vars_NewBudgetDetailsToInsert</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Fields</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Budget_Category_Details</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>SetFieldsOnExistingRecords</name>
        <label>Set Fields On Existing records</label>
        <locationX>50</locationX>
        <locationY>2282</locationY>
        <collectionReference>vars_ExistingBudgetDetailsToUpdate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Fields_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Budget_Category_Details</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Budget_Category_Details</name>
        <label>Create Budget Category Details</label>
        <locationX>50</locationX>
        <locationY>1982</locationY>
        <connector>
            <targetReference>Check_If_Need_to_Update</targetReference>
        </connector>
        <inputReference>vars_Actual_NewBudgetDetailsToInsert</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Details</name>
        <label>Delete Details</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Check_If_Need_to_Insert</targetReference>
        </connector>
        <inputReference>vars_BudgetDetailsToDelete</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Budget</name>
        <label>Get Budget</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Budget_Division_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputVar_BudgetId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Budget</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Subcategory__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Budget_Categories</name>
        <label>Get Budget Categories</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Budget</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BudgetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputVar_BudgetId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BudgetCategory</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Minimum_Details__c</queriedFields>
        <queriedFields>Can_Add_More_Details__c</queriedFields>
        <queriedFields>Read_Only_Detail_Fields__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Budget_Category_Details</name>
        <label>Get Budget Category Details</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Budget_Table</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Budget__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputVar_BudgetId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BudgetCategoryValue</object>
        <sortField>Sort_Order__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Budget_Category_Details_With_Period</name>
        <label>Get Budget Category Details With Period</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Budget_Table_With_Period_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Budget__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputVar_BudgetId</elementReference>
            </value>
        </filters>
        <filters>
            <field>BudgetDivisionId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputVar_BudgetDivisonId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BudgetCategoryValue</object>
        <sortField>Sort_Order__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Budget_Category_Details</name>
        <label>Update Budget Category Details</label>
        <locationX>50</locationX>
        <locationY>2990</locationY>
        <connector>
            <targetReference>Update_Budget_Status</targetReference>
        </connector>
        <inputReference>vars_Actual_ExistingBudgetDetailsToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Budget_Status</name>
        <label>Update Budget Status</label>
        <locationX>50</locationX>
        <locationY>3098</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputVar_BudgetId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Planned</stringValue>
            </value>
        </inputAssignments>
        <object>Budget</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Budget_Table</name>
        <label>Budget Table Without Period Values</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Counts</targetReference>
        </connector>
        <fields>
            <name>operatingBudgetTables</name>
            <extensionName>c:operatingBudgetTables</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>budgetCategories</name>
                <value>
                    <elementReference>Get_Budget_Categories</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>budgetCategoryDetails</name>
                <value>
                    <elementReference>Get_Budget_Category_Details</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subCategoryTemplate</name>
                <value>
                    <elementReference>Get_Budget.Subcategory__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vars_ExistingBudgetDetailsToUpdate</assignToReference>
                <name>existingDetails</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>vars_NewBudgetDetailsToInsert</assignToReference>
                <name>newDetails</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>vars_BudgetDetailsToDelete</assignToReference>
                <name>detailsToDelete</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Budget_Table_With_Period_Values</name>
        <label>Budget Table With Period Values</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Counts</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_operatingBudgetTables</name>
            <extensionName>c:operatingBudgetTables</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>budgetCategories</name>
                <value>
                    <elementReference>Get_Budget_Categories</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>budgetCategoryDetails</name>
                <value>
                    <elementReference>Get_Budget_Category_Details_With_Period</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subCategoryTemplate</name>
                <value>
                    <elementReference>Get_Budget.Subcategory__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vars_ExistingBudgetDetailsToUpdate</assignToReference>
                <name>existingDetails</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>vars_NewBudgetDetailsToInsert</assignToReference>
                <name>newDetails</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>vars_BudgetDetailsToDelete</assignToReference>
                <name>detailsToDelete</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Budget_Categories</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Budget Period</description>
        <name>inputVar_BudgetDivisonId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputVar_BudgetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_DetailsToDeleteCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_ExistingDetailCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_NewDetailCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vars_Actual_ExistingBudgetDetailsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BudgetCategoryValue</objectType>
    </variables>
    <variables>
        <name>vars_Actual_NewBudgetDetailsToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BudgetCategoryValue</objectType>
    </variables>
    <variables>
        <name>vars_BudgetDetailsToDelete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BudgetCategoryValue</objectType>
    </variables>
    <variables>
        <name>vars_ExistingBudgetDetailsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BudgetCategoryValue</objectType>
    </variables>
    <variables>
        <name>vars_NewBudgetDetailsToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BudgetCategoryValue</objectType>
    </variables>
</Flow>
