force-app/main/default/flows/Screen_Flow_Budget_Revision_Approved.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CDA_Budget_Revision_Approval_EA</name>
        <label>CDA - Budget Revision Approval EA</label>
        <locationX>182</locationX>
        <locationY>1055</locationY>
        <actionName>Contract.CDA_Budget_Revision_Approval_EA</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Contract__r.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contract.CDA_Budget_Revision_Approval_EA</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>CDA_Budget_Revision_Rejected_EA</name>
        <label>CDA - Budget Revision Rejected EA</label>
        <locationX>490</locationX>
        <locationY>431</locationY>
        <actionName>Contract.CDA_Budget_Revision_Rejected_EA</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Contract__r.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contract.CDA_Budget_Revision_Rejected_EA</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Approved_or_Rejected</name>
        <label>Approved or Rejected?</label>
        <locationX>336</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>CDA_Budget_Revision_Rejected_EA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rejected</defaultConnectorLabel>
        <rules>
            <name>Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Active_Budget_on_Contract</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Active_Budte_on_Contract</name>
        <label>Update Active Budte on Contract?</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>CDA_Budget_Revision_Approval_EA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_Active_Budget_on_Contract.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contract</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>3/3/26 SB - Set &apos;Status&apos; and &apos;Active Budget&apos; checkbox based o prior&apos;s values at time of approval
2/11/25 SB - Add additional updates/action on revised budget approval</description>
    <environments>Default</environments>
    <interviewLabel>[Screen Flow] - Budget Revision Approved {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Record-Triggered] - Budget Revision Approved</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Check_Active_Budget_on_Contract</name>
        <label>Check Active Budget on Contract</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Approved_Statuses</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active_Budget__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Budget__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Set the &apos;Status&apos; and &apos;Active Budget&apos; fields of the approved budget based on the prior budgets values.</description>
        <name>Set_Approved_Statuses</name>
        <label>Set Approved Statuses</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Update_Prior_Budget</targetReference>
        </connector>
        <inputAssignments>
            <field>Active_Budget__c</field>
            <value>
                <elementReference>$Record.Budget__r.Active_Budget__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>$Record.Budget__r.Status</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contract</name>
        <label>Update Contract</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>CDA_Budget_Revision_Approval_EA</targetReference>
        </connector>
        <inputAssignments>
            <field>Active_Budget__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Contract__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Prior_Budget</name>
        <label>Update Prior Budget</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Update_Active_Budte_on_Contract</targetReference>
        </connector>
        <inputAssignments>
            <field>Active_Budget__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Archived</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Budget__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Approved_or_Rejected</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </filters>
        <object>Budget</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
