force-app/main/default/flows/Screen_Flow_Budget_Revision_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>440</locationX>
        <locationY>1970</locationY>
        <assignmentItems>
            <assignToReference>col_BCV</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_BudgetCategoryValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Budget_category_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_BC_Clone</name>
        <label>Assign BC (Clone)</label>
        <locationX>352</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>var_BudgetCategory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Budget_Categories</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Budget_Categories</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_BCV_Clone</name>
        <label>Assign BCV (Clone)</label>
        <locationX>440</locationX>
        <locationY>1754</locationY>
        <assignmentItems>
            <assignToReference>var_BudgetCategoryValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Budget_category_Values</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Budget_Category_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Budget_Categories</name>
        <label>Assign Budget Categories</label>
        <locationX>352</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>var_BudgetCategory.BudgetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_BudgetClone.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_BudgetCategory.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_BudgetCategory.Read_Only_Detail_Fields__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cons_Revised_ReadyOnlyDetailFeilds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_BudgetCategory.EGrAMS_ID__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Create_Budget_Category</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Budget_Category_Values</name>
        <label>Assign Budget Category Values</label>
        <locationX>440</locationX>
        <locationY>1862</locationY>
        <assignmentItems>
            <assignToReference>var_BudgetCategoryValue.BudgetCategoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_BudgetCategory.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_BudgetCategoryValue.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_BudgetCategoryValue.Budget__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_BudgetClone.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_BudgetCategoryValue.Prior_Budget_Category_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Budget_category_Values.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_BudgetCategoryValue.EGrAMS_ID__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_BudgetCategoryValue.Reallocated_Amount__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_BudgetCategoryValue.ReallocationAmount__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_BudgetCategoryValue.Actual_Disbursed__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_BudgetCategoryValue.Pending_Disbursement__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Budget_Clone</name>
        <label>Assign Budget Clone</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>var_BudgetClone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Budget</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Budget_Vars</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Budget_Vars</name>
        <label>Assign Budget Vars</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>var_BudgetClone.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_BudgetClone.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Budget_RT.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_BudgetClone.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_BudgetClone.Active_Budget__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_BudgetClone.Budget__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>table_BR_Select.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_BudgetClone.Subcategory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frm_SubcategoryRevised</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_BudgetClone.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frm_BudgetNameRevised</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_BudgetClone.EGrAMS_ID__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_BudgetClone.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contract.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_BudgetClone.Approval_Status__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Clone_Budget</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>cons_Revised_ReadyOnlyDetailFeilds</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Prior_Available__c,Prior_Budget_Category_Value__c,Prior_Disbursed__c,Prior_Other_Funding__c,Prior_Pending_Disbursed__c,Prior_Planned_Amount__c,Prior_Total__c,Total_Amount__c,Net_Change__c,Available_Amount__c,Budget_Detail_Name__c</stringValue>
        </value>
    </constants>
    <description>3/3/2026 SB - Update Budget Name and Subcategory formulas
2/17/2026 SB - Change filter criteria for budgets revision selection
2/9/26 - added AccountId mapping from Contract to Revised Budget (important for our sharing rules)
2/11/25 SB - Handle Egrams budgets for revision
1/29/25 SB - Re-assign prior values
1/23/25 SB - Set read-only detail fields for Revised Budget</description>
    <environments>Default</environments>
    <formulas>
        <name>frm_BudgetNameRevised</name>
        <dataType>String</dataType>
        <expression>IF(
    CONTAINS({!var_BudgetClone.Name}, &quot; (Revised &quot;),
    LEFT(
        {!var_BudgetClone.Name},
        FIND(&quot; (Revised &quot;, {!var_BudgetClone.Name}) - 1
    ),
    {!var_BudgetClone.Name}
)
&amp;
&quot; (Revised &quot; &amp;
TEXT(MONTH({!$Flow.CurrentDate})) &amp;
&quot;/&quot; &amp;
RIGHT(TEXT(YEAR({!$Flow.CurrentDate})), 2) &amp;
&quot;)&quot;</expression>
    </formulas>
    <formulas>
        <name>frm_SubcategoryRevised</name>
        <dataType>String</dataType>
        <expression>IF(
    ISBLANK(TEXT({!var_BudgetClone.Subcategory__c})),
    &quot;Egrams&quot;,
    IF(
        CONTAINS(TEXT({!var_BudgetClone.Subcategory__c}), &quot;Revised&quot;),
        TEXT({!var_BudgetClone.Subcategory__c}),
        TEXT({!var_BudgetClone.Subcategory__c}) &amp; &quot; Revised&quot;
    )
)</expression>
    </formulas>
    <interviewLabel>[Screen Flow] Budget Revision Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Screen Flow] Budget Revision Create</label>
    <loops>
        <name>Loop_Budget_Categories</name>
        <label>Loop Budget Categories</label>
        <locationX>176</locationX>
        <locationY>1106</locationY>
        <collectionReference>Get_Budget_Categories</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_BC_Clone</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_BCVs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Budget_category_Values</name>
        <label>Loop Budget category Values</label>
        <locationX>352</locationX>
        <locationY>1646</locationY>
        <collectionReference>Get_Line_Items_Budget_Category_Values</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_BCV_Clone</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Budget_Categories</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Clone_Budget</name>
        <label>Clone Budget</label>
        <locationX>176</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Get_Budget_Categories</targetReference>
        </connector>
        <inputReference>var_BudgetClone</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_BCVs</name>
        <label>Create BCVs</label>
        <locationX>176</locationX>
        <locationY>2246</locationY>
        <inputReference>col_BCV</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Budget_Category</name>
        <label>Create Budget Category</label>
        <locationX>352</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>Get_Line_Items_Budget_Category_Values</targetReference>
        </connector>
        <inputReference>var_BudgetCategory</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Budget</name>
        <label>Get Budget</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Budget_Clone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>table_BR_Select.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Budget</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Budget_Categories</name>
        <label>Get Budget Categories</label>
        <locationX>176</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Budget_Categories</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BudgetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Budget.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BudgetCategory</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Budget_RT</name>
        <label>Get Budget RT</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Budgets</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Budget</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Budget_Revision</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Budgets</name>
        <label>Get Budgets</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Budget_Revision_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Archived</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Budget</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contract</name>
        <label>Get Contract</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Budget_RT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Line_Items_Budget_Category_Values</name>
        <label>Get Line Items (Budget Category Values)</label>
        <locationX>352</locationX>
        <locationY>1538</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Budget_category_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BudgetCategoryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Budget_Categories.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BudgetCategoryValue</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Budget_Revision_Screen</name>
        <label>Budget Revision Screen</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Budget</targetReference>
        </connector>
        <fields>
            <name>dt_BRselect</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Select an existing budget that requires revision from the table below:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>table_BR_Select</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Budget</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Budgets</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-3830&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Budget Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Status&quot;,&quot;guid&quot;:&quot;column-9bcb&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Status&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Total_Planned_Amount__c&quot;,&quot;guid&quot;:&quot;column-bfbc&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Total Active Budget Amount&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;PeriodName&quot;,&quot;guid&quot;:&quot;column-3a90&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Period Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Revise</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contract</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>col_BCV</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BudgetCategoryValue</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_BudgetCategory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BudgetCategory</objectType>
    </variables>
    <variables>
        <name>var_BudgetCategoryValue</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BudgetCategoryValue</objectType>
    </variables>
    <variables>
        <name>var_BudgetClone</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Budget</objectType>
    </variables>
</Flow>
