force-app/main/default/flows/Screen_Flow_Submit_Document_Types_for_Approval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Redirect_to_Contract_Record</name>
        <label>Redirect to Contract Record</label>
        <locationX>182</locationX>
        <locationY>2330</locationY>
        <actionName>ecflc:flowIdRedirect</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_Contract_ID.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ecflc:flowIdRedirect</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Submit_Documents_for_Approval</name>
        <label>Submit Documents for Approval</label>
        <locationX>270</locationX>
        <locationY>2138</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>All_New_Document_Checklist_Items</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>All_New_Document_Checklist_Items.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Document_Checklist_Item_Upload_Approval	</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>270</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>Col_DocumentChecklistItemstoCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Rec_DocumentChecklistItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_New_Document_Checklist_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigsn the</description>
        <name>Assign_Doc_Checklist_Item_Vars</name>
        <label>Assign Doc Checklist Item Vars</label>
        <locationX>270</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>Rec_DocumentChecklistItem.DocumentTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_New_Document_Checklist_Items.Document_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Rec_DocumentChecklistItem.Instruction</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_New_Document_Checklist_Items.Instructions</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Rec_DocumentChecklistItem.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_New_Document_Checklist_Items.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Rec_DocumentChecklistItem.ParentRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Rec_DocumentChecklistItem.Created_Externally__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Rec_DocumentChecklistItem.Contract_External__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contract_ID.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Count_by_1</name>
        <label>Increment Count by 1</label>
        <locationX>270</locationX>
        <locationY>1922</locationY>
        <assignmentItems>
            <assignToReference>currentDocumentCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Upload_Files</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <description>Checks if there are any Existing Document Checklist Items to route the flow</description>
        <name>Do_Document_Checklist_Items_Exist</name>
        <label>Do Document Checklist Items Exist?</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Document_Checklist_Item_to_Create</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Document_Checklist_Items</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Document_Checklist_Items_to_Update</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Used to allow experience users the ability to upload specific document types for approval
Updated decision for existing Externally Created records</description>
    <dynamicChoiceSets>
        <name>CCS_DocumentCategory</name>
        <collectionReference>Get_Document_Categories</collectionReference>
        <dataType>String</dataType>
        <displayField>DeveloperName</displayField>
        <object>DocumentCategory</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CCS_DocumentType</name>
        <collectionReference>Get_Document_Types</collectionReference>
        <dataType>String</dataType>
        <displayField>MasterLabel</displayField>
        <object>DocumentType</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DocumentType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FormType</picklistField>
        <picklistObject>DocumentType</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>FileName</name>
        <dataType>String</dataType>
        <expression>{!Loop_New_Document_Checklist_Items.Name}</expression>
    </formulas>
    <interviewLabel>[Screen Flow] Submit Document Types for Approval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Screen Flow] Submit Document Types for Approval</label>
    <loops>
        <name>All_New_Document_Checklist_Items</name>
        <label>All New Document Checklist Items</label>
        <locationX>182</locationX>
        <locationY>1814</locationY>
        <collectionReference>Get_New_Document_Checklist_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Increment_Count_by_1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Redirect_to_Contract_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loops through the DocumentChecklistItem repeater</description>
        <name>Loop_New_Document_Checklist_Items</name>
        <label>Loop New Document Checklist Items</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <collectionReference>ChooseDocumentType.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Doc_Checklist_Item_Vars</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Count_Document_Checklist_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Document_Checklist_Items</name>
        <label>Create Document Checklist Items</label>
        <locationX>182</locationX>
        <locationY>1490</locationY>
        <connector>
            <targetReference>Collect_Document_Checklist_Item_Ids</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>Col_DocumentChecklistItemstoCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Gets the triggering Contract from the recordId</description>
        <name>Get_Contract_ID</name>
        <label>Get Contract ID</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Document_Types</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the Document Categories from the Document Categories defined in setup</description>
        <name>Get_Document_Categories</name>
        <label>Get Document Categories</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Document_Checklist_Items</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>DocumentCategory</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the Document Checklist Items related to the Contract and that were created externally</description>
        <name>Get_Document_Checklist_Items</name>
        <label>Get Document Checklist Items</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Do_Document_Checklist_Items_Exist</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Created_Externally__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>DocumentChecklistItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the Document Types from the DocumentType metadata defined in setup</description>
        <name>Get_Document_Types</name>
        <label>Get Document Types</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Document_Categories</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FormType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>USER_DEFINED_TYPE</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>DocumentType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_New_Document_Checklist_Items</name>
        <label>Get New Document Checklist Items</label>
        <locationX>182</locationX>
        <locationY>1706</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>All_New_Document_Checklist_Items</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>Collect_Document_Checklist_Item_Ids</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>DocumentChecklistItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Document_Checklist_Item_to_Create</name>
        <label>Document Checklist Item to Create</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_New_Document_Checklist_Items</targetReference>
        </connector>
        <fields>
            <name>ChooseDocumentType</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>DocumentInstructions</name>
                <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Submit a Document for Approval&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please enter the name of the document you are wanting to upload for approval.  Once you have made all of your selections,  click the &quot;Next&quot; button below.&lt;/p&gt;</fieldText>
                <fieldType>DisplayText</fieldType>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Name</name>
                <dataType>String</dataType>
                <fieldText>Name</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Document_Type</name>
                <choiceReferences>CCS_DocumentType</choiceReferences>
                <dataType>String</dataType>
                <fieldText>Document Type</fieldText>
                <fieldType>DropdownBox</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>ChooseDocumentType.AllItems[$EachItem].Name</leftValueReference>
                        <operator>IsNull</operator>
                        <rightValue>
                            <booleanValue>false</booleanValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>Instructions</name>
                <fieldText>Instructions</fieldText>
                <fieldType>LargeTextArea</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Document_Checklist_Items_to_Update</name>
        <label>Document Checklist Items to Update</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Document_Checklist_Item_to_Create</targetReference>
        </connector>
        <fields>
            <name>Document_Checklist_Items_to_Update_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Document_Checklist_Items_to_Update_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TableInstructions</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;See the table below for all the Document Checklist Item records that have been entered for approval.  If you need to make a change to a record, please reach out to CDA team.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>DataTableDocChecklistitem</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>DocumentChecklistItem</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>cb_displayAll</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>displayAll</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>DocumentChecklistItem</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_singleRowSelection</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_allowNoneToBeChosen</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_not_suppressNameFieldLink</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_suppressBottomBar</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_navigateNextOnSave</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnFields</name>
                        <value>
                            <stringValue>Name,Document_Type_frm__c,Status</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_matchCaseOnFilters</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnWidths</name>
                        <value>
                            <stringValue>Name:0, Document_Type_frm__c:0, Status:0</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>hideCheckboxColumn</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_hideCheckboxColumn</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_isRequired</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnFlexes</name>
                        <value>
                            <stringValue>All</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_Document_Checklist_Items</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>NewDCIInstruction</name>
            <fieldText>&lt;p&gt;If all Document Checklist Items are valid, click the button below to add additional documents.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Add New Document Checklist Items</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>1810</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>dspError</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Error:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Upload_Files</name>
        <label>Upload Files</label>
        <locationX>270</locationX>
        <locationY>2030</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Submit_Documents_for_Approval</targetReference>
        </connector>
        <fields>
            <name>UploadFile</name>
            <fieldText>&lt;p&gt;Upload the file related to &lt;strong&gt;{!All_New_Document_Checklist_Items.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Please Note:&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Only &lt;strong&gt;one file&lt;/strong&gt; may be uploaded.&lt;/li&gt;&lt;li&gt;The page will &lt;strong&gt;not&lt;/strong&gt; refresh to show your upload. This is expected behavior.&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>10</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>FileUpload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>Loop_New_Document_Checklist_Items.Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>All_New_Document_Checklist_Items.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>DocumentCountMessage</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;Document {!currentDocumentCount} of {!Count_Document_Checklist_Items}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contract_ID</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <transforms>
        <name>Collect_Document_Checklist_Item_Ids</name>
        <label>Collect Document Checklist Item Ids</label>
        <locationX>182</locationX>
        <locationY>1598</locationY>
        <connector>
            <targetReference>Get_New_Document_Checklist_Items</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Col_DocumentChecklistItemstoCreate[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Count_Document_Checklist_Items</name>
        <label>Count Document Checklist Items</label>
        <locationX>182</locationX>
        <locationY>1382</locationY>
        <connector>
            <targetReference>Create_Document_Checklist_Items</targetReference>
        </connector>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>Col_DocumentChecklistItemstoCreate</elementReference>
                    </value>
                </inputParameters>
                <transformType>Count</transformType>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>Col_DocumentChecklistItemstoCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DocumentChecklistItem</objectType>
    </variables>
    <variables>
        <name>currentDocumentCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>DocumentTypes</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Rec_DocumentChecklistItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DocumentChecklistItem</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectDocumentType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
