force-app/main/default/flows/Submit_Approval_Assignments_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Redirect_to_Document_Checklist_Item</name>
        <label>Redirect to Document Checklist Item</label>
        <locationX>176</locationX>
        <locationY>1598</locationY>
        <actionName>ecflc:flowIdRedirect</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_Document_Checklist_Item.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ecflc:flowIdRedirect</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_Queue</name>
        <label>Send Email to Queue</label>
        <locationX>264</locationX>
        <locationY>998</locationY>
        <actionName>Approval_Assignment__c.CDA_Approval_Assignment_Alert_Only</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Set_Approval_Assignment_Vars</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Loop_Approval_Assignments.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Approval_Assignment__c.CDA_Approval_Assignment_Alert_Only</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_to_Approval_Process</name>
        <label>Send to Approval Process</label>
        <locationX>528</locationX>
        <locationY>998</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Set_Approval_Assignment_Vars</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>Loop_Approval_Assignments.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Approval_Assignment_Process</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>396</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>col_ApprovalAssignments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rec_ApprovalAssignment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Approval_Assignments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Vars</name>
        <label>Reset Vars</label>
        <locationX>396</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>rec_ApprovalAssignment</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Check_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Approval_Assignment_Vars</name>
        <label>Set Approval Assignment Vars</label>
        <locationX>396</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>Loop_Approval_Assignments.Submitted_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ApprovalAssignment.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Approval_Assignments.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Status</name>
        <label>Check Status</label>
        <locationX>396</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Send_to_Approval_Process</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Send to Approval Process</defaultConnectorLabel>
        <rules>
            <name>Alert_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Approval_Assignments.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Alert Only</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_Queue</targetReference>
            </connector>
            <label>Alert Only</label>
        </rules>
    </decisions>
    <description>CC 1/10/25 - adding assignment vars element and update collection
CC 1/2/25 - adding email alert only path</description>
    <environments>Default</environments>
    <interviewLabel>Submit Approval Assignments [Screen Flow] {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Submit Approval Assignments [Screen Flow]</label>
    <loops>
        <name>Loop_Approval_Assignments</name>
        <label>Loop Approval Assignments</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <collectionReference>Get_Related_Approval_Assignments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Reset_Vars</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Approval_Assignments</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Approval_Assignment_Queue_Id</name>
        <label>Get Approval Assignment Queue Id</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Display_Approval_Assignments_Before_Submission</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approval_Assignment_Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Document_Checklist_Item</name>
        <label>Get Document Checklist Item</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Approval_Assignments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DocumentChecklistItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Template_Id</name>
        <label>Get Email Template Id</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Approval_Assignment_Queue_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approval_Assignment_Alert_Only_Send_to_Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Approval_Assignments</name>
        <label>Get Related Approval Assignments</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Email_Template_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Document_Checklist_Item__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Document_Checklist_Item.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Approval_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Approval_Assignments</name>
        <label>Update Approval Assignments</label>
        <locationX>176</locationX>
        <locationY>1490</locationY>
        <connector>
            <targetReference>Redirect_to_Document_Checklist_Item</targetReference>
        </connector>
        <inputReference>col_ApprovalAssignments</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Display_Approval_Assignments_Before_Submission</name>
        <label>Display Approval Assignments Before Submission</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_Approval_Assignments</targetReference>
        </connector>
        <fields>
            <name>dt_DisplayApprovalAssignmentsBeforeSubmission</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;You are about to submit these records for review. If you&apos;d like to proceed, click the button below. If you do not wish to proceed, close out of this window with the &apos;x&apos; in the top right.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;*Note* any approval assignments with a status of &quot;Alert Only&quot;, will only be notified via email and will NOT go into a formal approval process.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>datatable_AllApprovalAssignments</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Approval_Assignment__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Related_Approval_Assignments</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-3070&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Approval Assignments Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Description__c&quot;,&quot;guid&quot;:&quot;column-db1a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Description&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Status__c&quot;,&quot;guid&quot;:&quot;column-d69b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Status&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Continue to Approval</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Document_Checklist_Item</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>tt_EmailMessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;The following approval record is ready to be reviewed. Navigate to the record by searching the name or plugging in the record Id at the end of the URL in your browser.&lt;/p&gt;&lt;p&gt;{!Loop_Approval_Assignments.Name}&lt;/p&gt;&lt;p&gt;Id: {!Loop_Approval_Assignments.Id}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>tt_EmailSubject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;An Approval Assignment Is Ready for Review!&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>col_ApprovalAssignments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Approval_Assignment__c</objectType>
    </variables>
    <variables>
        <name>rec_ApprovalAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Approval_Assignment__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
