force-app/main/default/flows/Update_Project_Name_Scheduled_Flow_v2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Multi_oject_Application_Detail_Flattener</name>
        <label>Multi-oject Application Detail Flattener</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <actionName>MultiObjectAppDetailFlattener</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>application</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MultiObjectAppDetailFlattener</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Update_Name</name>
        <label>Update Name?</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Project__r.Name</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a0r</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Multi_oject_Application_Detail_Flattener</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Project Name [Scheduled Flow] v2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Project Name [Scheduled Flow] v2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Name</targetReference>
        </connector>
        <object>Application__c</object>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2025-03-07</startDate>
            <startTime>15:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
</Flow>
