force-app/main/default/flows/Volunteers_Count_and_Reporting_Hours_on_Campaign.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Count_Reports</name>
        <label>Count Reports</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>ReportsCount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Volunteer_Shift_Reports.Total_Attendance__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Volunteer_Report_Hours</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Volunteer_Shift_Reports.Total_Hours__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Volunteer_Shift_Reports</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <description>API Version 63</description>
    <environments>Default</environments>
    <interviewLabel>Volunteers Count and Reporting Hours on Campaign {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Volunteers Count and Reporting Hours on Campaign</label>
    <loops>
        <name>Loop_through_Volunteer_Shift_Reports</name>
        <label>Loop through Volunteer Shift Reports</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_Volunteer_Reports</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Count_Reports</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Campaign_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Volunteer_Reports</name>
        <label>Get Volunteer Reports</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Volunteer_Shift_Reports</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Campaign__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Volunteer_Shift_Report__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Total_Hours__c</queriedFields>
        <queriedFields>Total_Attendance__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Campaign_Record</name>
        <label>Update Campaign Record</label>
        <locationX>176</locationX>
        <locationY>542</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Shifts_Reported__c</field>
            <value>
                <elementReference>ReportsCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Volunteer_Hours__c</field>
            <value>
                <elementReference>Volunteer_Report_Hours</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Volunteer_Reports</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReportsCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Volunteer_Report_Hours</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
