force-app/main/default/flows/Volunteer_Report_on_Campaign.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Campaign_Values</name>
        <label>Assign Campaign Values</label>
        <locationX>138</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>Camapign_Total_Attendance</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Campaigns.Total_Shifts_Reported__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Campaign_Total_Hours</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Campaigns.Total_Volunteer_Hours__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Campaigns</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values</name>
        <label>Assign Values</label>
        <locationX>270</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Total_Hour</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Reports_data.Total_Hours__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Total_Attendance</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Reports_data.Total_Attendance__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Reports_data</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Parent_Campaign</name>
        <label>Check Parent Campaign</label>
        <locationX>182</locationX>
        <locationY>947</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Parent_Campaign_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Parent_Campaign.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Child_Campaigns</targetReference>
            </connector>
            <label>Parent Campaign available</label>
        </rules>
    </decisions>
    <description>STL Recovers campaigns roll up of shifts &amp; shift attendance.</description>
    <environments>Default</environments>
    <interviewLabel>Volunteer Report on Campaign {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Volunteer Report on Campaign</label>
    <loops>
        <name>Loop_through_Campaigns</name>
        <label>Loop through Campaigns</label>
        <locationX>50</locationX>
        <locationY>1163</locationY>
        <collectionReference>Get_Child_Campaigns</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Campaign_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Parent_Campaign</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Reports_data</name>
        <label>Loop through Reports data</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Volunteer_Reports_data</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Campaign</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Child_Campaigns</name>
        <label>Get Child Campaigns</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Campaigns</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Parent_Campaign.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Volunteer_Reports_data</name>
        <label>Get Volunteer Reports data</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Reports_data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Campaign__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Campaign__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Volunteer_Shift_Report__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Total_Attendance__c</queriedFields>
        <queriedFields>Total_Hours__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Parent_Campaign</name>
        <label>Parent Campaign</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Parent_Campaign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Campaign__r.ParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Campaign</name>
        <label>Update Campaign</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <connector>
            <targetReference>Parent_Campaign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Campaign__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Shifts_Reported__c</field>
            <value>
                <elementReference>Total_Attendance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Volunteer_Hours__c</field>
            <value>
                <elementReference>Total_Hour</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Parent_Campaign</name>
        <label>Update Parent Campaign</label>
        <locationX>50</locationX>
        <locationY>1463</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Parent_Campaign.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Shifts_Reported__c</field>
            <value>
                <elementReference>Camapign_Total_Attendance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Volunteer_Hours__c</field>
            <value>
                <elementReference>Campaign_Total_Hours</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Volunteer_Reports_data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Total_Hours__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Volunteer_Shift_Report__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Camapign_Total_Attendance</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Campaign</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>Campaign_Total_Hours</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Total_Attendance</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Total_Hour</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
